<template>
  <div class="container-fluid">
    <table class="table table-hover">
      <transition-group name="layer-data" tag="tbody">
        <template v-for="(item, index) in flatDataTree" :key="'layer-data-' + index">
          <tr @click.stop="toggleData(item.data)" :class="{ active: item.id === projectData.id }"
              v-show="showItem(item)">
            <td>
              <div :style="{ 'margin-left': 30 + item.level*20 + 'px' }">
                <div v-if="item.hasChildren" class="toggler" @click.stop="toggle(item)">
                  <span v-if="item.showChildren" class="fas fa-caret-down treenav-collapse"></span>
                  <span v-else class="fas fa-caret-right treenav-collapse"></span>
                </div>
                {{ item.name }}
              </div>
            </td>
            <td>
              {{ useFormatDataType(item.data_type) }}
            </td>
            <td>
              <input type="checkbox" v-if="item.data" :checked="checkedData.indexOf(item.data) !== -1" @change.prevent>
            </td>
          </tr>
        </template>
      </transition-group>
    </table>
  </div>
</template>


<style scoped>
.treenav-collapse {
  color: grey;
}

.toggler {
  z-index: 10;
  width: 20px;
  display: inline-block;
  position: absolute;
  transform: translateX(-100%);
}
.layer-data-enter-active, .layer-data-leave-active {
  transition: opacity .1s;
}
.layer-data-enter, .layer-data-leave-to {
  opacity: 0;
}
</style>


<script>
import { mapGetters, mapActions } from 'vuex';
import { useFormatDataType } from '../../format.js';

function getFlatDataTree(root, parent=null) {
    let rootData = {
        name: root.name,
        id: root.id,
        data: root.data,
        data_type: root.data_type,
        parent: parent,
        hasChildren: root.input_data.length > 0,
        level: parent !== null ? parent.level + 1 : 0,
        showChildren: true
    };
    let flatTree = [ rootData ];
    for (let child of root.input_data) {
        flatTree.push(...getFlatDataTree(child, rootData));
    }
    return flatTree;
}

export default {
    data: function () {
        return {
            flatDataTree: [],
            checkedData: []
        };
    },
    computed: mapGetters({
        geoData: 'geoData',
        projectData: 'projectDataDetails',
        hierarchy: 'projectHierarchyFull'
    }),
    watch: {
        geoData: function (newGeoData) {
            this.initCheckboxes(newGeoData);
        },
        hierarchy: function (hierarchy) {
            this.initDataTree(hierarchy);
        }
    },
    methods: {
        ...mapActions({
            loadGeoData: 'loadGeoData',
            removeGeoData: 'removeGeoData'
        }),
        initCheckboxes: function (geoData) {
            // set the checkboxes state from the loaded data
            if (Object.keys(geoData).length > 0) {
                this.checkedData = Object.keys(geoData).map(Number);
            }
        },
        useFormatDataType,
        initDataTree: function (hierarchy) {
            let flatDataTree = [];
            if (hierarchy) {
                flatDataTree = getFlatDataTree(hierarchy);
            }
            this.flatDataTree = this.initTreeView(flatDataTree);
        },
        initTreeView: function (flatTree) {
            if (this.projectData && 'id' in this.projectData) {
                let current = flatTree.find((item) => item.id === this.projectData.id);
                if (current !== undefined) {
                    flatTree.map((item) => item.showChildren = false);
                    while (current.parent !== null) {
                        current.parent.showChildren = true;
                        current = current.parent;
                    }
                }
            }
            return flatTree;
        },
        toggleData: function (id) {
            let index = this.checkedData.indexOf(id);
            if (index === -1) {
                this.loadGeoData(id);
                this.checkedData.push(id);
            } else {
                this.removeGeoData(id);
                this.checkedData.splice(index, 1);
            }
        },
        /**
         * Returns true if the item and all his parent have the `showChildren` attribute true
         */
        showItem: function (item) {
            if (item.parent !== null) {
                return item.parent.showChildren && this.showItem(item.parent);
            } else {
                return true;
            }
        },
        toggle: function (item) {
            item.showChildren = !item.showChildren;
        }
    },
    created: function () {
        this.initCheckboxes(this.geoData);
        this.initDataTree(this.hierarchy);
    }
};
</script>
