<template>
    <div class="container-fluid" v-if="feature.explainability">
        <WeightedSum v-if="feature.explainability.pref_type=='weighted_sum'"></WeightedSum>
        <MRSort v-else-if="feature.explainability.pref_type=='mrsort'"></MRSort>
        <CategoriesRule v-else-if="feature.explainability.pref_type=='categories_rule'"></CategoriesRule>
        <div v-else-if="feature.explainability.pref_type=='continuous_rule'">No explaination available for Rule model.</div>
        <div v-else-if="feature.explainability.pref_type=='merged_features'">No explaination available for Dissolved Adjacent Features.</div>
        <table class="mt-2 table table-striped table-sm" v-if="feature.explainability.disaggregation">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Value</th>
                    <th scope="col"><button class="btn btn-outline-light btn-sm" 
                        :class="{'fas fa-chevron-up': showDisaggregation, 'fas fa-chevron-down': !showDisaggregation}"
                        @click="showDisaggregation = !showDisaggregation"></button></th>
                </tr>
            </thead>
            <tbody v-if="showDisaggregation">
                <tr v-for="disag in feature.explainability.disaggregation">
                    <th scope="row">{{ disag.data }}.{{ disag.attribute }}</th>
                    <td>{{ disag.value }}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <div v-else-if="feature.explainability.aggregated">Overlapping Features Aggregated (method: {{ feature.explainability.pref_type }})</div>
        <table class="mt-2 table table-striped table-sm" v-if="feature.explainability.aggregated">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Values</th>
                    <th scope="col"><button class="btn btn-outline-light btn-sm" 
                        :class="{'fas fa-chevron-up': showOverlappingValues, 'fas fa-chevron-down': !showOverlappingValues}"
                        @click="showOverlappingValues = !showOverlappingValues"></button></th>
                </tr>
            </thead>
            <tbody v-if="showOverlappingValues">
                <tr v-for="disag in feature.explainability.aggregated">
                    <th scope="row">{{ disag.attribute }}</th>
                    <td>{{ disag.values }}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container-fluid" v-else>
        Select an area on the map
    </div>
</template>


<script>
import weightedSum from './models/weighted-sum.vue';
import mrsort from './models/mrsort.vue';
import categoriesRule from './models/categories-rule.vue';
import { mapGetters } from 'vuex';

export default {
    components: { 
        'WeightedSum': weightedSum,
        'MRSort': mrsort,
        'CategoriesRule': categoriesRule
    },
    data() {
        return {
            showDisaggregation: false,
            showOverlappingValues: false
        }
    },
    computed: {
        ...mapGetters({
            feature: 'feature',
        })
    },
    watch: {
        /*
        'feature.explainability': {
            immediate: 'true',
            handler: function (explainability) {
                console.log(explainability.disaggregation);
            }
        }
        */
    }
};
</script>
