<template>
  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item" v-for="(tab, index) in tabs" @click="current = index">
        <a class="nav-link" role="tab" :class="{ active: current === index }">{{ tab.title }}</a>
      </li>
    </ul>
    <div class="tab-content panel-content py-2">
      <keep-alive>
        <component class="tab-pane active" :is="tabs[current] && tabs[current].component"></component>
      </keep-alive>
    </div>
  </div>
</template>


<style>
.panel-menu {
    height: 42px;
    width: 100%;
}

.panel-content {
    overflow: auto;
    width: 100%;
}
</style>


<script>
import { mapGetters } from 'vuex';
import stats from './statistics.vue';
import dataExplorer from './data-explorer.vue';
import layers from './layers.vue';
import explainability from './explainability.vue';

export default {
    components: {
        'stats': stats,
        'data-explorer': dataExplorer,
        'layers': layers,
        'explainability': explainability,
    },
    computed: mapGetters({
        panelVisible: 'panelVisible',
        panelComponents: 'panelComponents'
    }),
    data: function () {
        return {
            tabs: [],
            current: 0
        };
    },
    watch: {
        panelComponents: {
            immediate: true,
            deep: true,
            handler: function () {
                let tabs = [];
                if (this.panelComponents.dataExplorer) {
                    tabs.push({ title: 'Data explorer', component: 'data-explorer' });
                }
                if (this.panelComponents.stats) {
                    tabs.push({ title: 'Summary', component: 'stats' });
                }
                if (this.panelComponents.layers) {
                    tabs.push({ title: 'Layers', component: 'layers' });
                }
                if (this.panelComponents.explainability) {
                    tabs.push({ title: 'Explainability', component: 'explainability' });
                }
                this.tabs = tabs;
                this.current = 0;
            }
        }
    }
};
</script>
