<template>
  <component :is="component"></component>
</template>


<script>
import { mapGetters } from 'vuex';
import continuousInputList from '../PreferenceModels/continuous-input-list.vue';
import discreteInputList from '../PreferenceModels/discrete-input-list.vue';

export default {
    components: {
        'continuous': continuousInputList,
        'discrete': discreteInputList
    },
    computed: {
        ...mapGetters({
            data: 'projectDataDetails'
        }),
        component: function () {
            let prefType = ('preference_model' in this.data) ? this.data.preference_model.pref_type : undefined;
            if (prefType === 'continuous_rule') {
                return 'continuous';
            } else if (prefType === 'categories_rule') {
                return 'discrete';
            } else {
                return null;
            }
        }
    }
};
</script>
