<template>
  <div class="container-fluid">
    <table class="table table-sm">
      <thead>
        <th>Data</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </thead>

      <tbody>
        <template v-for="(geoData, index) in geoDataArray">
          <tr>
            <td rowspan="2">{{ geoData.data.name }}</td>
            <td>
              <button :disabled="index === 0" class="btn btn-outline-secondary btn-sm" aria-label="Move up" title="Move up"
                  @click="moveOrder(index, index - 1)">
                <span class="fas fa-arrow-up" aria-hidden="true"></span>
              </button>
              <button :disabled="index === (geoDataArray.length - 1)" class="btn btn-outline-secondary btn-sm"
                  @click="moveOrder(index, index + 1)" aria-label="Move down" title="Move down">
                <span class="fas fa-arrow-down" aria-hidden="true"></span>
              </button>
            </td>
            <td>
              <select v-model="geoData.params.attribute" class="form-control form-control-sm"
                  @change="setAttribute(geoData.data.id, geoData.params.attribute)">
                <option :value="null">Select an attribute</option>
                <option v-for="(attr, attrIndex) in geoData.data.attributes" :value="attrIndex">
                  {{ attr.name }}
                </option>
              </select>
            </td>
            <td>
              <input type="range" v-model.number="geoData.params.opacity" class="form-control form-control-sm"
                  min="0" max="1" step="0.1" @input="setOpacity(geoData.data.id, geoData.params.opacity)">
            </td>
            <td>
              <button @click="removeGeoData(geoData.data.id)" class="btn btn-outline-secondary btn-sm"
                  aria-label="Remove" title="Remove">
                <span aria-hidden="true" class="fas fa-times"></span>
              </button>
            </td>
          </tr>

          <tr>
            <td>
              <span v-if="geoData.params.color.type === 'scale' || geoData.params.color.type === 'color'">
                <input type="color" v-model="geoData.params.color.base" class="form-control input-sm"
                    @change="setColor(geoData.data.id, geoData.params.color.base)">
              </span>
              <span v-else-if="geoData.params.color.type === 'map'">
                <select v-model="geoData.params.color.base" class="form-control form-control-sm"
                    @change="setColor(geoData.data.id, geoData.params.color.base)">
                  <option v-for="c in geoDataDivergingColors" :value="c">{{ c }}</option>
                </select>
              </span>
              <span v-else>&nbsp;</span>
            </td>
            <td colspan="3">
              <div class="legend-color" :style="{background: getColorLegend(geoData.params.color) }">
                <template v-if="labels.has(geoData.data.id)">
                  <span v-if="labels.get(geoData.data.id).left"
                      :style="{ color: labels.get(geoData.data.id).left.color }">
                    {{ labels.get(geoData.data.id).left.text }}
                  </span>
                  <span v-if="labels.get(geoData.data.id).right"
                      :style="{ color: labels.get(geoData.data.id).right.color, float: 'right' }">
                    {{ labels.get(geoData.data.id).right.text }}
                  </span>
                </template>
              </div>
            </td>
          </tr>
        </template>
      </tbody>
    </table>
  </div>
</template>


<style>
.legend-color {
    padding: 5px 8px;
    height: 30px;
}
</style>


<script>
import { mapGetters, mapActions } from 'vuex';
import chroma from 'chroma-js';
import cloneDeep from 'lodash/cloneDeep';

export default {
    computed: {
        ...mapGetters({
            geoData: 'geoData',
            geoDataOrder: 'geoDataOrder',
            geoDataParameters: 'geoDataParameters',
            geoDataDivergingColors: 'geoDataDivergingColors'
        }),
        geoDataArray: function () {
            // reverse the order and return an array
            let order = this.geoDataOrder.slice().reverse();
            let arr = [];
            for (let dataId of order) {
                arr.push({
                    data: this.geoData[dataId],
                    params: cloneDeep(this.geoDataParameters[dataId])
                });
            }
            return arr;
        },
        labels: function () {
            let labels = new Map();
            for (let gd of this.geoDataArray) {
                let color = gd.params.color;
                if (color.type === 'map') {
                    let last = color.values.length - 1;
                    let label = {
                        left: {
                            text: color.values[last][0],
                            color: this.getLabelColor(color.values[last][1])
                        },
                        right: {
                            text: color.values[0][0],
                            color: this.getLabelColor(color.values[0][1])
                        }
                    };
                    labels.set(gd.data.id, label);
                } else if (color.type === 'scale') {
                    let label = {
                        left: {
                            text: color.domain ? color.domain[0] : '',
                            color: this.getLabelColor(color.base, -2)
                        },
                        right: {
                            text: color.domain ? color.domain[1] : '',
                            color: this.getLabelColor(color.base, 2)
                        }
                    };
                    labels.set(gd.data.id, label);
                }
            }
            return labels;
        }
    },
    methods: {
        ...mapActions({
            removeGeoData: 'removeGeoData',
            moveGeoDataOrder: 'moveGeoDataOrder',
            setGeoDataColorAttribute: 'setGeoDataColorAttribute',
            setGeoDataBaseColor: 'setGeoDataBaseColor',
            setGeoDataParameters: 'setGeoDataParameters'
        }),
        moveOrder: function (oldIndex, newIndex) {
            return this.moveGeoDataOrder({
                // reverse the order
                oldIndex: this.geoDataArray.length - oldIndex - 1,
                newIndex: this.geoDataArray.length - newIndex - 1
            });
        },
        setAttribute: function (geoDataId, attributeIndex) {
            this.setGeoDataColorAttribute({
                geoDataId: geoDataId,
                attributeIndex: attributeIndex
            });
        },
        setOpacity: function (geoDataId, opacity) {
            let params = Object.assign({}, this.geoDataParameters[geoDataId], { opacity: opacity });
            this.setGeoDataParameters({ geoDataId: geoDataId, parameters: params });
        },
        setColor: function (geoDataId, color) {
            this.setGeoDataBaseColor({ geoDataId: geoDataId, baseColor: color });
        },
        getColorLegend: function (color) {
            if (color.type === 'color') {
                return color.base;
            } else if (color.type === 'scale') {
                let c = chroma(color.base);
                let values = [c.brighten(2), c.darken(2)];
                return 'linear-gradient(to right, ' + values[0].hex() + ', ' + values[1].hex() + ')';
            } else if (color.type === 'map') {
                let colorsStr = [];
                for (let i = 0; i < color.values.length; i++) {
                    let c = color.values[i][1];
                    colorsStr.push(c + ' ' + 100*i/color.values.length + '%');
                    colorsStr.push(c + ' ' + 100*(i+1)/color.values.length + '%');
                }
                let str = 'linear-gradient(to left';
                for (let cStr of colorsStr) {
                    str += ', ' + cStr;
                }
                str += ')';
                return str;
            }
        },
        /**
         * Return the color for the label depending on the input background color.
         *
         * If the background color is bright the text will be black, and white otherwise.
         *
         * @param {string} color - the hex representation of a color
         * @param {number} offset - the offset to darken (if > 0) or brighten (if < 0) the color
         * @returns {string} The hex representation of the contrasting color (black or white)
         */
        getLabelColor: function (color, offset) {
            let c = chroma(color);
            if (offset) { c = c.darken(offset); }
            return c.luminance() > 0.5 ? '#000000' : '#ffffff';
        }
    }
};
</script>
