<template>
  <div class="container-fluid">
    <div v-if="geoData">
        <table class="table" v-if="dataStats">
          <thead>
            <th class="col-fit">Data</th>
            <th class="col-fit">&nbsp;</th>
            <th class="col-fit">Attribute</th>
            <th class="col-fit">&nbsp;</th>
            <th>Descriptive statistics</th>
          </thead>
          <tbody>
            <template v-for="data in dataStats">
              <template v-if="data.open">
                <tr v-for="(attr, index) in data.attributes">
                  <td>
                    <span v-if="index === 0">{{ data.name }}</span>
                    <span v-else>&nbsp;</span>
                  </td>
                  <td>
                    <span v-if="index === 0" @click="data.open = false" class="fas fa-caret-down"></span>
                  </td>
                  <td>{{ attr.attribute }}</td>
                  <td>
                    <span @click="attr.open = !attr.open">
                      <span v-if="attr.open" class="fas fa-caret-down"></span>
                      <span v-else class="fas fa-caret-right"></span>
                    </span>
                  </td>
                  <td>
                    <transition name="attribute">
                    <ul v-show="attr.open">
                      <li v-if="'count' in attr.stats && 'total' in attr.stats">
                        Missing values: {{ attr.stats.total - attr.stats.count }} out of {{ attr.stats.total }}
                      </li>
                      <li v-if="'unique' in attr.stats">Unique values: {{ attr.stats.unique }}</li>
                      <li v-if="'top' in attr.stats">
                        Most common value: {{ attr.stats.top }} <span v-if="'freq' in attr.stats">(frequency {{ attr.stats.freq }})</span>
                      </li>
                      <li v-if="'max' in attr.stats">Maximum: {{ attr.stats.max }}</li>
                      <li v-if="'min' in attr.stats">Minimum: {{ attr.stats.min }}</li>
                      <li v-if="'mean' in attr.stats">Mean: {{ attr.stats.mean }}</li>
                      <li v-if="'std' in attr.stats">Standard deviation: {{ attr.stats.std }}</li>
                      <li v-if="'percentiles' in attr.stats">Percentiles:
                        <ul><li v-for="(val, key) in attr.stats.percentiles">{{ key }}: {{ val }}</li></ul>
                      </li>
                      <li v-if="values.has(attr.id)">
                        <div class="stats-values">Values: {{ values.get(attr.id) }}</div>
                      </li>
                    </ul>
                    </transition>
                  </td>
                </tr>
              </template>
              <tr v-else>
                <td>{{ data.name }}</td>
                <td>
                  <span @click="data.open = true" class="fas fa-caret-right"></span>
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </template>
          </tbody>
        </table>
      <p v-else><em>No statistics for this data</em></p>
    </div>
  </div>
</template>


<style>
.attribute-enter-active, .attribute-leave-active {
    transition: opacity .1s;
}
.attribute-enter, .attribute-leave-to {
    opacity: 0;
}

.stats-values {
    max-height: 150px;
    overflow-y: auto;
}
</style>


<script>
import uniq from 'lodash/uniq';
import { mapGetters } from 'vuex';
import api from '../../api';

export default {
    data: function () {
        return {
            dataStats: [],
            values: new Map()
        };
    },
    computed: mapGetters({
        geoData: 'geoData'
    }),
    watch: {
        geoData: {
            immediate: true,
            handler: function () {
                this.initStats();
            }
        }
    },
    methods: {
        initStats: function () {
            let dataStats = [];
            this.values.clear();
            for (let id in this.geoData) {
                let data = this.geoData[id];
                let attrs = [];
                for (let attr of data.attributes) {
                    attrs.push({
                        id: attr.id,
                        attribute: attr.name,
                        stats: attr.statistics,
                        open: false
                    });
                    if (attr.type === 'nominal') {
                        api.getDataAttributeDetails(attr.id, true)
                        .then((resp) => {
                            this.values.set(attr.id, uniq(resp.data.attribute.values));
                        });
                    }
                    else if (attr.type === 'ordinal') {
                        this.values.set(attr.id, attr.order);
                    }
                }
                dataStats.push({
                    id: data.id,
                    name: data.name,
                    open: true,
                    attributes: attrs
                });
            }
            this.dataStats = dataStats;
        }
    }
};
</script>
