<template>
  <div>
    <h3 v-if="isTitle && !editingField">
      {{ modelValue }}
      <span class="fas fa-pen action field-action" @click="editField" style="padding-left: 5px;"></span>
    </h3>
    <div v-if="!isTitle && !editingField">
      {{ modelValue }}
      <span class="fas fa-pen action field-action" @click="editField" style="padding-left: 5px;"></span>
    </div>
    <form v-if="editingField" class="form-inline" @submit.prevent>
      <input type="text" class="form-control mb-2 mr-sm-2" v-model="newValue" placeholder="Value"
          @keyup.enter="acceptEdit" @keyup.esc="cancelEdit" v-focus :class="{ 'is-invalid': invalidValue() }">
      <button @click="acceptEdit" :disabled="invalidValue()" type="submit" class="btn btn-primary btn-sm mb-2 mr-sm-1">
        <span class="fas fa-check"></span>
      </button>
      <button @click="cancelEdit" class="btn btn-secondary btn-sm mb-2" type="button">
        <span class="fas fa-times"></span>
      </button>
      <div class="invalid-feedback">
        The name should begin with an alphabetical character and contain alphanumerical characters or underscores.
        It should not be one of the <span class="text-help" :title="reservedWords">reserved words</span>.
      </div>
    </form>
  </div>
</template>


<script>
import { reservedWords, isValidName } from '../validators';
import useVuelidate from '@vuelidate/core';

export default {
    name: 'field',
    props: {
        modelValue: String,
        isTitle: {
            type: Boolean,
            default: true
        },
        strictValue: {
            // Block validation if it does not respect the format 'isValidName'
            type: Boolean,
            default: true
        }
    },
    emits: ['update:modelValue'],
    data: function () {
        return {
            newValue: '',
            editingField: false
        };
    },
    setup(){
        return{
            v$: useVuelidate()
        }
    },
    directives: {
        focus: {
            inserted: function (el) {
                el.focus();
            }
        }
    },
    computed: {
        reservedWords: function () {
            return reservedWords.join(', ');
        }
    },
    methods: {
        invalidValue: function () {
            return this.v$.newValue.$invalid && this.strictValue
        },
        editField: function () {
            this.newValue = this.modelValue;
            this.editingField = true;
        },
        acceptEdit: function () {
            if (this.invalidValue() === false) {
                this.editingField = false;
                this.$emit('update:modelValue', this.newValue);
            }
        },
        cancelEdit: function () {
            this.editingField = false;
            this.newValue = '';
        }
    },
    validations: function () {
        return {
            newValue: { isValidName }
        };
    }
};
</script>
