<template>
  <div>
    <label class="btn btn-primary" :disabled="disabled" for="file-upload">
      {{ text }}
    </label>
    <input type="file" :multiple="multiple" @change="update($event)" :disabled="disabled" id="file-upload" class="file-upload" :accept="fileType">
  </div>
</template>


<style>
input.file-upload[type="file"] {
    display: none;
}
</style>


<script>
export default {
    name: 'file-upload',
    emits: ["update:files"],
    props: {
        disabled: {
            type: Boolean,
            default: false
        },
        multiple: {
            type: Boolean,
            default: false
        },
        fileType: {
            type: String,
            default: null
        }
    },
    data: function () {
        return {
            text: this.multiple ? 'Choose files' : 'Choose file'
        };
    },
    methods: {
        update: function (evt) {
            let files = evt.target.files || evt.dataTransfer.files;
            this.$emit('update:files', files);
            if (files.length == 1) {
                this.text = '1 file selected';
            } else {
                this.text = files.length + ' files selected';
            }
        }
    }
};
</script>
