<template>
  <div>
    <recommendations-map :pointer="true" class="map" v-if="$route.name === 'projectRecommendations'">
    </recommendations-map>
    <data-map :pointer="true" class="map" v-else>
      <div class="ol-panel" v-if="showAttr">
        <p v-if="hasSelected">{{ featureDataName }}</p>
        <p v-else><em>No feature selected</em></p>
        <ul>
          <li v-for="(prop, attr) in feature.properties">
            {{ attr }}
            <span>: {{ prop }}</span>
          </li>
        </ul>
      </div>
      <div class="ol-control" style="position: absolute; top: 7px; right: 7px;">
        <button v-if="showAttr" type="button">
          <span class="fas fa-chevron-up action" @click="showAttr = false"></span>
        </button>
        <button v-else type="button">
          <span class="fas fa-chevron-down action" @click="showAttr = true"></span>
        </button>
      </div>
    </data-map>
  </div>
</template>


<script>
import { mapGetters } from 'vuex';
import GeoDataMap from './GeoDataMap.vue';
import RecommendationsMap from './ProjectRecommendations/objective-map.vue';

export default {
    components: {
        'data-map': GeoDataMap,
        'recommendations-map': RecommendationsMap
    },
    computed: {
        ...mapGetters({
            feature: 'feature',
            geoData: 'geoData'
        }),
        featureDataName: function () {
            let dataId = this.feature.geo_data;
            if (dataId in this.geoData) {
                return this.geoData[dataId].name;
            } else {
                return '';
            }
        },
        hasSelected: function () {
            return this.feature && Object.keys(this.feature).length > 0;
        }
    },
    data: function () {
        return {
            showAttr: true
        };
    }
};
</script>
