<template>
  <div class="map-container">
    <div ref="mapRef" style="height: 100%;"></div>
    <slot></slot>
    <div class="ol-control map-button-extent">
      <button type="button" title="Zoom to extent" @click="initMapExtent">
        <span class="fas fa-crosshairs"></span>
      </button>
    </div>
    <div class="ol-control layers">
      <ul class="map-options">
        <li>
          <label class="checkbox-inline">
            <input type="checkbox" :checked="backgroundVisible" @change="toggleBackground"> Background
          </label>
        </li>
        <li>
          <label class="checkbox-inline" :class="{ disabled: projectExtent === undefined }">
            <input type="checkbox" :checked="projectExtentVisible" @change="toggleProjectExtent"
                :disabled="projectExtent === undefined">
            Project extent
          </label>
        </li>
      </ul>
    </div>
  </div>
</template>


<style scoped>
.layers {
    position: absolute;
    bottom: .5em;
    left: .5em;
}
.map-button-extent {
    position: absolute;
    top: 4.3em;
    left: .5em;
}
ul.map-options {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}
</style>


<script>
import 'ol/ol.css';
import { Map, View, Feature } from 'ol';
import { Tile, Vector as VectorLayer, VectorTile as VectorTileLayer, Group } from 'ol/layer';
import { OSM, Vector as VectorSource } from 'ol/source';
import VectorTileSource from 'ol/source/VectorTile';
import { Style, Stroke, Fill, Circle } from 'ol/style';
import { MVT } from 'ol/format';
import { fromLonLat, transformExtent, get as projGet } from 'ol/proj';
import { fromExtent as polygonFromExtent } from 'ol/geom/Polygon';
import { mapGetters, mapActions } from 'vuex';
import { getColor, getMapExtent, tileLoadFunction } from '../geo-data-utils';

export default {
    data: function () {
        return {
            baseLayer: new Tile({
                source: new OSM()
            }),
            dataLayers: new Group(),
            projectExtentLayer: new VectorLayer({
                source: new VectorSource(),
                style: new Style({
                    stroke: new Stroke({
                        color: 'rgba(0, 0, 255, 0.5)',
                        width: 2
                    }),
                    fill: new Fill({
                        color: 'rgba(0, 0, 255, 0.1)'
                    })
                })
            })
        };
    },
    computed: {
        ...mapGetters({
            geoData: 'geoData',
            geoDataOrder: 'geoDataOrder',
            geoDataParams: 'geoDataParameters',
            project: 'projectDetails',
            feature: 'feature',
            features: 'geoDataFeatures',
            backgroundVisible: 'backgroundVisible',
            projectExtentVisible: 'projectExtentVisible',
            projectExtent: 'projectExtent',
            lastUIUpdate: 'lastUIUpdate'
        }),
        categoryAttribute: function () {
            let geoDataIds = Object.keys(this.geoData);
            if (geoDataIds.length === 1) {
                let data = this.geoData[geoDataIds[0]];
                if (data.attributes.length === 1 && data.attributes[0].type === 'ordinal') {
                    return { name: data.attributes[0].name, values: data.attributes[0].order };
                } else {
                    return null;
                }
            } else {
                return null;
            }
        }
    },
    props: {
        pointer: { type: Boolean, default: false }
    },
    watch: {
        /**
         * Watch if the geo-data has changed to reinitialise the map
         */
        geoData: function (newData, oldData) {
            this.loadGeoData(Object.keys(newData), Object.keys(oldData));
        },
        geoDataOrder: function (newIds, oldIds) {
            this.loadGeoData(newIds, oldIds);
        },
        /**
         * Watch changes in the parameters.
         *
         * If the attribute has changed the data layer is reloaded, otherwise it is refreshed.
         */
        geoDataParams: function (newData, oldData) {
            let sameAttrs = Object.keys(newData).every(
                (id, i) => newData[id].attribute === oldData[id].attribute);
            if (newData.length !== oldData.length || sameAttrs === false) {
                this.loadGeoData(Object.keys(newData), Object.keys(oldData));
            }
            else if (this.dataLayers) {
                // refresh the layers
                let layers = this.dataLayers.getLayers();
                layers.forEach((layer) => { layer.changed(); });
            }
        },
        backgroundVisible: function (visible) {
            this.baseLayer.setVisible(visible);
        },
        projectExtentVisible: function (visible) {
            this.projectExtentLayer.setVisible(visible);
        },
        /**
         * Update the project extent layer when the project extent is modified
         */
        projectExtent: function () {
            this.drawProjectExtent();
        },
        /**
         * Update the size of the map
         */
        lastUIUpdate: function () {
            if (this.map) {
                // wait until the DOM has been updated to update the size of the map
                this.$nextTick(() => {
                    this.map.updateSize();
                });
            }
        }
    },
    methods: {
        ...mapActions({
            loadFeature: 'loadFeature',
            clearFeature: 'clearFeature',
            getFeatureColor: 'getFeatureColor',
            mapUpdated: 'mapUpdated',
            setBackgroundVisibility: 'setBackgroundVisibility',
            setProjectExtentVisibility: 'setProjectExtentVisibility'
        }),
        loadGeoData: function (newIds, oldIds) {
            oldIds = Array.from(oldIds).sort();
            newIds = Array.from(newIds).sort();
            if (oldIds.length === 0 && newIds.length > 0) {
                // Set the map extent if the first data is loaded
                this.initMapExtent();
            }
            if (oldIds.length !== newIds.length || false === oldIds.every((val, i) => val === newIds[i])) {
                // clear if the two arrays are different
                this.initDataLayers();
                this.clearSelected();
            }
            else {
                this.initDataLayers();
            }
        },
        getStyle: function (feature, geoDataId) {
            let stroke = null;
            let fill = null;
            if (feature.get('id') === this.feature.id) {
                stroke = new Stroke({ color: '#f00', width: 2 });
                fill = new Fill({ color: 'rgba(255, 0, 0, 0.4)' });
            }
            else {
                stroke = new Stroke({ color: '#000', width: 1 });
                fill = new Fill({ color: getColor(this.geoDataParams[geoDataId], feature.get('value')) });
            }
            return new Style({
                stroke: stroke,
                fill: fill,
                image: new Circle({
                    stroke: stroke,
                    fill: fill,
                    radius: 5
                })
            });
        },
        initDataLayers: function () {
            let geoDataIds = this.geoDataOrder;
            let layers = this.dataLayers.getLayers();
            layers.clear();
            for (let i=0; i<geoDataIds.length; i++) {
                let id = geoDataIds[i];
                let url = 'geo-data/' + id + '/tiles/{z}/{x}/{y}';
                if (this.geoDataParams[id].attribute !== null) {
                    url += '?property=' + this.geoData[id].attributes[this.geoDataParams[id].attribute].name;
                }
                let newLayer = new VectorTileLayer({
                    source: new VectorTileSource({
                        format: new MVT(),
                        url: url,
                        tileLoadFunction: tileLoadFunction
                    }),
                    style: (feature) => this.getStyle(feature, id)
                });
                layers.push(newLayer);
            }
        },
        /**
         * Initialise the map and the layers
         */
        initMap: function () {
            this.baseLayer.setVisible(this.backgroundVisible);
            this.projectExtentLayer.setVisible(this.projectExtentVisible);
            let layers = [
                this.baseLayer, // OpenStreeMap as the background layer
                this.projectExtentLayer,
                this.dataLayers
            ];
            this.map = new Map({
                target: this.$refs.mapRef,
                layers: layers,
                view: new View({
                    center: fromLonLat([-4.57, 48.36]),
                    zoom: 8
                })
            });
            this.drawProjectExtent();
            if (this.pointer) {
                this.map.on('click', this.loadNextAttribute);
            }
        },
        /**
         * Use the 'extent' property of the geo-data to fit the view extent of the map
         */
        initMapExtent: function () {
            if (Object.keys(this.geoData).length > 0) {
                let dataExtents = Object.values(this.geoData).map(d => d.extent);
                let extent;
                if (this.project && this.project.extent) {
                    extent = getMapExtent(dataExtents, this.project.extent);
                } else {
                    extent = getMapExtent(dataExtents, null);
                }
                extent = transformExtent(extent, projGet('EPSG:4326'), this.map.getView().getProjection());
                this.map.getView().fit(extent, { padding: [5, 5, 5, 5] });
            }
        },
        /**
         * Cycle through the feature intersecting on the point clicked on the map
         */
        loadNextAttribute: function (evt) {
            let features = this.map.getFeaturesAtPixel(
                evt.pixel,
                {
                    layerFilter: (layer) => {
                        let layersArray = this.dataLayers.getLayers().getArray();
                        return layersArray.some((dLayer) => dLayer === layer);
                    }
                }
            );
            if (features !== null) {
                let id = 0;
                for (let i=0; i<features.length; i++) {
                    if (features[i].get('id') === this.feature.id) {
                        id = i;
                        break;
                    }
                }
                // Cycle back to the first feature when clicking on the last
                id = (id+1) < features.length ? id+1 : 0;
                let f = features[id];
                this.loadFeature(f.get('id'))
                .then(() => {
                    let layers = this.dataLayers.getLayers();
                    layers.forEach((layer) => { layer.getSource().changed(); });
                });
            } else {
                this.clearSelected();
            }
        },
        clearSelected: function () {
            this.clearFeature()
            .then(() => {
                let layers = this.dataLayers.getLayers();
                layers.forEach((layer) => { layer.getSource().changed(); });
            });
        },
        toggleBackground: function () {
            this.setBackgroundVisibility(!this.backgroundVisible);
        },
        /**
         * Toggle the project extent layer visibility
         */
        toggleProjectExtent: function () {
            this.setProjectExtentVisibility(!this.projectExtentVisible);
        },
        /**
         * Update the project extent layer
         */
        drawProjectExtent: function () {
            if (this.projectExtent != undefined) {
                let extent = transformExtent(
                    this.projectExtent,
                    projGet('EPSG:4326'),
                    this.map.getView().getProjection());
                let geometry = polygonFromExtent(extent);
                let feature = new Feature(geometry);
                let source = this.projectExtentLayer.getSource();
                source.clear();
                source.addFeature(feature);
            }
        }
    },
    mounted: function () {
        this.clearFeature();
        this.initDataLayers();
        this.initMap();
        this.initMapExtent();
    }
};
</script>
