<template>
  <div>
    <login v-if="!authenticated"></login>
    <div v-else class="container-fluid content-pane">
      <h3>Welcome to DE<b>SEA</b>SION</h3>
    </div>
  </div>
</template>


<script>
import { mapGetters } from 'vuex';
import Login from './Login.vue';

export default {
    components: {
        'login': Login
    },
    computed: mapGetters({
        authenticated: 'userAuthenticated'
    })
};
</script>
