<template>
  <div class="container-fluid content-pane">
    <div class="row justify-content-sm-center">
      <div class="col-sm-8 col-md-6 col-lg-4">
        <h2>Login</h2>
        <form @submit.prevent="submit">
          <div class="form-group">
            <label for="username-field">Username</label>
            <input type="text" class="form-control" placeholder="Username" v-model="username" id="username-field">
          </div>
          <div class="form-group">
            <label for="password-field">Password</label>
            <input type="password" class="form-control" placeholder="Password" v-model="password" id="password-field">
          </div>
          <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
        <div class="alert alert-warning my-2" v-if="invalidCredentials" role="alert">
          Authentication failed. Please verify the credentials you entered are correct.
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import { mapGetters, mapActions } from 'vuex';

export default {
    data: function() {
        return {
            username: '',
            password: '',
        };
    },
    computed: mapGetters({
        invalidCredentials: 'userInvalidCredentials',
        authenticated: 'userAuthenticated'
    }),
    methods: {
        ...mapActions({
            loginBasic: 'loginUserBasic',
        }),
        redirect: function (redirection) {
            if (redirection !== undefined && redirection !== this.$route.path) {
                this.$router.push(redirection);
            } else {
                this.$router.push('/');
            }
        },
        submit: function () {
            this.loginBasic({ username: this.username, password: this.password }).then(() => {
                this.redirect(this.$route.query.redirect);
            });
        }
    },
    beforeCreate: function () {
        if (this.authenticated) {
            this.redirect(this.$route.query.redirect);
        }
    }
};
</script>
