<template>
  <div class="container-fluid content-pane">
    <p>Login out. Wait for the redirection.</p>
  </div>
</template>


<script>
import { mapActions } from 'vuex';

export default {
    methods: mapActions({
        logout: 'logoutUser'
    }),
    created: function () {
        this.logout();
        this.$router.replace('/');
    }
};
</script>
