<template>
  <div @mouseup="stopDrag" @touchend="stopDrag" @mousemove="drag" @touchmove="drag" ref="main" class="main-app">
    <div class="main-app-left" :style="{ 'margin-right': mapWidthPx }">
      <router-view></router-view>
    </div>
    <div v-if="mapVisible" class="main-app-right" :style="{ width: mapWidthPx }">
      <div v-if="mapVisible" class="resize-col resize-right-pane"
          @mousedown.prevent.stop="startDragCol($event.clientX)"
          @touchstart.prevent.stop="startDragCol($event.targetTouches[0].clientX)">
        <span class="fas fa-ellipsis-v resize-icon"></span>
      </div>
      <geo-data-viewer class="top-pane" :style="{ height: mapHeightStr }"></geo-data-viewer>
      <div v-if="panelVisible" class="resize-row resize-map-pane" :style="{ top: (mapHeight - 4) + 'px' }"
          @mousedown.prevent.stop="startDragRow($event.clientY)"
          @touchstart.prevent.stop="startDragRow($event.targetTouches[0].clientY)">
        <span class="fas fa-ellipsis-h resize-icon"></span>
      </div>
      <map-panel class="bottom-pane" v-if="panelVisible" :style="{ height: 'calc(100% - ' + mapHeightPx + ')' }"></map-panel>
    </div>
  </div>
</template>


<style>
.main-app {
    overflow: hidden;
}

.main-app-left {
    height: 100%;
    overflow: auto;
}
@media(max-width: 767px) {
    .main-app-left {
        margin-left: 0px !important;
    }
}

.main-app-right {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    border-left: 1px solid #e7e7e7;
}
@media(max-width: 767px) {
    .main-app-right {
        left: 0px !important;
        width: auto !important;
    }
}

.main-app-right .top-pane {
    position: absolute;
    top: 0px;
    width: 100%;
}

.main-app-right .bottom-pane {
    position: absolute;
    bottom: 0px;
    width: 100%;
    overflow: auto;
    padding-top: 4px;
}

.resize-col {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 7px;
    z-index: 110;
}

.resize-right-pane {
    cursor: col-resize;
    background-color: #f8f8f8;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    left: -4px;
}

.resize-row {
    position: absolute;
    left: 0px;
    right: 0px;
    height: 8px;
    z-index: 100;
}

.resize-map-pane {
    cursor: row-resize;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    left: -4px;
}

.resize-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #c6c6c6;
}
</style>


<script>
import { mapGetters, mapActions } from 'vuex';
import geoDataViewer from './GeoDataViewer.vue';
import InputList from './PreferenceModels/continuous-input-list.vue';
import MapPanel from './MapPanel/index.vue';

export default {
    data: function () {
        return {
            draggingRow: false,
            draggingCol: false,
            prevCoord: { x: null, y: null },
        };
    },
    components: {
        'geo-data-viewer': geoDataViewer,
        'input-list': InputList,
        'map-panel': MapPanel,
    },
    computed: {
        ...mapGetters({
            mapVisible: 'mapVisible',
            mapWidth: 'mapWidth',
            mapHeight: 'mapHeight',
            mapWidthPx: 'mapWidthPx',
            mapHeightPx: 'mapHeightPx',
            panelVisible: 'panelVisible'
        }),
        mapHeightStr: function () {
            if (this.panelVisible) {
                return this.mapHeight + 'px';
            } else {
                return '100%';
            }
        }
    },
    methods: {
        ...mapActions({
            setMapSize: 'setMapSize'
        }),
        setSize: function (sizeX, sizeY) {
            if (sizeX > (this.$refs.main.offsetWidth - 200)) {
                sizeX = this.$refs.main.offsetWidth - 200;
            } else if (sizeX < 200) {
                sizeX = 200;
            }
            if (sizeY > (this.$refs.main.offsetHeight - 120)) {
                sizeY = this.$refs.main.offsetHeight - 120;
            } else if (sizeY < 120) {
                sizeY = 120;
            }
            this.setMapSize([sizeX, sizeY]);
        },
        startDragRow: function (prevYCoord) {
            this.draggingRow = true;
            this.prevCoord.y = prevYCoord;
        },
        startDragCol: function (prevXCoord) {
            this.draggingCol = true;
            this.prevCoord.x = prevXCoord;
        },
        stopDrag: function (evt) {
            this.draggingRow = false;
            this.draggingCol = false;
        },
        drag: function (evt) {
            if (this.draggingRow || this.draggingCol) {
                let sizeX = this.mapWidth;
                let sizeY = this.mapHeight;
                evt.preventDefault();
                evt.stopPropagation();
                let current = Object.assign({}, this.prevCoord);
                if (evt.type === 'mousemove') {
                    current.x = evt.clientX;
                    current.y = evt.clientY;
                } else if (evt.type === 'touchmove') {
                    current.x = evt.targetTouches[0].clientX;
                    current.y = evt.targetTouches[0].clientY;
                }
                if (this.draggingRow) {
                    sizeY = sizeY + (current.y - this.prevCoord.y);
                    this.prevCoord.y = current.y;
                }
                if (this.draggingCol) {
                    sizeX = sizeX - (current.x - this.prevCoord.x);
                    this.prevCoord.x = current.x;
                }
                this.setSize(sizeX, sizeY);
            }
        }
    },
    mounted: function () {
        this.setSize(this.mapWidth, this.mapHeight);
    }
};
</script>
