<template>
  <nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebar-collapse" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <router-link class="navbar-brand" :to="{ name: 'home' }">
      <img src="@/assets/icon.png" width="30" height="30" class="d-inline-block align-top">
      DE<b>SEA</b>SION
    </router-link>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
      Menu <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul v-if="authenticated" class="navbar-nav mr-auto">
        <router-link tag="li" :to="{ name: 'projectsManager' }" class="nav-item">
          <a class="nav-link">Projects</a>
        </router-link>
        <router-link tag="li" :to="{ name: 'geodataManager' }" class="nav-item">
          <a class="nav-link">GeoData</a>
        </router-link>
        <router-link tag="li" :to="{ name: 'streamManager' }" class="nav-item">
          <a class="nav-link">Streams</a>
        </router-link>
        <router-link tag="li" :to="{ name: 'globaldataManager' }" class="nav-item">
          <a class="nav-link">GlobalData</a>
        </router-link>
      </ul>
      <ul class="navbar-nav">
        <router-link v-if="!authenticated" tag="li" :to="{ name: 'login' }" class="nav-item">
          <a class="nav-link">Login</a>
        </router-link>
        <li v-else class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true">
            <span v-if="user">{{ user.username }}</span><span v-else>User</span> <span class="caret"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <router-link tag="a" :to="{ name: 'logout' }" data-toggle="collapse" class="dropdown-item">
              Logout
            </router-link>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</template>


<script>
import { mapGetters } from 'vuex';

export default {
    computed: mapGetters({
        authenticated: 'userAuthenticated',
        user: 'userDetails'
    })
};
</script>
