<template>
  <div>
    <sidebar></sidebar>
    <router-view class="project-app"></router-view>
  </div>
</template>


<style>
.project-app {
    padding: 20px;
    padding-left: 220px;
}
@media(max-width: 767px) {
    .project-app {
        padding-left: 20px !important;
    }
}
</style>


<script>
import { mapActions } from 'vuex';
import Sidebar from './Sidebar/index.vue';

export default {
    components: {
        'sidebar': Sidebar
    },
    methods: {
        ...mapActions({
            loadProject: 'loadProject',
            loadProjectHierarchy: 'loadProjectHierarchy',
            resetProjectHierarchy: 'resetProjectHierarchy',
            setProjectDetails: 'setProjectDetails',
        }),
        loadAll: function (projectId) {
            this.loadProject(projectId)
            .then(() => this.loadProjectHierarchy());
        },
    },
    created: function () {
        this.loadAll(this.$route.params.projectId);
    },
    beforeRouteUpdate: function (to, from, next) {
        this.loadAll(to.params.projectId);
        next();
    },
    /**
     * Reset the project details in the store when leaving the project's page.
     */
    beforeRouteLeave: function (to, from, next) {
        this.setProjectDetails(undefined);
        this.resetProjectHierarchy();
        next();
    }
};
</script>
