<template>
  <div class="content-pane container-fluid">
    <h1>Tasks</h1>
    <!--<button class="btn btn-default" aria-label="Refresh" @click="refresh()">-->
      <!--<span class="fas fa-sync" aria-hidden="true"></span> Refresh-->
    <!--</button>-->
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Type</th>
          <th scope="col">Task id</th>
          <th scope="col">State</th>
          <th scope="col">Progress</th>
          <th scope="col">Start time</th>
          <th scope="col">End time</th>
          <th scope="col">Message</th>
          <th scope="col">Revoke</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="task in tasks" :class="taskClass(task)">
          <td>{{ task.type || 'Unknown' }}</td>
          <td>{{ task.task_id }}</td>
          <td>{{ task.state }}</td>
          <td>
            <div v-if="task.info">{{ task.info.message }}</div>
            <div v-if="hasProgress(task)" class="progress">
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                   :style="{ 'width': task.info.progress + '%', 'min-width': '2em' }" :aria-valuenow="task.info.progress">
                {{ task.info.progress + '%' }}
              </div>
            </div>
          </td>
          <td>{{ toDateHourFormat(task.started_at) }}</td>
          <td>{{ toDateHourFormat(task.finished_at) }}</td>
          <td>{{ task.error_message }}</td>
          <td>
            <button v-if="isRunning(task)" @click="revoke(task.task_id)" class="btn btn-default" aria-label="Revoke">
              <span class="fas fa-times" aria-hidden="true"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <nav aria-label="Pages">
      <ul class="pagination">
        <li class="page-item" :class="{ disabled: hasPrevious === false }" @click="previous"><a class="page-link">Previous</a></li>
        <li class="page-item disabled">
            <span class="page-link" v-if="tasks.length > 0">{{ offset + 1 }}&ndash;{{ offset + tasks.length }} of {{ total }}</span>
            <span class="page-link" v-else>0&ndash;0 of 0</span>
        </li>
        <li class="page-item" :class="{ disabled: hasNext === false }" @click="next"><a class="page-link">Next</a></li>
      </ul>
    </nav>
  </div>
</template>


<script>
import { mapGetters, mapActions } from 'vuex';
import dayjs from 'dayjs';
import api from '../api';

export default {
    data: function () {
        return {
            tasks: [],
            intervalId: undefined,
            offset: 0,
            limit: 25,
            total: undefined
        };
    },
    computed: {
        ...mapGetters({
            projectSharedData: 'projectSharedData'
        }),
        hasPrevious: function () {
            return this.offset > 0;
        },
        hasNext: function () {
            if (this.total === undefined) {
                return false;
            } else {
                return (this.offset + this.limit) < this.total;
            }
        }
    },
    methods: {
        ...mapActions({
            notify: 'displayNotification'
        }),
        toDateHourFormat: function(datetime){
            if (datetime) {
                return dayjs(datetime).format('YYYY-MM-DD HH:mm:ss');
            }
        },
        hasProgress: function (task) {
            return task.info instanceof Object && 'progress' in task.info;
        },
        refresh: function () {
            api.getProjectTasksList(this.$route.params.projectId, this.limit, this.offset).then((resp) => {
                this.tasks = resp.data.tasks;
                this.total = resp.data.total;
            }, (resp) => {
                this.notify({ content: resp.data.message || 'Error loading the tasks for the project' });
            });
        },
        revoke: function (taskId) {
            api.revokeTask(taskId).then(() => {
                this.refresh();
            }, (resp) => {
                this.notify({ content: resp.data.message || 'Error revoking the task' });
            });
        },
        taskClass: function (task) {
            if (task.state === 'SUCCESS') {
                return 'table-success';
            } else if (task.state === 'FAILURE') {
                return 'table-danger';
            } else if (task.state === 'RETRY' || task.state === 'REVOKED') {
                return 'table-warning';
            }
        },
        isRunning: function (task) {
            return (task.state === 'PENDING' || task.state === 'STARTED');
        },
        openData: function (dataId) {
            if (this.projectSharedData.some((data) => data.id === dataId)) {
                this.$router.push({ name: 'projectData', params: {
                    projectId: this.$route.params.projectId
                }});
            } else {
                this.$router.push({ name: 'projectDataDetails', params: {
                    projectId: this.$route.params.projectId,
                    dataId: dataId
                }});
            }
        },
        previous: function (evt) {
            // if the element has the class 'disabled', ignore the event
            if (evt.currentTarget.classList.contains('disabled') === false) {
                let newOffset = this.offset - this.limit;
                if (newOffset < 0) {
                    newOffset = 0;
                }
                this.offset = newOffset;
                this.refresh();
            }
        },
        next: function (evt) {
            // if the element has the class 'disabled', ignore the event
            if (evt.currentTarget.classList.contains('disabled') === false) {
                this.offset = this.offset + this.limit;
                this.refresh();
            }
        }
    },
    mounted: function () {
        this.refresh();
        // refresh the tasks list every 5s
        this.intervalId = setInterval(() => {
            this.refresh();
        }, 5000);
    },
    beforeDestroy: function () {
        // cancel the refresh of the tasks list
        clearInterval(this.intervalId);
    }
};
</script>
