<template>
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Category</th>
                <td>{{ feature.properties.category }}</td>
            </tr>
            <tr>
                <th scope="row">Rule</th>
                <td><input type="text" readonly class="form-control" :value="feature.explainability.rule" :id="feature.id"></td>
            </tr>
        </tbody>
    </table>
</template>


<style scoped>
.centered-text{
    vertical-align: middle;
}
</style>


<script>
import { mapGetters } from 'vuex';

export default {
    computed: {
        ...mapGetters({
            feature: 'feature',
        })
    }
}
</script>