<template>
    <Line :chart-data="profilesGraph()" :chart-options="chartLineOptions"></Line>
    <Bar :chart-data="weightGraph()" :chart-options="chartBarOptions"></Bar>
</template>


<script>
import { Chart as ChartJS, CategoryScale, LinearScale, PointElement, LineElement, Title, Tooltip, Legend, Filler } from 'chart.js';
import { Line, Bar } from 'vue-chartjs'
import { mapGetters } from 'vuex';
import colors from '@/colors';

ChartJS.register(CategoryScale, LinearScale, PointElement, LineElement, Title, Tooltip, Legend, Filler);

export default {
    components: { Line, Bar },
    data: function() {
        return{
            profiles: [],
            chartLineOptions: {
                responsive: true,
                maintainAspectRatio: false,
                elements: {
                    point: { pointStyle: false }
                },
                tooltips: {
                    intersect: false,
                },
                scales: {
                    yAxes: [{
                        id: 'y-axis-data',
                        type: 'linear',
                        position: 'left',
                        //ticks: { beginAtZero: true },
                    }]
                }
            },
            chartBarOptions: {
                responsive: true,
                maintainAspectRatio: false,
                tooltips: {
                    intersect: false,
                },
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            },
        }
    },
    computed: {
        ...mapGetters({
            data: 'projectDataDetails',
            feature: 'feature',
            //data.preference_model => MRSORT !
        }),
        featureProfile: function(){
            let explainability = this.feature.explainability;
            let profile = explainability.lower ? explainability.lower : explainability.upper;
            let attributes = profile.map(elem => elem.attribute);
            let featProfile = [];
            for(let elem of explainability.disaggregation){
                if(attributes.includes(elem.attribute)){
                    featProfile.push(elem);
                }
            }
            return featProfile;
        },
    },
    methods: {
        sortAttributeList: function(listToSort){
            listToSort.sort((a, b) => {
                if(a.attribute < b.attribute){ return -1; }
                else if(a.attribute > b.attribute){ return 1; }
            })
        },
        profilesGraph: function () {
            // Set and copy variables
            let datasets = []
            let mrsort = this.data.preference_model;
            let upper = JSON.parse(JSON.stringify(this.feature.explainability.upper)); // copy
            let lower = JSON.parse(JSON.stringify(this.feature.explainability.lower)); // copy
            let featProfile = this.featureProfile;

            // Results
            this.sortAttributeList(featProfile);
            let randomColor = colors.getRandomColor();
            datasets.push({
                label: 'Results',
                backgroundColor: randomColor,
                borderColor: randomColor,
                yAxisID: 'y-axis-data',
                data: featProfile.map((elem) => elem.value)
            })

            let gradColors = colors.getDivergingColors(2, 'RdBu');
            let catIndex = mrsort.categories.findIndex((elem) => elem.name == this.feature.properties.category);

            // Lower
            if(lower != null){
                this.sortAttributeList(lower);
                datasets.push({
                    label: mrsort.categories[catIndex + 1].name + " - " + mrsort.categories[catIndex].name,
                    borderColor: gradColors[0],
                    backgroundColor: gradColors[0],
                    yAxisID: 'y-axis-data',
                    data: lower.map((elem) => elem.value),
                    fill: {
                        target: "origin",
                        above: gradColors[0]+"33"
                    },
                });
            }
            
            // Upper
            if(upper != null){
                this.sortAttributeList(upper);
                datasets.push({
                    label: mrsort.categories[catIndex].name + " - " + mrsort.categories[catIndex - 1].name,
                    borderColor: gradColors[1],
                    backgroundColor: gradColors[1],
                    yAxisID: 'y-axis-data',
                    data: upper.map((elem) => elem.value),
                    fill: {
                        target: "origin",
                        above: gradColors[1]+"33"
                    },
                });
            }

            return { labels: featProfile.map(elem => elem.attribute), datasets: datasets };
        },
        weightGraph: function () {
            // Set and copy variables
            let mrsort = this.data.preference_model;
            let upper = JSON.parse(JSON.stringify(this.feature.explainability.upper)); // copy
            let lower = JSON.parse(JSON.stringify(this.feature.explainability.lower)); // copy

            // Datasets
            let datasets = [];
            let nbAttribute = this.featureProfile.length;
            for(let i=0; i<nbAttribute; i++){
                let data = [];
                let backColors = [];
                let randomColor = colors.getRandomColor(0.3);
                if(lower != null){
                    data.push(lower[i].weight);
                    backColors.push(randomColor);
                }
                if(upper != null){
                    data.push(upper[i].weight);
                    backColors.push(randomColor);
                }

                datasets.push({
                    type: 'bar',
                    label: this.featureProfile[i].attribute,
                    data: data,
                    backgroundColor: backColors,
                    stack: "Stack 0"
                });
            }

            // Labels
            let catIndex = mrsort.categories.findIndex((elem) => elem.name == this.feature.properties.category);
            let labels = [];
            let thresholdLine = [];
            if(lower){
                labels.push(mrsort.categories[catIndex + 1].name + " - " + mrsort.categories[catIndex].name);
                thresholdLine.push(mrsort.majority_threshold);
            }
            if(upper){
                labels.push(mrsort.categories[catIndex].name + " - " + mrsort.categories[catIndex - 1].name);
                thresholdLine.push(mrsort.majority_threshold);
            }

            // Threshold
            for(let dataset of datasets){
                // Add two empty column at start and end
                dataset.data.push(0);
                dataset.data.unshift(0);
            }
            labels.push("");
            labels.unshift("");
            // Extend threshold line from start to end
            thresholdLine.push(mrsort.majority_threshold);
            thresholdLine.push(mrsort.majority_threshold);

            datasets.push({
                type: 'line',
                label: 'Threshold',
                data: thresholdLine,
                fill: false,
                borderColor: 'rgb(54, 162, 235)'
            });
            return { labels: labels, datasets: datasets };
        }
    },
}
</script>