<template>
    <div>
        <Bar :chart-data="valuesData" :chart-options="chartOptions"></Bar>
        <Bar v-if="weights.length > 0" :chart-data="weightsData" :chart-options="chartOptions"></Bar>
        <Bar v-if="scaledValues.length > 0" :chart-data="scaledData" :chart-options="scaledOptions"></Bar>
    </div>
</template>


<script>
import 'chartjs-plugin-annotation';
import { Bar } from 'vue-chartjs';
import { Chart as ChartJS,Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale } from 'chart.js';
import { mapGetters } from 'vuex';

ChartJS.register(CategoryScale, LinearScale, BarElement, Title, Tooltip, Legend);

export default {
    components: { Bar },
    data: function () {
        return {
            labels: [],
            values: [],
            scaledValues: [],
            weights: [],
            chartOptions: {
                responsive: true,
                maintainAspectRatio: false,
                tooltips: {
                    intersect: false,
                },
                scales: {
                    yAxes: [{
                        id: 'y-axis-data',
                        type: 'linear',
                        position: 'left',
                        ticks: { beginAtZero: true },
                    }]
                }
            },
        };
    },
    computed: {
        ...mapGetters({
            feature: 'feature',
        }),
        valuesData: function () {
            return {
                labels: this.labels,
                datasets: [{
                    label: 'Values',
                    backgroundColor: 'rgba(0, 0, 255, 0.2)',
                    yAxisID: 'y-axis-data',
                    data: this.values
                }]
            };
        },
        scaledData: function () {
            return {
                labels: this.labels,
                datasets: [{
                    label: 'Weighted values',
                    backgroundColor: 'rgba(255, 0, 0, 0.2)',
                    yAxisID: 'y-axis-data',
                    data: this.scaledValues
                }]
            };
        },
        scaledOptions: function () {
            let total = undefined;
            if (this.feature != undefined &&
                    this.feature.properties != undefined &&
                    this.feature.properties.result != undefined) {
                total = this.feature.properties.result;
            }
            // Modify how the the label is placed to avoid cropping it
            let yAdjust = 0;
            if (total >= 0.95*Math.max(...this.scaledValues)) {
                yAdjust = 7;
            } else if (total <= 0.95*Math.min(...this.scaledValues)) {
                yAdjust = -7;
            }
            let options = Object.assign(
                {},
                this.chartOptions,
                {
                    annotation: {
                        annotations: [{
                            type: 'line',
                            mode: 'horizontal',
                            scaleID: 'y-axis-data',
                            value: total,
                            borderColor: 'black',
                            borderWidth: 1,
                            borderDash: [2, 2],
                            label: {
                                content: 'Sum: ' + total,
                                enabled: true,
                                yAdjust: yAdjust,
                            }
                        }]
                    }
                }
            );
            return options;
        },
        weightsData: function () {
            return {
                labels: this.labels,
                datasets: [{
                    label: 'Weights',
                    backgroundColor: 'rgba(0, 255, 0, 0.2)',
                    yAxisID: 'y-axis-data',
                    data: this.weights
                }]
            };
        }
    },
    watch: {
        'feature.explainability': {
            immediate: 'true',
            handler: function (explainability) {
                if(!explainability){
                    return;
                }
                let disaggregation = explainability.disaggregation;
                let labels = [];
                let data = [];
                let scaledData = [];
                let weights = [];
                if (disaggregation !== undefined) {
                    for (let prop of disaggregation) {
                        if (typeof prop.value === 'number') {
                            labels.push(prop.data + '.' + prop.attribute);
                            data.push(prop.value);
                            if (prop.weight !== undefined) {
                                weights.push(prop.weight);
                                scaledData.push(prop.value*prop.weight);
                            }
                        }
                    }
                }
                this.labels = labels;
                this.values = data;
                this.scaledValues = scaledData;
                this.weights = weights;
            }
        }
    }
};
</script>