<template>
  <modal header="Edit stream" @success="save" @cancel="cancel" :save-disabled="v$.name.$invalid || v$.version.$invalid">
    <form @submit.prevent>
      <div class="form-group field-required">
        <label for="stream-name">Name</label>
        <input type="text" class="form-control" placeholder="Stream name" v-model="name" id="stream-name"
            :class="{ 'is-invalid': v$.name.$invalid }">
        <div class="invalid-feedback">
          The name should begin with an alphabetical character and contain alphanumerical characters or underscores.
          It should not be one of the <span class="text-help" :title="reservedWords">reserved words</span>.
        </div>
      </div>
      <div class="form-group">
        <label for="stream-desc">Description</label>
        <textarea class="form-control" v-model="description" rows="2" spellcheck="true"
            placeholder="Stream description" id="stream-desc"></textarea>
      </div>
      <div class="form-group">
        <label for="stream-version">Version</label>
        <textarea class="form-control" v-model="version" rows="2" spellcheck="true"
            placeholder="eg: 2.0.0" id="stream-version" :class="{ 'is-invalid': v$.version.$invalid }"></textarea>
      </div>
      <div class="form-group">
        <label for="stream-keywords">Keywords</label>
        <ul class="list-group">
            <table class="table table-sm">
                <tbody>
                    <tr v-for="keyword, index in keywords">
                        <td>
                            <field v-model:modelValue="keywords[index]" :isTitle="false" :strictValue="false"></field>
                        </td>
                        <td class="col-buttons col-user-perms-actions">
                            <button @click="deleteKeyword(index)" class="btn btn-secondary btn-sm mb-2" type="button" style="height:min-content">
                                <span class="fas fa-trash-alt"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ul>
        <button @click="addKeyword" class="btn btn-secondary btn-sm mb-2" type="button">
            <span class="fas fa-plus"></span>
        </button>
      </div>
    </form>
  </modal>
</template>


<script>
import { mapGetters, mapActions } from 'vuex';
import Modal from '../Modal/modal-save.vue';
import { reservedWords, isValidName } from '../../validators';
import Field from '../Field.vue';
import useVuelidate from '@vuelidate/core';
import { required } from '@vuelidate/validators';

export default {
    components: {
        'modal': Modal,
        'field': Field
    },
    data: function () {
        return {
            name: '',
            description: '',
            keywords: [],
            version: ''
        };
    },
    setup(){
        return{
            v$: useVuelidate()
        }
    },
    computed: {
        reservedWords: function () {
            return reservedWords.join(', ')
        },
        ...mapGetters({
            modalData: 'modalData'
        }),
    },
    methods: {
        ...mapActions({
            closeModal: 'closeModal',
            resolveModal: 'resolveModal',
            rejectModal: 'rejectModal',
            updateStream: 'updateStream'
        }),
        addKeyword(index){
            this.keywords.push('Keyword');
        },
        deleteKeyword(index){
            this.keywords.splice(index, 1);
        },
        save: function () {
            let data = {};
            if (this.name) { data['name'] = this.name; }
            if (this.description) { data['description'] = this.description; }
            if (this.keywords) { data['keywords'] = this.keywords; }
            if (this.version) { data['version'] = this.version; }
            if (Object.keys(data).length > 0) {
                this.updateStream({ id: this.modalData.stream.id, data: data }).then(() => {
                    this.resolveModal();
                    this.closeModal();
                });
            }
        },
        cancel: function () {
            this.rejectModal();
            this.closeModal();
        }
    },
    validations() {
        return {
            name: { required, isValidName },
            version: { required }
        }
    },
    created: function () {
        this.name = this.modalData.stream.name;
        this.description = this.modalData.stream.description;
        this.keywords = [...this.modalData.stream.keywords];
        this.version = this.modalData.stream.version;
    }
};
</script>
