<template>
    <modal header="Create Stream" @success="save" @cancel="cancel" :save-disabled="v$.$invalid || formInvalid">
        <fieldset class="form-group">
        <legend>Data type</legend>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" v-model="dataChoice" value="WMS" id="type-vector">
            <label class="form-check-label" for="type-vector">WMS</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" v-model="dataChoice" value="WFS" id="type-raster">
            <label class="form-check-label" for="type-raster">WFS</label>
        </div>
        </fieldset>

        <form @submit.prevent>
            <div class="form-group">
                <label class="control-label" for="stream-name">Name</label>
                <input type="text" class="form-control" placeholder="Stream name" v-model="name" id="stream-name"
                    :class="{ 'is-invalid': v$.name.$invalid }">
                <small class="form-text">If this field is left empty, the data will have the same name as the file</small>
                <div class="invalid-feedback">
                The name should begin with an alphabetical character and contain alphanumerical characters or underscores.
                It should not be one of the <span class="text-help" :title="reservedWords">reserved words</span>.
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="stream-desc">Description</label>
                <textarea class="form-control" v-model="description" rows="2" spellcheck="true"
                    placeholder="Stream description" id="stream-desc"></textarea>
            </div>
            <wfs-stream-form v-if="dataChoice === 'WFS'" v-model:modelValue="newStream" @invalidate="invalidate"></wfs-stream-form>
            <wms-stream-form v-if="dataChoice === 'WMS'" v-model:modelValue="newStream" @invalidate="invalidate"></wms-stream-form>
        </form>

        <fieldset class="form-group">
            <legend>Visibility</legend>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="visib-public" v-model="is_public" :value="true">
                <label class="form-check-label" for="visib-public">public</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="visib-private" v-model="is_public" :value="false">
                <label class="form-check-label" for="visib-private">private</label>
            </div>
        </fieldset>
        <p v-if="loading" style="display: inline-block;">
            <span class="fas fa-sync upload-spinner"></span>
            loading...
        </p>
    </modal>
</template>


<style scoped>
.upload-spinner {
    -webkit-animation: 1s linear 0s spin infinite;
    animation: 1s linear 0s spin infinite;
}

@-webkit-keyframes spin { from { transform: rotate(0deg); } to { transform: rotate(359deg); } }
@keyframes spin { from { transform: rotate(0deg); } to { transform: rotate(359deg); } }
</style>


<script>
import { mapActions } from 'vuex';
import api from '../../api';
import Modal from '../Modal/modal-save.vue';
import { or, maxLength } from '@vuelidate/validators';
import useVuelidate from '@vuelidate/core';
import { reservedWords, isValidName } from '../../validators';
import WfsStreamForm from './wfs-stream-form.vue';
import WmsStreamForm from './wms-stream-form.vue';

export default {
    components: {
        'modal': Modal,
        'wfs-stream-form': WfsStreamForm,
        'wms-stream-form': WmsStreamForm
    },
    data: function () {
        return {
            name: '',
            description: '',
            dataChoice: 'WFS',
            is_public: false,
            newStream: undefined,
            loading: false,
            formInvalid: false
        }
    },
    setup(){
        return{
            v$: useVuelidate()
        }
    },
    computed: {
        reservedWords: function () {
            return reservedWords.join(', ');
        }
    },
    methods: {
        ...mapActions({
            closeModal: 'closeModal',
            resolveModal: 'resolveModal',
            rejectModal: 'rejectModal',
            refreshUserToken: 'refreshUserToken',
            notify: 'displayNotification',
            updatePermissions: 'updateStreamPermissions',
            updateStream: 'updateStream',
        }),
        /**
         * Update the data with new name and description
         * @params {int} geoDataId - the id of the geo data to update
         * @returns {Promise} the api call promise, or a resolved promise if the name and
         * description are not modified
         */
        updateNewStream: function (stream) {
            if (this.name || this.description) {
                let data = {};
                data['name'] = this.name ? this.name : stream.name;
                data['description'] = this.description ? this.description : stream.description;
                return this.updateStream({ id: stream.id, data: data });
            } else {
                return Promise.resolve();
            }
        },
        /**
         * Update the data permissions
         * @params {int} geoDataId - the id of the geo data
         * @returns {Promise} the api call promise
         */
        updateNewPermissions: function (streamId) {
            let perms = {
                is_public: this.is_public
            };
            return this.updatePermissions({ id: streamId, data: perms });
        },
        save: function () {
            this.refreshUserToken()  // refresh the token to make sure the connection will not expire during the upload
            .then((resp) => {  // upload the files
                this.loading = true;
                let promiseUploadStream = null;
                if (this.dataChoice === 'WMS') {
                    promiseUploadStream = api.uploadStreamWMS(this.newStream);
                } else if (this.dataChoice === 'WFS') {
                    promiseUploadStream = api.uploadStreamWFS(this.newStream);
                }
                promiseUploadStream.then((resp) => {
                    // update the metadata (name and description) and permissions after the files have been uploaded
                    this.closeModal();
                    let id = resp.data.stream.id;
                    Promise.all([this.updateNewStream(resp.data.stream), this.updateNewPermissions(id)])
                    .then(() => this.resolveModal());
                })
                .catch((error) => { this.notify({ content: error.response.data.message || 'Creation failed' }); })
                .then(() => { this.closeModal(); })
            })
        },
        invalidate: function (invalid) {
            this.formInvalid = invalid;
        },
        cancel: function () {
            this.rejectModal();
            this.closeModal();
        }
    },
    validations() {
        return {
            name: {
                nameValid: or(isValidName, maxLength(0))
            }
        }
    }
};
</script>