<template>
    <modal header="New stream version" @success="save" @cancel="cancel" :save-disabled="loading || v$.$invalid">
        <form @submit.prevent>
            <fieldset class="form-group">
                <label>Global visibility</label>
                <div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="visib-public" v-model="is_public" :value="true">
                        <label class="form-check-label" for="visib-public">public</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="visib-private" v-model="is_public" :value="false">
                        <label class="form-check-label" for="visib-private">private</label>
                    </div>
                </div>
            </fieldset>
            <div class="form-group field-required">
                <label for="geodata-name">Name</label>
                <input type="text" class="form-control" placeholder="GeoData name" v-model="name" id="geodata-name"
                    :class="{ 'is-invalid': v$.name.$invalid }">
                <div class="invalid-feedback">
                The name should begin with an alphabetical character and contain alphanumerical characters or underscores.
                It should not be one of the <span class="text-help" :title="reservedWords">reserved words</span>.
                </div>
            </div>
            <div class="form-group">
                <label for="geodata-desc">Description</label>
                <textarea class="form-control" v-model="description" rows="2" spellcheck="true" id="geodata-desc"
                    placeholder="GeoData description" :class="{ 'is-invalid': v$.name.$invalid }"></textarea>
            </div>
            <wms-version-form v-if="modalData.stream.type == 'wms'" :classes="modalData.stream.classes"></wms-version-form>
        </form>
        <p v-if="loading" style="display: inline-block;">
            <span class="fas fa-sync upload-spinner"></span>
            loading...
        </p>
    </modal>
</template>


<style scoped>
.upload-spinner {
    -webkit-animation: 1s linear 0s spin infinite;
    animation: 1s linear 0s spin infinite;
}

@-webkit-keyframes spin { from { transform: rotate(0deg); } to { transform: rotate(359deg); } }
@keyframes spin { from { transform: rotate(0deg); } to { transform: rotate(359deg); } }
</style>
  
  
<script>
import { mapGetters, mapActions } from 'vuex';
import Modal from '../Modal/modal-save.vue';
import WmsVersionForm from './wms-version-form.vue';
import { reservedWords, isValidName } from '../../validators';
import useVuelidate from '@vuelidate/core';

export default {
    components: {
        'modal': Modal,
        'wms-version-form': WmsVersionForm
    },
    data: function () {
        return {
            name: '',
            description: '',
            loading: false,
            is_public: false
        };
    },
    setup(){
        return{
            v$: useVuelidate()
        }
    },
    computed: {
        reservedWords: function () {
            return reservedWords.join(', ')
        },
        ...mapGetters({
            modalData: 'modalData'
        }),
    },
    methods: {
        ...mapActions({
            notify: 'displayNotification',
            closeModal: 'closeModal',
            resolveModal: 'resolveModal',
            rejectModal: 'rejectModal',
            updateGeoData: 'updateGeoData',
            addStreamVersion: 'addStreamVersion',
            updatePermissions: 'updateGeoDataPermissions'
        }),
        /**
         * Update the data with new name and description
         * @params {int} geoDataId - the id of the geo data to update
         * @returns {Promise} the api call promise, or a resolved promise if the name and
         * description are not modified
         */
        updateNewData: function (geoData) {
            if (this.name || this.description) {
                let data = {};
                data['name'] = this.name ? this.name : geoData.name;
                data['description'] = this.description ? this.description : geoData.description;
                return this.updateGeoData({ id: geoData.id, data: data });
            } else {
                return Promise.resolve();
            }
        },
        /**
         * Update the data permissions
         * @params {int} geoDataId - the id of the geo data
         * @returns {Promise} the api call promise
         */
        updateNewPermissions: function (geoDataId) {
            let perms = {
                is_public: this.is_public
            };
            return this.updatePermissions({ geoDataId: geoDataId, data: perms });
        },
        save: function () {
            this.loading = true;
            let data = {};
            let stream = this.modalData.stream;
            this.addStreamVersion({id: stream.id, data: data})
            .then((resp) => {
                let geodata = resp.data.geodata;
                Promise.all([this.updateNewData(geodata), this.updateNewPermissions(geodata.id)])
            })
            .catch((error) => this.notify({ content: error.message || 'Error when deleting the model' }))
            .then(() => {
                this.resolveModal();
                this.closeModal();
            });
        },
        cancel: function () {
            this.rejectModal();
            this.closeModal();
        }
    },
    validations() {
        return {
            name: { isValidName }
        }
    },
    mounted: function () {
        this.loading = false
        this.name = this.modalData.stream.name;
        this.description = this.modalData.stream.description;
        this.is_public = this.modalData.stream.is_public;
    }
};
</script>