<template>
  <div class="content-pane container-fluid">
    <h1>Streams</h1>
    <div class="row row-buffer">
      <div class="col">
        <button class="btn btn-primary" @click="createNew()">Create new</button>
      </div>
    </div>
    <table class="table table-manager">
      <thead>
        <tr>
          <th scope="col">
            Data name <span class="text-muted"><small>(Original name)</small></span>
          </th>
          <th scope="col">Description</th>
          <th scope="col" class="col-type">Type</th>
          <th scope="col">Url</th>
          <th scope="col">GeoData versions</th>
          <th scope="col" class="col-buttons">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="stream in streams">
          <td class="data-name">
            <div class="text-truncate" :title="stream.name">{{ stream.name }}</div>
            <div v-if="stream.original_name != stream.name" class="text-muted text-truncate" :title="stream.original_name">
              <small>{{ stream.original_name }}</small>
            </div>
          </td>
          <td>
            <div class="data-text col-description">{{ stream.description }}</div>
            <div v-if="stream.keywords.length > 0" class="text-muted text-truncate" :title="stream.original_name">
              <small>
                <span v-for="keyword, index in stream.keywords">{{ keyword }}<span v-if="index < stream.keywords.length - 1">, </span></span>
              </small>
            </div>
          </td>
          <td>
            <div class="data-text">
              {{ stream.type }}
            </div>
          </td>
          <td>
            <div class="data-text">
              {{ stream.url }}
            </div>
          </td>
          <td>
            <div class="data-text">
              <template v-for="idVersion, i in stream.versions"><var>{{ geoDataNames[idVersion] }}</var><template v-if="i < (stream.versions.length-1)">, </template></template>
            </div>
          </td>
          <td>
            <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Actions
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <button class="dropdown-item" type="button" title="Edit" @click="editStream(stream)">
                <span class="fas fa-edit"></span> Edit
              </button>
              <button class="dropdown-item" type="button" title="Set permissions" @click="editPermissions(stream, $event)" :disabled="stream.upload_user.id !== user.id">
                <span class="fas fa-cog"></span> Set permissions
              </button>
              <button class="dropdown-item" type="button" aria-label="Version" title="Version" @click="newVersion(stream)">
                <span class="fas fa-plus"></span> New version
              </button>
              <div class="dropdown-divider"></div>
              <button class="dropdown-item" type="button" aria-label="Delete" title="Delete" @click="deleteStream(stream.id)">
                <span class="fas fa-trash-alt"></span> Delete
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>


<style scoped>
.col-type {
    width: 120px;
}

.table-manager {
    table-layout: fixed;
    min-width: 500px;
}

.col-buttons {
    width: 120px;
}

.data-text {
    max-height: 150px;
    overflow-y: auto;
}

.data-name {
    font-family: monospace;
}
</style>


<script>
import { mapGetters, mapActions } from 'vuex';
import api from '../../api';

export default {
    name: 'stream-manager',
    data: function () {
        return {
            streams: [],
            geoDataNames: {},
            uploading: false
        };
    },
    computed: mapGetters({
        user: 'userDetails'
    }),
    methods: {
        ...mapActions({
            notify: 'displayNotification',
            showModal: 'showModal',
            loadPermissions: 'loadStreamPermissions',
            updatePermissions: 'updateStreamPermissions',
            downloadGeoData: 'downloadGeoData'
        }),
        loadStreamList: function () {
            return api.getStreamList()
            .then((resp) => { 
                this.streams = resp.data.stream;
            });
        },
        loadGeoDataNames: function () {
            return api.getGeoDataList()
            .then((resp) => { 
                let geoData = resp.data.geodata;
                for(let data of geoData){
                    this.geoDataNames[data.id] = data.name;
                }
            });
        },
        deleteStream: function (stream_id) {
            let modalParams = {
                header: 'Delete stream ?',
                text: 'Are you sure ? All geoData versions will be detached from the stream.'
            };
            this.showModal({ template: 'modal-dialog', data: modalParams })
            .then(() => api.deleteStream(stream_id))
            .then(() => this.loadStreamList());
        },
        createNew: function () {
            this.showModal({ template: 'new-stream' })
            .then(() => this.loadStreamList());
        },
        showGeoData: function (geoDataId) {
            this.showDataOnMap({
                geoDataId: geoDataId,
                overwrite: false
            });
        },
        editPermissions: function (stream, evt) {
            if (stream.upload_user.id === this.user.id) {
                this.loadPermissions(stream.id);
                this.showModal({ template: 'stream-permissions-edit' })
                .then((data) => this.updatePermissions({ id: stream.id, data: data }))
                .then(() => this.loadStreamList());
            } else {
                evt.stopPropagation();
            }
        },
        editStream: function (stream) {
            this.showModal({ template: 'edit-stream', data: { stream: stream }})
            .then(() => {
                this.loadGeoDataNames().then(() => this.loadStreamList() );
            });
        },
        newVersion: function (stream) {
          this.showModal({ template: 'new-stream-version', data: { stream: stream }})
          .then(() => {
              this.loadGeoDataNames().then(() => this.loadStreamList() );
          });
        }
    },
    mounted: function () {
        this.loadGeoDataNames().then(() => this.loadStreamList() );
        //this.clearGeoData();
    }
};
</script>
