<template>
    <div>
        <div class="form-group field-required">
            <label class="control-label" for="stream-url">Url</label>
            <input type="text" class="form-control" placeholder="Stream url" v-model="data.streamUrl" id="stream-url"
                :class="{ 'is-invalid': v$.data.streamUrl.$invalid }">
            <div v-if="v$.data.streamUrl.$invalid" class="invalid-feedback">
            Should respect the url format. 
            </div>
        </div>
        <div class="form-group field-required">
            <label class="control-label" for="stream-version">Stream version</label>
            <input type="text" class="form-control" placeholder="eg: 2.0.0" v-model="data.version" id="stream-version"
                :class="{ 'is-invalid': v$.data.version.$invalid }">
        </div>
        <div class="form-group field-required">
            <label class="control-label" for="stream-feature">Layer</label>
            <input type="text" class="form-control" placeholder="Layer, feature wanted" v-model="data.featureType" id="stream-feature"
                :class="{ 'is-invalid': v$.data.featureType.$invalid }">
        </div>
    </div>
</template>


<script>
import { required, url } from '@vuelidate/validators';
import { isValidName } from '../../validators';
import { useVuelidate } from '@vuelidate/core';

export default {
    emits: ['update:modelValue', 'invalidate'],
    data: function () {
        return {
            data:{
                streamUrl: "",
                featureType: "",
                version: "2.0.0"
            }
        };
    },
    setup(){
        return{
            v$: useVuelidate()
        }
    },
    watch: {
        'v$.$invalid': {
            handler: function (invalid) {
                this.$emit('invalidate', invalid);
            },
            deep: true
        },
        data: {
            handler: function(newData) {
                this.$emit('update:modelValue', {
                    url: newData.streamUrl,
                    feature_type: newData.featureType,
                    version: newData.version
                });
            },
            deep: true
        }
    },
    validations() {
        return {
            data: {
                streamUrl: { required, url },
                featureType: { required },
                version: { required }
            }
        }
    },
    created: function () {
        this.$emit('invalidate', this.v$.$invalid);
    }
};
</script>