<template>
    <div>
        <table class="table table-sm">
            <thead>
                <tr>
                <th>Start</th>
                <th>Stop</th>
                <th>Step</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="number" step="any" v-model.number="data.start" class="form-control form-control-sm"
                            :class="{ 'is-invalid': v$.data.start.$invalid }">
                    </td>
                    <td>
                        <input type="number" step="any" v-model.number="data.stop" class="form-control form-control-sm"
                            :class="{ 'is-invalid': v$.data.stop.$invalid }">
                    </td>
                    <td>
                        <input type="number" step="any" v-model.number="data.step" class="form-control form-control-sm"
                            :class="{ 'is-invalid': v$.data.step.$invalid }">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>


<script>
import { required } from '@vuelidate/validators';
import { useVuelidate } from '@vuelidate/core';

export default {
    emits: ['update:classes', 'invalidate'],
    props: ['classes'],
    data: function () {
        return {
            data: {
                start: null,
                stop: null,
                step: null
            }
        };
    },
    setup(){
        return{
            v$: useVuelidate()
        }
    },
    watch: {
        'v$.$invalid': {
            handler: function (invalid) {
                this.$emit('invalidate', invalid);
            },
            deep: true
        },
        data: {
            handler: function(newData) {
                let classes = [];
                if (newData.start !== null && newData.stop !== null && newData.step !== null) {
                    if (newData.start < newData.stop && newData.step > 0) {
                        for (let i = newData.start; i < newData.stop; i += newData.step) {
                            classes.push([i, i + newData.step, i]);
                        }
                    } else if (newData.start > newData.stop && newData.step < 0) {
                        for (let i = newData.start; i > newData.stop; i += newData.step) {
                            classes.push([i, i + newData.step, i]);
                        }
                    }
                }
                this.$emit('update:modelValue', classes);
            },
            deep: true
        }
    },
    validations() {
        return {
            data: {
                start: { required },
                stop: {
                    required,
                    differentThanStart: (value, parentVm) => value !== parentVm.start
                },
                step: {
                    required,
                    stepOrder: (value, parentVm) => {
                        if (parentVm.start < parentVm.stop) {
                            return value > 0;
                        } else if (parentVm.start > parentVm.stop) {
                            return value < 0;
                        } else {
                            return false;
                        }
                    }
                }
            }
        }
    },
    created: function () {
        this.$emit('invalidate', this.v$.$invalid);
        if(this.classes != (undefined || null)){
            this.data.start = Number.POSITIVE_INFINITY;
            this.data.stop = Number.NEGATIVE_INFINITY;
            for(let classElem of this.classes){
                this.data.start = classElem[0] < this.data.start ? classElem[0] : this.data.start;
                this.data.stop = classElem[1] > this.data.stop ? classElem[1] : this.data.stop;
            }
            this.data.step = Math.abs(this.classes[0][0] - this.classes[1][0]);
        }
    }
};
</script>