<template>
    <div>
        <div class="form-group field-required">
            <label class="control-label" for="stream-url">Url</label>
            <input type="text" class="form-control" placeholder="Stream url" v-model="data.streamUrl" id="stream-url"
                :class="{ 'is-invalid': v$.data.streamUrl.$invalid }">
            <div v-if="v$.data.streamUrl.$invalid" class="invalid-feedback">
            Should respect the url format. 
            </div>
        </div>
        <div class="form-group field-required">
            <label class="control-label" for="stream-version">Stream version</label>
            <input type="text" class="form-control" placeholder="eg: 1.3.0" v-model="data.version" id="stream-version"
                :class="{ 'is-invalid': v$.data.version.$invalid }">
        </div>
        <div class="form-group field-required">
            <label class="control-label" for="stream-feature">Layer</label>
            <input type="text" class="form-control" placeholder="Layer, feature wanted" v-model="data.layer" id="stream-feature"
                :class="{ 'is-invalid': v$.data.layer.$invalid }">
        </div>
        <div class="form-group field-required">
            <label class="control-label" for="stream-version">Resolution</label>
            <div class="text-muted text-truncate">
                <small>Number of meter per pixel</small>
            </div>
            <div class="input-group">
                <input type="number" step="any" class="form-control" placeholder="eg: 10" v-model="data.resolution" id="stream-resolution"
                    :class="{ 'is-invalid': v$.data.resolution.$invalid }">
                <div class="input-group-append">
                    <span class="input-group-text">m</span>
                </div>
            </div>
        </div>
        <table class="table table-sm">
            <thead>
                <tr>
                <th>Start</th>
                <th>Stop</th>
                <th>Step</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="number" step="any" v-model.number="data.start" class="form-control form-control-sm"
                            :class="{ 'is-invalid': v$.data.start.$invalid }">
                    </td>
                    <td>
                        <input type="number" step="any" v-model.number="data.stop" class="form-control form-control-sm"
                            :class="{ 'is-invalid': v$.data.stop.$invalid }">
                    </td>
                    <td>
                        <input type="number" step="any" v-model.number="data.step" class="form-control form-control-sm"
                            :class="{ 'is-invalid': v$.data.step.$invalid }">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>


<script>
import { required, url } from '@vuelidate/validators';
import { useVuelidate } from '@vuelidate/core';

export default {
    emits: ['update:modelValue', 'invalidate'],
    data: function () {
        return {
            data:{
                streamUrl: "",
                layer: "",
                version: "1.3.0",
                resolution: null,
                start: null,
                stop: null,
                step: null
            }
        };
    },
    setup(){
        return{
            v$: useVuelidate()
        }
    },
    watch: {
        'v$.$invalid': {
            handler: function (invalid) {
                this.$emit('invalidate', invalid);
            },
            deep: true
        },
        data: {
            handler: function(newData) {
                let classes = [];
                if (newData.start !== null && newData.stop !== null && newData.step !== null) {
                    if (newData.start < newData.stop && newData.step > 0) {
                        for (let i = newData.start; i < newData.stop; i += newData.step) {
                            classes.push([i, i + newData.step, i]);
                        }
                    } else if (newData.start > newData.stop && newData.step < 0) {
                        for (let i = newData.start; i > newData.stop; i += newData.step) {
                            classes.push([i, i + newData.step, i]);
                        }
                    }
                }
                this.$emit('update:modelValue', {
                    url: newData.streamUrl,
                    layer: newData.layer,
                    version: newData.version,
                    classes: classes,
                    resolution: newData.resolution
                });
            },
            deep: true
        }
    },
    validations() {
        return {
            data: {
                streamUrl: { required, url },
                layer: { required },
                version: { required },
                resolution: { required },
                start: { required },
                stop: {
                    required,
                    differentThanStart: (value, parentVm) => value !== parentVm.start
                },
                step: {
                    required,
                    stepOrder: (value, parentVm) => {
                        if (parentVm.start < parentVm.stop) {
                            return value > 0;
                        } else if (parentVm.start > parentVm.stop) {
                            return value < 0;
                        } else {
                            return false;
                        }
                    }
                }
            }
        }
    },
    created: function () {
        this.$emit('invalidate', this.v$.$invalid);
    }
};
</script>