<template>
  <nav class="sidebar bg-light collapse" role="navigation" id="sidebar-collapse">
    <div class="sidebar-menu d-flex flex-column">
      <ul class="nav flex-column" v-if="project && project.id">
        <li class="nav-item">
          <router-link :to="{ name: 'projectDetails', params: { projectId: project.id }}" class="nav-link">
            {{ project.name }}
          </router-link>
        </li>
        <li class="nav-item">
          <router-link :to="{ name: 'projectData', params: { projectId: project.id }}" class="nav-link">
            Data
          </router-link>
        </li>
        <li class="nav-item">
          <router-link :to="{ name: 'projectRecommendations', params: { projectId: project.id }}" class="nav-link">
            Recommendations
          </router-link>
        </li>
        <li role="separator" class="divider"></li>
        <tree-hierarchy :route-params="{ projectId: project.id }"
            v-if="project && project.id">
        </tree-hierarchy>
      </ul>
      <ul class="nav flex-column mt-auto">
        <li class="nav-item">
          <router-link v-if="project && project.id" :to="{ name: 'dataShares', params: { projectId: project.id }}" class="nav-link">
            Shared data
          </router-link>
        </li>
        <li class="nav-item">
          <router-link v-if="project && project.id" :to="{ name: 'projectTaskManager', params: { projectId: project.id }}"
              class="nav-link">
            Task manager
          </router-link>
        </li>
      </ul>
    </div>
  </nav>
</template>


<style>
.sidebar.collapsing {
    transition: none; /* Remove Bootstrap transitions, not working properly here. */
}
.sidebar {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    padding: 0px;
    width: 200px;
    height: auto !important;
    overflow-y: auto;
}
@media(max-width: 767px) {
    .sidebar {
        width: 80%;
        z-index: 1025; /* Under the bootstrap navbar, which is at 1030. */
    }
}
.sidebar-menu {
    height: 100%;
}
@media(min-width: 768px) {
    .sidebar {
        display: block !important; /* Always display the sidebar on big screens. */
    }
}

.sidebar .nav {
    margin: 0;
    width: 100%;
}
.sidebar .nav-link {
    color: rgba(0, 0, 0, 0.5);
    position: relative;
    width: 100%;
}
.sidebar .hierarchy-item {
    padding: 0.2rem 0;
    display: flex;
}
.sidebar .nav-link:hover {
    color: rgba(0, 0, 0, 0.7);
}
.sidebar .nav-link.active {
    color: rgba(0, 0, 0, 0.9);
}
.sidebar .navbar {
    height: 100%;
}
.sidebar .navbar ul {
    float: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.sidebar .navbar li {
    float: none;
    display: block;
    width: 100%;
}
.sidebar .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
}
.sidebar .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

</style>


<script>
import { mapGetters } from 'vuex';
import TreeHierarchy from './tree-hierarchy.vue';

export default {
    components: {
        'tree-hierarchy': TreeHierarchy
    },
    computed: mapGetters({
        project: 'projectDetails',
    })
};
</script>
