<template>
  <router-link :to="{ name: 'projectDataDetails', params: routeParamsModel }" class="nav-link hierarchy-item"
      data-toggle="collapse" data-target="#sidebar-collapse.in">
    <span v-if="item.hasChildren" class="toggler" :style="{ left: item.level*15 + 'px' }" @click="show">
      <span v-if="item.showChildren" class="fas fa-caret-down treenav-collapse"></span>
      <span v-else class="fas fa-caret-right treenav-collapse"></span>
    </span>
    <span class="text-truncate sidebar-width d-inline-block data-item"
        :style="{ 'padding-left': 30 + item.level*15 + 'px' }"
        :class="{ 'outdated': item.outdated }" :title="item.name">
      {{ item.name }}
    </span>
    <span class="fas fa-exclamation-triangle text-warning outdated-icon"
        v-if="item.outdated" title="Data outdated">
    </span>
  </router-link>
</template>


<style scoped>
.sidebar-width {
    width: 200px;
}
.data-item {
    vertical-align: middle;
    width: 100%;
}
.treenav-collapse {
    color: grey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.toggler {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 30px;
    z-index: 10;
}
.outdated {
    font-style: italic;
}
.outdated-icon {
    line-height: inherit;
    padding-right: 7px;
}
</style>


<script>
export default {
    name: 'tree-item',
    props: {
        item: Object,
        routeParams: Object
    },
    computed: {
        routeParamsModel: function () {
            return Object.assign({ dataId: this.item.id }, this.routeParams);
        }
    },
    methods: {
        show: function (evt) {
            evt.stopPropagation();
            evt.preventDefault();
            this.$emit('show', !this.item.showChildren);
        }
    }
};
</script>
