<template>
  <transition-group name="sidebar-items">
    <li is="vue:tree-item" v-for="item in tree" class="nav-item"
        v-show="showItem(item)" :key="item.id" :item="item" :route-params="routeParams" @show="val => { item.showChildren = val }">
    </li>
  </transition-group>
</template>


<style>
.sidebar-items-enter-active, .sidebar-items-leave-active {
  transition: opacity .1s;
}
.sidebar-items-enter, .sidebar-items-leave-to {
  opacity: 0;
}
</style>


<script>
import { mapGetters } from 'vuex';
import TreeItem from './tree-item.vue';

export default {
    components: {
        'tree-item': TreeItem
    },
    props: {
        routeParams: Object
    },
    data: function () {
        return {
            editing: true,
            tree: [],
        };
    },
    computed: mapGetters({
        hierarchy: 'projectHierarchyFlat',
    }),
    watch: {
        hierarchy: {
            immediate: true,
            handler: function (hierarchy) {
                let tree = [];
                if (hierarchy != null) {
                    for (let item of hierarchy) {
                        tree.push(Object.assign({ showChildren: true }, item));
                    }
                }
                this.tree = tree;
            }
        },
    },
    methods: {
        /**
         * Returns true if the item and all his parents have the `show` attribute true
         */
        showItem: function (item) {
            if (item.parentId !== null) {
                let parentItem = this.tree.find((other) => item.parentId === other.id);
                return parentItem.showChildren && this.showItem(parentItem);
            } else {
                return true;
            }
        }
    },
};
</script>
