<template>
  <div>
    <template v-if="editing">
      <categories-edit :initial-categories="data.preference_model.categories" @save="saveCategories" @cancel="editing = false"></categories-edit>
    </template>

    <template v-else>
      <button @click="editing = true" class="btn btn-secondary mb-2">Edit</button>

      <table class="table">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Category</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(categ, index) in data.preference_model.categories">
            <td>{{ index + 1 }}</td>
            <td>{{ categ.name }}</td>
            <td>
              <button class="btn btn-outline-secondary btn-sm" aria-label="Delete" title="Delete" @click="deleteCategory(index)">
                <span class="fas fa-trash-alt" aria-hidden="true"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </template>
  </div>
</template>


<script>
import { mapGetters, mapActions } from 'vuex';
import CategoriesEdit from './categories-edit.vue';

export default {
    components: {
        'categories-edit': CategoriesEdit
    },
    data: function () {
        return {
            editing: false
        };
    },
    computed: mapGetters({
        data: 'projectDataDetails'
    }),
    methods: {
        ...mapActions({
            updatePrefModel: 'updateProjectDataModel',
            loadProjectData: 'loadProjectData',
            showModal: 'showModal'
        }),
        updateModel: function (categories) {
            this.updatePrefModel({ id: this.data.id, data: { categories: categories }}).then(() => {
                this.loadProjectData(this.data.id);
            });
        },
        deleteCategory: function (categoryId) {
            let modalParams = {
                header: 'Delete this category?',
                text: 'Are you sure you want to delete this category? The action cannot be reversed.'
            };
            this.showModal({ template: 'modal-dialog', data: modalParams })
            .then(() => {
                // Copy the categories and ignore the deleted one
                let categories = [];
                for (let id = 0; id < this.data.preference_model.categories.length; id++) {
                    let categ = this.data.preference_model.categories[id];
                    if (id !== categoryId) {
                        categories.push(categ);
                    }
                }
                return this.updateModel(categories);
            });
        },
        saveCategories: function (categories) {
            this.updateModel(categories);
            this.editing = false;
        }
    },
};
</script>
