<template>
  <div>
    <form @submit.prevent class="form-inline">
      <button @click="save" class="btn btn-primary mb-2 mr-sm-1" type="button" :disabled="v$.$invalid" title="Save categories">Save</button>
      <button @click="cancel" class="btn btn-secondary mb-2" type="button" title="Cancel the modifications">Cancel</button>
    </form>

    <table class="table">
      <thead>
        <th>Move</th>
        <th>Category</th>
        <th>&nbsp;</th>
      </thead>
      <tbody name="table-row" is="vue:transition-group">
        <tr v-for="(categ, index) in categories" :key="'categ-' + categ._id">
          <td>
            <button :disabled="index === 0" class="btn btn-outline-secondary btn-sm" type="button"
                aria-label="Move up" title="Move up" @click="moveCategory(index, index - 1)">
              <span class="fas fa-arrow-up" aria-hidden="true"></span>
            </button>
            <button :disabled="index === (categories.length - 1)" class="btn btn-outline-secondary btn-sm" type="button"
                @click="moveCategory(index, index + 1)" aria-label="Move down" title="Move down">
              <span class="fas fa-arrow-down" aria-hidden="true"></span>
            </button>
          </td>
          <td>
            <span class="form-inline">
              <input class="form-control" v-model="categ.name" type="text" placeholder="Name"
                  :class="{ 'is-invalid': v$.categories.$each.$response.$data[index].name.$invalid }">
            </span>
          </td>
          <td class="row-buffer">
            <button class="btn btn-outline-secondary btn-sm" type="button" @click="removeCategory(index)" title="Remove"
                v-if="categ._new">
              <span class="fas fa-times"></span>
            </button>
          </td>
        </tr>
      </tbody>
        <tr>
          <td>
            <button class="btn btn-sm btn-primary" type="button" title="New category" @click="createNew">
              <span class="fas fa-plus"></span>
            </button>
          </td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
    </table>
  </div>
</template>


<style>
.table-row-move {
    transition: transform .2s;
}
.table-row-enter-active {
    transition: all .2s ease;
}
.table-row-leave-active {
    transition: all .1s;
}
.table-row-enter, .table-row-leave-to {
    opacity: 0;
}
.table-row-enter {
    transform: translateY(-20px);
}
</style>


<script>
import { helpers, required } from '@vuelidate/validators';
import { useVuelidate } from '@vuelidate/core';

export default {
    props: {
        initialCategories: {
            type: Array,
            required: true,
            default: () => []
        }
    },
    data: function () {
        return {
            id: 0,
            categories: []
        };
    },
    setup(){
        return{
            v$: useVuelidate()
        }
    },
    methods: {
        moveCategory: function (idStart, idEnd) {
            let category = this.categories[idStart];
            this.categories.splice(idStart, 1);
            this.categories.splice(idEnd, 0, category);
        },
        createNew: function () {
            this.categories.push({
                _id: this.id,
                _new: true,
                name: ''
            });
            this.id++;
        },
        removeCategory: function (index) {
            this.categories.splice(index, 1);
        },
        save: function () {
            let categories = [];
            for (let categ of this.categories) {
                categories.push({
                    name: categ.name,
                    rules: categ.rules
                });
            }
            this.$emit('save', categories);
        },
        cancel: function () {
            this.$emit('cancel');
        }
    },
    validations() {
        return {
            categories: {
                $each: helpers.forEach({
                    name: {
                        required
                    }
                })
            }
        }
    },
    created: function () {
        let categories = JSON.parse(JSON.stringify(this.initialCategories));
        for (let categ of categories) {
            categ._id = this.id;
            categ._new = false;
            this.id++;
        }
        this.categories = categories;
    }
};
</script>
