<template>
  <div class="content-pane container-fluid">
    <ul class="nav nav-tabs" role="tablist">
      <li v-for="(tab, index) in tabs" @click="active = index" class="nav-item">
        <a role="tab" class="nav-link" :class="{ active: active === index }">{{ tab.title }}</a>
      </li>
    </ul>
    <div class="tab-content">
      <keep-alive>
        <component class="tab-pane active project-data-content" :is="tabs[active]['component']"></component>
      </keep-alive>
    </div>
  </div>
</template>


<style>
.project-data-content {
    padding: 15px;
}
</style>


<script>
import { mapGetters, mapActions } from 'vuex';
import output from './output.vue';
import input from './input.vue';
import modelsList from './models-list.vue';
import model from './model.vue';

export default {
    components: {
        'data-output': output,
        'data-input': input,
        'models-list': modelsList,
        'model': model
    },
    computed: {
        ...mapGetters({
            projectData: 'projectDataDetails'
        }),
        tabs: function () {
            let tabs = [];
            if (this.projectData) {
                tabs = [
                    { title: 'Output', component: 'data-output' },
                    { title: 'Input', component: 'data-input' },
                    { title: 'Active model', component: 'model' },
                    { title: 'Models', component: 'models-list' }
                ];
            }
            return tabs;
        }
    },
    watch: {
        '$route': function (to) {
            this.load(to.params.dataId);
            this.active = 0;
        },
        projectData: function (newData) {
            if (newData.data) {
                this.showDataOnMap({ geoDataId: newData.data });
            }
            if (this.active >= this.tabs.length) {
                this.active = this.tabs.length > 0 ? this.tabs.length - 1 : 0;
            }
        }
    },
    data: function() {
        return {
            active: 0
        };
    },
    methods: {
        ...mapActions({
            loadProjectData: 'loadProjectData',
            showDataOnMap: 'showDataOnMap'
        }),
        load: function (dataId) {
            this.loadProjectData(dataId);
        }
    },
    created: function () {
        this.load(this.$route.params.dataId);
    }
};
</script>
