<template>
  <div class="row">
    <div class="col">
      <form @submit.prevent class="form-inline">
        <select v-model="inputDataSelected" class="form-control mb-2 mr-sm-2">
          <option v-for="item in projectInputChoice" :value="item.id">
            {{ item.name }} ({{ useFormatDataType(item.data_type) }})
          </option>
        </select>
        <button @click="addInputData" class="btn btn-secondary mb-2" type="submit">Add</button>
      </form>

      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in projectDataInput">
            <td>{{ item.name }}</td>
            <td>{{ useFormatDataType(item.data_type) }}</td>
            <td>
              <button v-if="isProjectData(item.id)" @click="removeInputData(item.id)" class="btn btn-outline-secondary btn-sm"
                  aria-label="Remove" title="Remove">
                <span aria-hidden="true" class="fas fa-times"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>


<script>
import { mapGetters, mapActions } from 'vuex';
import { useFormatDataType } from '../../format.js';

export default {
    data: function () {
        return {
            inputDataSelected: undefined
        };
    },
    computed: {
        ...mapGetters({
            data: 'projectDataDetails',
            projectDataInput: 'projectDataInput',
            sharedData: 'projectSharedData',
            project: 'projectDetails'
        }),
        projectInputChoice: function () {
            if ('input_data' in this.data) {
                return this.sharedData.filter((item) => this.data.input_data.indexOf(item.id) === -1);
            } else {
                return [];
            }
        }
    },
    watch: {
        project: function () {
            this.loadData();
        }
    },
    methods: {
        ...mapActions({
            updateProjectData: 'updateProjectData',
            loadProjectData: 'loadProjectData',
            loadProjectSharedData: 'loadProjectSharedData',
        }),
        useFormatDataType,
        loadData: function () {
            if (this.project !== undefined && this.project.id !== undefined) {
                this.loadProjectSharedData();
            }
        },
        addInputData: function () {
            let inputData = this.data.input_data.slice();
            inputData.push(this.inputDataSelected);
            let data = { input_data: inputData };
            this.updateProjectData({ id: this.data.id, data: data }).then(() => {
                this.loadProjectData(this.data.id);
            });
            this.inputDataSelected = undefined;
        },
        removeInputData: function (inputId) {
            let inputData = this.data.input_data.slice();
            let arrayIndex = inputData.indexOf(inputId);
            if (arrayIndex !== -1) {
                inputData.splice(arrayIndex, 1);
            }
            let data = { input_data: inputData };
            this.updateProjectData({ id: this.data.id, data: data }).then(() => {
                this.loadProjectData(this.data.id);
            });
        },
        isProjectData: function (inputId) {
            return this.sharedData.some((item) => item.id === inputId);
        }
    },
    // TODO: Add a watcher on the route
    created: function () {
        this.loadData();
    }
};
</script>
