<template>
  <div v-if="prefModel != null">
    <continuous v-if="prefModel.pref_type === 'continuous_rule'"></continuous>
    <discrete-rules v-if="prefModel.pref_type === 'categories_rule'"></discrete-rules>
    <mrsort v-if="prefModel.pref_type === 'mrsort'"></mrsort>
    <weighted-sum v-if="prefModel.pref_type === 'weighted_sum'"></weighted-sum>
  </div>
</template>


<script>
import { mapGetters } from 'vuex';
import ContinuousEditor from '../PreferenceModels/continuous-editor.vue';
import DiscreteRulesEditor from '../PreferenceModels/discrete-rules-editor.vue';
import MRSortEditor from '../PreferenceModels/discrete-mrsort-editor.vue';
import WeightedSumEditor from '../PreferenceModels/weighted-sum-editor.vue';

export default {
    components: {
        'continuous': ContinuousEditor,
        'discrete-rules': DiscreteRulesEditor,
        'mrsort': MRSortEditor,
        'weighted-sum': WeightedSumEditor,
    },
    computed: {
        ...mapGetters({
            data: 'projectDataDetails'
        }),
        prefModel: function () { return ('preference_model' in this.data) ? this.data.preference_model : {}; }
    }
};
</script>
