<template>
  <div>
    <form class="form-inline" @submit.prevent>
      <input type="text" class="form-control mb-2 mr-sm-2" placeholder="My model" v-model="modelName">
      <select class="form-control mb-2 mr-sm-2" v-model="selectedType">
        <option value="continuous_rule">{{ useFormatPrefType('continuous_rule') }}</option>
        <option value="weighted_sum">{{ useFormatPrefType('weighted_sum') }}</option>
        <option value="categories_rule">{{ useFormatPrefType('categories_rule') }}</option>
        <option value="mrsort">{{ useFormatPrefType('mrsort') }}</option>
      </select>
      <button class="btn btn-secondary mb-2" type="submit" @click="createModel" :disabled="v$.modelName.$invalid">
        Create
      </button>
    </form>

    <table class="table">
      <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Type</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <tr is="vue:model-item" v-for="model in data.pref_models_list" :model="model"
            :class="{ 'table-active': data.preference_model != undefined && model.id === data.preference_model.id }">
        </tr>
      </tbody>
    </table>
  </div>
</template>


<script>
import { mapGetters, mapActions } from 'vuex';
import { required } from '@vuelidate/validators';
import { useVuelidate } from '@vuelidate/core';
import ModelItem from './model-item.vue';
import { useFormatPrefType } from '../../format';

export default {
    components: {
        'model-item': ModelItem
    },
    computed: mapGetters({
        data: 'projectDataDetails'
    }),
    data: function () {
        return {
            selectedType: null,
            modelName: ''
        };
    },
    setup(){
        return{
            v$: useVuelidate()
        }
    },
    watch: {
        data: {
            immediate: true,
            handler: function () {
                if (this.data.authorized_model_types && this.data.authorized_model_types.length > 0) {
                    if (this.data.authorized_model_types.includes(this.selectedType) === false) {
                        this.selectedType = this.data.authorized_model_types[0];
                    }
                } else {
                    this.selectedType = null;
                }
            }
        }
    },
    methods: {
        ...mapActions({
            loadProjectData: 'loadProjectData',
            updateProjectData: 'updateProjectData',
            notify: 'displayNotification'
        }),
        useFormatPrefType,
        /** Create a new preference model
         *
         * The preference model will be the new active model for the data.
         * The newly created model will have the same categories as the previously active model.
         */
        createModel: function () {
            let model = { pref_type: this.selectedType, name: this.modelName };
            if ((this.selectedType === 'categories_rule' || this.selectedType === 'mrsort') &&
                    this.data.preference_model != undefined &&
                    this.data.preference_model.categories != null &&
                    this.data.preference_model.categories.length > 0) {
                let categories = [];
                for (let categ_original of this.data.preference_model.categories) {
                    categories.push({ name: categ_original.name });
                }
                model['categories'] = categories;
            }
            this.updateProjectData({ id: this.data.id, data: { preference_model: model }})
            .then(() => this.loadProjectData(this.data.id))
            .catch(() => this.notify({ content: resp.data.message || 'Error creating a new model' }));
        }
    },
    validations() {
        return {modelName: {required}}
    }
}
</script>
