<template>
  <tr>
    <td>{{ model.id }}</td>
    <td>
      <span v-if="editing" class="form-inline">
        <input class="form-control" type="text" placeholder="My model" v-model="name"
            @keyup.enter="saveEdit" @keyup.esc="cancelEdit">
      </span>
      <span v-else>{{ model.name }}</span>
    </td>
    <td>{{ useFormatPrefType(model.pref_type) }}</td>
    <td>
      <div v-if="editing" class="btn-group">
        <button class="btn btn-outline-secondary btn-sm" type="button" @click="saveEdit">
          <span class="fas fa-check"></span>
        </button>
        <button class="btn btn-outline-secondary btn-sm" type="button" @click="cancelEdit">
          <span class="fas fa-times"></span>
        </button>
      </div>
      <div v-show="editing === false" class="btn-group">
        <button class="btn btn-outline-secondary btn-sm" type="button" aria-label="Activate" title="Activate"
            @click="changeModel(model.id)" :disabled="data.preference_model != null && model.id === data.preference_model.id">
          Activate
        </button>
        <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"></button>
        <div class="dropdown-menu dropdown-menu-right">
          <button class="dropdown-item" type="button" title="Edit" @click="editModel">
            Edit
          </button>
          <div class="dropdown-divider"></div>
          <button class="dropdown-item" type="button" title="Delete"
              @click="deleteModel(model.id)" :disabled="data.pref_models_list.length === 1">
            Delete
          </button>
        </div>
      </div>
    </td>
  </tr>
</template>


<script>
import { mapGetters, mapActions } from 'vuex';
import api from '../../api';
import { useFormatPrefType } from '../../format';

export default {
    props: {
        model: Object
    },
    computed: mapGetters({
        data: 'projectDataDetails'
    }),
    data: function () {
        return {
            editing: false,
            name: null
        }
    },
    methods: {
        ...mapActions({
            loadProjectData: 'loadProjectData',
            updateModel: 'updateProjectDataModel',
            notify: 'displayNotification'
        }),
        useFormatPrefType,
        /**
         * Change the active preference model
         */
        changeModel: function (modelId) {
            api.changeProjectDataModel(this.data.id, modelId)
            .then(() => {
                this.loadProjectData(this.data.id);
                this.modelName = '';
            })
            .catch((error) => this.notify({ content: error.message || 'Error when changing the model' }));
        },
        /**
         * Delete the preference model
         */
        deleteModel: function (modelId) {
            api.deleteProjectDataModel(this.data.id, modelId)
            .then(() => this.loadProjectData(this.data.id))
            .catch((error) => this.notify({ content: error.message || 'Error when deleting the model' }));
        },
        editModel: function () {
            this.name = this.model.name;
            this.editing = true;
        },
        cancelEdit: function () {
            this.editing = false;
            this.name = null;
        },
        saveEdit: function () {
            let model = { name: this.name };
            this.updateModel({ id: this.data.id, modelId: this.model.id, data: model })
            .then(() => {
                this.editing = false;
                this.name = null;
                return this.loadProjectData(this.data.id);
            })
            .catch((error) => this.notify({ content: error.message || 'Error when updating the model' }));
        }
    }
}
</script>
