<template>
  <div class="row">
    <div class="col">
      <field :modelValue="data.name" @update:modelValue="modifyName"></field>

      <form v-if="editingDescription" @submit.prevent style="position: relative;">
        <div class="form-row">
          <div class="col">
            <textarea class="form-control" v-model="description" rows="2" spellcheck="true"
                placeholder="Data description"></textarea>
          </div>
          <div class="col">
            <button class="btn btn-primary btn-sm" @click="saveDescription" type="submit">
              <span class="fas fa-check"></span>
            </button>
            <button class="btn btn-secondary btn-sm" @click="cancelDescription">
              <span class="fas fa-times"></span>
            </button>
          </div>
        </div>
      </form>
      <p v-else>
        <span v-if="data.description">{{ data.description }}</span>
        <span v-else><i>No description</i></span>
        <span class="fas fa-pen action field-action" @click="editDescription"></span>
      </p>

      <div v-if="showCategories">
        <h2>Categories</h2>
        <categories-list></categories-list>
      </div>

      <div class="btn-group" role="group">
        <button class="btn btn-primary" @click="process">Construct</button>
        <button class="btn btn-secondary" @click="share">Share</button>
        <button id="downloadDrop" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" :disabled="data.data === null">Download</button>
        <div class="dropdown-menu" aria-labelledby="downloadDrop">
          <button class="dropdown-item" type="button" @click="downloadGeoData({id: data.data, format: null})">.shp</button>
          <button class="dropdown-item" type="button" @click="downloadGeoData({id: data.data, format: 'gpkg'})">.gpkg</button>
          <button class="dropdown-item" type="button" @click="downloadGeoData({id: data.data, format: 'geojson'})">.geojson</button>
          <button class="dropdown-item" type="button" @click="downloadGeoData({id: data.data, format: 'json'})">.json</button>
          <button class="dropdown-item" type="button" @click="downloadGeoData({id: data.data, format: 'gml'})">.gml</button>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import { mapGetters, mapActions } from 'vuex';
import Field from '../Field.vue';
import CategoriesList from './categories-list.vue';

export default {
    components: {
        'field': Field,
        'categories-list': CategoriesList
    },
    data: function () {
        return {
            newCategoryName: '',
            editingDescription: false,
            description: undefined,
        };
    },
    computed: {
        ...mapGetters({
            data: 'projectDataDetails'
        }),
        showCategories: function () {
            try {
                return (this.data.preference_model.pref_type === 'categories_rule' ||
                        this.data.preference_model.pref_type === 'mrsort');
            } catch (e) {
                return false;
            }
        }
    },
    methods: {
        ...mapActions({
            updateData: 'updateProjectData',
            loadData: 'loadProjectData',
            processProjectData: 'processProjectData',
            notify: 'displayNotification',
            downloadGeoData: 'downloadGeoData',
            showModal: 'showModal'
        }),
        editDescription: function () {
            this.description = this.data.description;
            this.editingDescription = true;
        },
        saveDescription: function () {
            this.editingDescription = false;
            let data = { description: this.description };
            let params = { id: this.data.id, data: data };
            this.updateData(params)
            .then(() => this.loadData(this.data.id));
        },
        cancelDescription: function () {
            this.editingDescription = false;
        },
        modifyName: function (newName) {
            let data = { name: newName };
            this.updateData({ id: this.data.id, data: data })
            .then(() => this.loadData(this.data.id));
        },
        share: function () {
            this.showModal({
                template: 'data-share',
                data: { projectDataId: this.data.id }
            });
        },
        process: function () {
            this.processProjectData({ id: this.data.id })
            .then(() => {
                this.notify({ content: 'Task added to queue', type: 'info' });
            });
        },
    }
};
</script>
