<template>
    <div class="editor" ref="editor"></div>
</template>

<script>
import { defineComponent } from 'vue';
import { basicSetup } from 'codemirror';
import { EditorState, Compartment } from '@codemirror/state';
import { EditorView } from '@codemirror/view';
import { python } from '@codemirror/lang-python'

export default defineComponent({
    name: 'CodeMirrorEditor',
    emits: ['update:modelValue'],
    props: {
        modelValue: {
            type: String,
            default: '',
        },
        editable: {
            type: Boolean,
            default: true,
        }
    },
    data(){
        return {
            codeView: null,
            editableCompartment: new Compartment
        }
    },
    watch: {
        editable(newValue) {
            this.setEditable(newValue);
        }
    },
    mounted: function() {
        const startState = EditorState.create({
            doc: this.$props.modelValue,
            extensions: [
                basicSetup,
                python(),
                EditorView.updateListener.of((update) => {
                    if (update.docChanged) {
                        const newValue = update.state.doc.toString();
                        this.$emit('update:modelValue', newValue);
                    }
                }),
                this.editableCompartment.of(EditorView.editable.of(this.$props.editable))
            ],
        });

        this.codeView = new EditorView({
            state: startState,
            parent: this.$refs.editor
        });
    },
    methods: {
        setEditable(value) {
            this.codeView.dispatch({
                effects: this.editableCompartment.reconfigure(EditorView.editable.of(value))
            })
        },
        setEditorValue(code) {
            this.codeView.dispatch({
                changes: {from: 0, to: this.codeView.state.doc.length, insert: code}
            });
        }
    }
});
</script>

<style scoped>

.editor {
    border: 1px solid #ddd;
    height: 100%;
    overflow: scroll;
}

</style>