<template>
  <div>
    <h4>Input variables</h4>
    <div style="max-height: 300px; overflow: auto;">
      <input-list :attributes="attributes" :default-values="defaultValues"
          @update:default-values="val => defaultValues = val">
      </input-list>
    </div>

    <h4>Editor</h4>
    <editor v-model:value="model"></editor>

    <button type="button" class="btn btn-primary" title="Save" aria-label="Save" @click="save"
        style="margin: 15px;">
      Save
    </button>
  </div>
</template>


<script>
import { mapGetters, mapActions } from 'vuex';
import RuleEditor from './continuous-rules.vue';
import InputList from './continuous-input-list.vue';

export default {
    components: {
        'editor': RuleEditor,
        'input-list': InputList
    },
    computed: mapGetters({
        data: 'projectDataDetails',
        projectDataInput: 'projectDataInput',
        mapVisible: 'mapVisisble'
    }),
    data: function () {
        return {
            model: {},
            defaultValues: [],
            attributes: []
        };
    },
    watch: {
        'data.preference_model': {
            immediate: true,
            handler: function (m) {
                if (m != undefined) {
                    this.model = {
                        rule: m.rule,
                        keepOverlap: m.keep_overlap || 'all',
                    };
                    if (m.cut_to_extent != undefined) {
                        this.model.cutToExtent = m.cut_to_extent;
                    } else {
                        this.model.cutToExtent = true;
                    }
                    if (m.dissolve_adjacent != undefined) {
                        this.model.dissolveAdjacent = m.dissolve_adjacent;
                    } else {
                        this.model.dissolveAdjacent = false;
                    }
                    // Copy default_values using a slice() if it exists
                    this.defaultValues = m.default_values ? m.default_values.slice() : [];
                    // Copy the attributes using a slice() if the array exists
                    this.attributes = m.attributes_list ? m.attributes_list.slice() : [];
                }
            }
        }
    },
    methods: {
        ...mapActions({
            updatePrefModel: 'updateProjectDataModel',
            loadProjectData: 'loadProjectData',
            notify: 'displayNotification'
        }),
        save: function () {
            let model = {
                rule: this.model.rule,
                keep_overlap: this.model.keepOverlap,
                cut_to_extent: this.model.cutToExtent,
                dissolve_adjacent: this.model.dissolveAdjacent,
                default_values: this.defaultValues
            };
            this.updatePrefModel({ id: this.data.id, data: model }).then(() => {
                this.loadProjectData(this.data.id);
                this.notify({ type: 'success', delay: 2000, content: 'Modifications saved' });
            });
        }
    }
};
</script>
