<template>
  <tr>
    <td class="monospace">{{ data.name + '.' + data.attribute }}</td>
    <td>
      <template v-if="editing">
        <input type="number" step="any" class="form-control" v-if="data.type === 'quantitative'" v-model.number="newValue">
        <input type="text" class="form-control" v-if="data.type === 'nominal'" v-model="newValue">
      </template>
      <template v-else>
        <template v-if="data.value !== null">{{ data.value }}</template>
        <template v-else><i>None</i></template>
      </template>
    </td>
    <td>
      <template v-if="data.type === 'quantitative' || data.type === 'nominal'">
        <template v-if="editing">
          <span class="fas fa-check action" @click="save"></span>
          <span class="fas fa-times action" @click="cancel"></span>
          <span class="fas fa-trash-alt action" @click="deleteValue"></span>
        </template>
        <template v-else>
          <span class="fas fa-pen action" @click="edit"></span>
        </template>
      </template>
    </td>
  </tr>
</template>


<script>
import { mapGetters } from 'vuex';
export default {
    props: {
        data: Object
    },
    data: function () {
        return {
            newValue: null,
            editing: false
        };
    },
    methods: {
        edit: function () {
            this.editing = true;
            if (this.data.value !== null && this.data.value !== undefined) {
                this.newValue = this.data.value;
            } else {
                this.newValue = this.data.type === 'quantitative' ? 0 : '';
            }
        },
        save: function () {
            this.$emit('update:data', this.newValue);
            this.editing = false;
        },
        cancel: function () {
            this.editing = false;
            this.newValue = null;
        },
        deleteValue: function () {
            this.$emit('update:data', null);
            this.editing = false;
        }
    }
};
</script>
