<template>
  <form @submit.prevent>
    <div class="form-group">
      <label class="control-label" for="rules-code">Code</label>
      <CodeEditor class="editor" :key="updateCodeEditor" v-model="model.rule"></CodeEditor>
    </div>

    <div class="form-row">
      <div class="form-group col-sm-4" v-if="model.keepOverlap">
        <label class="control-label" for="rules-overlap">Overlap method</label>
        <select v-model="model.keepOverlap" class="form-control" id="rules-overlap">
          <option value="all">all</option>
          <option value="max">maximum</option>
          <option value="min">minimum</option>
          <option value="sum">sum</option>
          <option value="average">average</option>
        </select>
      </div>

      <field-cut class="col-sm-4" v-model="model.cutToExtent"></field-cut>

      <field-dissolve class="col-sm-4" v-model="model.dissolveAdjacent"></field-dissolve>
    </div>
  </form>
</template>


<style scoped>
.editor{
    max-height: 400px;
}
</style>


<script>
import { mapGetters } from 'vuex';
import CodeEditor from './CodeEditor.vue';
import fieldCut from './FieldCutExtent.vue';
import fieldDissolve from './FieldDissolveAdjacent.vue';

export default {
    components: {
        'field-cut': fieldCut,
        'field-dissolve': fieldDissolve,
        'CodeEditor': CodeEditor
    },
    data: function () {
        return {
            codeEditor: null,
            updateCodeEditor: 0
        };
    },
    emits: ['update:value'],
    props: {
        value: { type: Object, default: () => ({}) }
    },
    methods: {
        refreshCodeEditor: function(){
            this.updateCodeEditor += 1;
        }
    },
    computed: {
        ...mapGetters({
            lastUIUpdate: 'lastUIUpdate'
        }),
        model: {
            get: function () {
                return this.value;
            },
            set: function (newValue) {
                this.$emit('update:value', newValue);
            }
        }
    },
    activated: function () {
        this.refreshCodeEditor();
    }
};
</script>
