<template>
  <div class="row">
    <div class="col-md-5 col-sm-12">
      <div class="form-group">
        <label class="control-label" for="input-data-selection">Input data</label>
        <div class="form-inline" @submit.prevent>
          <select v-model="inputDataSelected" class="form-control mb-2 mr-sm-2" id="input-data-selection">
            <option v-for="item in inputDataChoice" :value="item.id">
              {{ item.name }} ({{ useFormatDataType(item.data_type) }})
            </option>
          </select>
          <button @click="addInputData" class="btn btn-secondary mb-2" type="submit">Add</button>
        </div>
      </div>
      <h4>Current</h4>
      <ul>
        <li v-for="input in dataInput">
          {{ input.name }}
          <span class="fas fa-times action" @click="removeInputData(input.id)"></span>
        </li>
      </ul>
      <div style="max-height: 300px; overflow: auto;">
        <input-list :attributes="attributes" :default-values="defaultValues"
                    @update:default-values="val => { defaultValues = val }">
        </input-list>
      </div>
    </div>
    <div class="col-md-7 col-sm-12">
      <editor v-model:value="model"></editor>
    </div>
  </div>
</template>


<script>
import { mapGetters, mapActions } from 'vuex';

import RuleEditor from './continuous-rules.vue';
import InputList from './continuous-input-list.vue';
import { useFormatDataType } from '../../format.js';

export default {
    components: {
        'editor': RuleEditor,
        'input-list': InputList,
    },
    computed: {
        ...mapGetters({
            data: 'projectDataDetails',
            projectDataInput: 'projectDataInput',
            sharedData: 'projectSharedData'
        }),
        inputDataChoice: function () {
            return this.sharedData.filter((item) => (this.inputData.indexOf(item.id) === -1 && this.data.id !== item.id));
        },
        dataInput: function () {
            let input = [];
            for (let dataId of this.inputData) {
                let prop = dataId.toString();
                if (prop in this.projectDataInput) {
                    input.push(this.projectDataInput[prop]);
                }
            }
            return input;
        }
    },
    data: function () {
        return {
            model: {},
            inputData: [],
            attributes: [],
            defaultValues: [],
            inputDataSelected: undefined
        };
    },
    watch: {
        data: {
            immediate: true,
            handler: function (data) {
                if ('preference_model' in data) {
                    let m = data.preference_model;
                    this.model = {
                        rule: m.rule,
                        keepOverlap: m.keep_overlap || 'all',
                    };
                    if (m.cut_to_extent != undefined) {
                        this.model.cutToExtent = m.cut_to_extent;
                    } else {
                        this.model.cutToExtent = true;
                    }
                    if (m.dissolve_adjacent != undefined) {
                        this.model.dissolveAdjacent = m.dissolve_adjacent;
                    } else {
                        this.model.dissolveAdjacent = false;
                    }
                    // Copy default_values using a slice() if it exists
                    this.defaultValues = m.default_values ? m.default_values.slice() : [];
                    // Copy the attributes using a slice() if the array exists
                    this.attributes = m.attributes_list ? m.attributes_list.slice() : [];
                }
                // Copy input_data using a slice() if it exists
                this.inputData = data.input_data ? data.input_data.slice() : [];
            }
        },
        projectDataInput: {
            immediate: true,
            handler: function(projectDataInput) {
                this.attributes = [];
                for(let i=0; i<this.dataInput.length; i++){
                    this.attributes.push(...this.dataInput[i].attributes);
                }
            }
        }
    },
    methods: {
        ...mapActions({
            updateProjectData: 'updateProjectData',
            updatePrefModel: 'updateProjectDataModel',
            loadInputData: 'loadInputData',
        }),
        useFormatDataType,
        addInputData: function () {
            this.inputData.push(this.inputDataSelected);
            this.loadInputData({ ids: this.inputData });
        },
        removeInputData: function (inputId) {
            let arrayIndex = this.inputData.indexOf(inputId);
            if (arrayIndex !== -1) {
                this.inputData.splice(arrayIndex, 1);
            }
            this.loadInputData({ ids: this.inputData });
        },
        save: function () {
            let model = {
                rule: this.model.rule,
                keep_overlap: this.model.keepOverlap,
                cut_to_extent: this.model.cutToExtent,
                dissolve_adjacent: this.model.dissolveAdjacent,
                pref_type: 'continuous_rule'
            };
            if ('default_values' in this.data.preference_model) {
                model['default_values'] = this.defaultValues;
            }
            let data = {
                input_data: this.inputData,
                preference_model: model
            };
            this.$emit('save', data);
        }
    }
};
</script>
