<template>
  <table class="table">
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Default</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr is="vue:input-item" v-for="item in variables" :data="item"
          @update:data="val => { setDefaultValue(item.id, val) }">
      </tr>
    </tbody>
  </table>
</template>


<script>
import { mapGetters } from 'vuex';
import InputItem from './continuous-input-item.vue';

export default {
    components: {
        'input-item': InputItem
    },
    props: {
        attributes: {
            type: Array,
            default: () => ([])
        },
        defaultValues: {
            type: Array,
            default: () => ([])
        }
    },
    computed: {
        ...mapGetters({
            data: 'projectDataDetails',
        }),
        variables: function () {
            let variables = [];
            for (let attr of this.attributes) {
                let newVar = Object.assign({}, attr, { value: null });
                let defaultValue = this.defaultValues.find((d) => d.attribute === attr.id);
                if (defaultValue !== undefined) {
                    newVar['value'] = defaultValue.value;
                }
                variables.push(newVar);
            }
            return variables;
        }
    },
    methods: {
        setDefaultValue: function (attributeId, value) {
            let modified = false;
            let defaultValues = this.defaultValues.slice();
            let index = defaultValues.findIndex((d) => d.attribute === attributeId);
            if (index === -1) {
                defaultValues.push({ attribute: attributeId, value: value });
                modified = true;

            } else if (defaultValues[index].value !== value) {
                let newVal = Object.assign({}, defaultValues[index], { value: value });
                defaultValues[index] = newVal;
                modified = true;
            }
            if (modified) {
                this.$emit('update:default-values', defaultValues);
            }
        }
    }
};
</script>
