<template>
  <div>
    <h3>Categories</h3>
    <div class="row mb-4" v-for="(category, categId) in model.categories">
      <div class="col-12">
        <h4>{{ category.name }}</h4>
        <table class="table" style="margin-bottom: 5px;table-layout: fixed;">
          <thead>
            <tr>
              <th class="discrete-item-actions">Action</th>
              <th>Code</th>
            </tr>
          </thead>
          <tbody>
            <tr is="vue:rule-item" v-for="(rule, index) in category.rules"
                :rule="rule" @modified="rule => { updateRule(categId, index, rule) }" @delete="deleteRule(categId, index)">
            </tr>
          </tbody>
        </table>

        <button @click="createNewRule(categId)" class="btn btn-sm btn-secondary" aria-label="New">
          <span class="fas fa-plus" aria-hidden="true"></span> New
        </button>
      </div>
    </div>

    <div class="form-row">
      <field-cut class="col-xl-4 col-lg-6" :model-value="cutToExtent" @update:model-value="newValue => updateCut(newValue)"></field-cut>

      <field-dissolve class="col-xl-4 col-lg-6" :model-value="dissolveAdjacent" @update:model-value="newValue => updateDissolve(newValue)"></field-dissolve>
    </div>
  </div>
</template>


<script>
import { mapGetters, mapActions } from 'vuex';
import RuleItem from './discrete-rule-item.vue';
import fieldCut from './FieldCutExtent.vue';
import fieldDissolve from './FieldDissolveAdjacent.vue';

export default {
    components: {
        'rule-item': RuleItem,
        'field-cut': fieldCut,
        'field-dissolve': fieldDissolve
    },
    data: function () {
        return {
            model: {},
            cutToExtent: true,
            dissolveAdjacent: false
        };
    },
    computed: mapGetters({
        data: 'projectDataDetails'
    }),
    methods: {
        ...mapActions({
            updatePrefModel: 'updateProjectDataModel',
            loadProjectData: 'loadProjectData'
        }),
        updateRule: function (categId, ruleId, rule) {
            this.model.categories[categId].rules[ruleId] = rule;
            this.updatePrefModel({ id: this.data.id, data: this.model })
            .then(() => this.loadProjectData(this.data.id));
        },
        deleteRule: function (categId, ruleId) {
            this.model.categories[categId].rules.splice(ruleId, 1);
            this.updatePrefModel({ id: this.data.id, data: this.model })
            .then(() => this.loadProjectData(this.data.id));
        },
        createNewRule: function (categId) {
            this.model.categories[categId].rules.push('');
            this.updatePrefModel({ id: this.data.id, data: this.model })
            .then(() => this.loadProjectData(this.data.id));
        },
        updateCut: function (value) {
            if (value != this.cutToExtent) {
                this.cutToExtent = value;
                let model = { cut_to_extent: this.cutToExtent };
                this.updatePrefModel({ id: this.data.id, data: model })
                .then(() => this.loadProjectData(this.data.id));
            }
        },
        updateDissolve: function (value) {
            if (value != this.dissolveAdjacent) {
                this.dissolveAdjacent = value;
                let model = { dissolve_adjacent: this.dissolveAdjacent };
                this.updatePrefModel({ id: this.data.id, data: model })
                .then(() => this.loadProjectData(this.data.id));
            }
        }
    },
    watch: {
        'data.preference_model': {
            immediate: true,
            handler: function (model) {
                if (model) {
                    this.model = { categories: [] };
                    for (let categ of model.categories) {
                        let newCateg = { name: categ.name, rules: categ.rules.slice() };
                        this.model.categories.push(newCateg);
                    }
                    if (model.cut_to_extent != undefined) {
                        this.cutToExtent = model.cut_to_extent;
                    } else {
                        this.cutToExtent = true;
                    }
                    if (model.dissolve_adjacent != undefined) {
                        this.dissolveAdjacent = model.dissolve_adjacent;
                    } else {
                        this.dissolveAdjacent = false;
                    }
                }
            }
        }
    }
};
</script>
