<template>
  <tr>
    <td class="discrete-item-actions">
      <template v-if="editing">
        <button class="btn btn-primary btn-sm" @click="save" aria-label="Save" title="Save">
          <span class="fas fa-check" aria-hidden="true"></span>
        </button>
        <button class="btn btn-secondary btn-sm" @click="cancel" aria-label="Cancel" title="Cancel">
          <span class="fas fa-times" aria-hidden="true"></span>
        </button>
      </template>
      <template v-else>
        <button class="btn btn-outline-secondary btn-sm" @click="edit" aria-label="Edit" title="Edit">
          <span class="fas fa-pen" aria-hidden="true"></span>
        </button>
        <button class="btn btn-outline-secondary btn-sm" @click="remove" aria-label="Delete" title="Delete">
          <span class="fas fa-trash-alt" aria-hidden="true"></span>
        </button>
      </template>
    </td>
    <td>
      <!--div ref="editor" :style="{'background-color': editing ? 'unset' : '#f7f7f7'}"></div-->
      <CodeEditor ref="codeEditor" :key="updateCodeEditor" v-model="ruleEdited" :editable="editing" :style="{'background-color': editing ? 'unset' : '#f7f7f7'}"></CodeEditor>
    </td>
  </tr>
</template>


<script>
import CodeEditor from './CodeEditor.vue';
import { mapGetters, mapActions } from 'vuex';

export default {
    props: {
        rule: String
    },
    components: {
        'CodeEditor': CodeEditor
    },
    data: function () {
        return {
            editing: false,
            updateCodeEditor: 0,
            ruleEdited: '',
            test: "print('TEST')"
        };
    },
    computed: {
        ...mapGetters({
            lastUIUpdate: 'lastUIUpdate'
        }),
    },
    methods: {
        ...mapActions({
            showModal: 'showModal'
        }),
        refreshCodeEditor: function(){
            this.updateCodeEditor += 1;
        },
        edit: function () {
            this.editing = true;
        },
        save: function () {
            this.$emit('modified', this.ruleEdited);
            this.editing = false;
        },
        cancel: function () {
            this.$refs.codeEditor.setEditorValue(this.$props.rule);
            this.editing = false;
        },
        remove: function () {
            let modalParams = {
                header: 'Delete rule?',
                text: 'Are you sure you want to delete this rule?'
            };
            this.showModal({ template: 'modal-dialog', data: modalParams })
            .then(() => this.$emit('delete'));
        }
    },
    mounted: function () {
        this.ruleEdited = this.$props.rule;
        /*
        this.$nextTick(() => {
            this.codeEditor = CodeMirror(this.$refs.editor, {
                value: this.rule || '',
                mode: {
                    name: 'python',
                    version: 2
                },
                indentUnit: 4,
                theme: 'neat',
                readOnly: 'nocursor'
            });
            this.codeEditor.setSize(null, 'auto');
        });*/
    },
    activated: function () {
        this.refreshCodeEditor();
    }
};
</script>
