<template>
  <table class="table">
    <thead>
      <tr>
        <th>Attribute</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item in variables">
        <td class="monospace">{{ item.name + '.' + item.attribute }}</td>
      </tr>
    </tbody>
  </table>
</template>


<script>
import { mapGetters } from 'vuex';

export default {
    props: {
        inputDataIds: {
            type: Array,
            default: () => ([])
        }
    },
    computed: {
        ...mapGetters({
            data: 'projectDataDetails',
            projectDataInput: 'projectDataInput'
        }),
        variables: function () {
            let variables = [];
            for (let dataId of this.inputDataIds) {
                let prop = dataId.toString();
                if (prop in this.projectDataInput) {
                    let attributes = this.projectDataInput[prop].attributes.slice(); // copy the array
                    variables = variables.concat(attributes);
                }
            }
            return variables;
        }
    }
};
</script>
