<template>
  <div>
    <h3>Parameters inference</h3>
    <button @click="showMRSortInferenceModal" class="btn btn-primary mb-3">
      Infer parameters
    </button>

    <h3>Criteria</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Profile</th>
          <th v-for="(criterion, cIndex) in model.criteria"
              :class="{ 'text-danger': v$.model.criteria[cIndex].profilesOrder.$invalid == true }">
            <span class="control-label">{{ formatAttribute(criterion) }}</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(prof, pIndex) in profilesLimits">
          <th>{{ prof.low + ' - ' + prof.high }}</th>
          <td v-for="(criterion, cIndex) in model.criteria">
            <div>
              <input type="number" step="any" class="form-control"
                  v-model.number="criterion.profiles[profilesLimits.length - 1 - pIndex]"
                  :class="{ 'is-invalid': v$.model.criteria[cIndex].$invalid }">
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>Maximize</th>
          <td v-for="criterion in model.criteria">
            <input type="checkbox" v-model="criterion.maximize">
          </td>
        </tr>
        <tr>
          <th>Weight</th>
          <td v-for="criterion in model.criteria">
            <input type="number" step="any" class="form-control" v-model.number="criterion.weight">
          </td>
        </tr>
      </tfoot>
    </table>

    <div class="form-row">
      <div class="form-group field-required">
        <label class="control-label" for="majorityThreshold">Majority threshold</label>
        <input id="majorityThreshold" type="number" step="any" class="form-control mx-sm-2" placeholder="Majority threshold"
            v-model.number="model.majority_threshold" :class="{ 'is-invalid': v$.model.majority_threshold.$invalid }">
        <span class="text-muted">Shoud be at least half of the sum of the weights.</span>
      </div>
    </div>

    <div class="form-row">
      <field-cut class="col-xl-4 col-lg-6" v-model="cutToExtent"></field-cut>
      <field-dissolve class="col-xl-4 col-lg-6" v-model="dissolveAdjacent"></field-dissolve>
    </div>

    <button class="btn btn-primary" :disabled="v$.model.$invalid" @click="saveModel">Save</button>
  </div>
</template>


<script>
import { mapGetters, mapActions } from 'vuex';
import { required, helpers } from '@vuelidate/validators';
import fieldCut from './FieldCutExtent.vue';
import fieldDissolve from './FieldDissolveAdjacent.vue';
import { useVuelidate } from '@vuelidate/core';

export default {
    components: {
        'field-cut': fieldCut,
        'field-dissolve': fieldDissolve
    },
    data: function () {
        return {
            model: {
                categories: [],
                criteria: [],
                majority_threshold: 0
            },
            cutToExtent: true,
            dissolveAdjacent: false
        };
    },
    setup(){
        return{
            v$: useVuelidate()
        }
    },
    computed: {
        ...mapGetters({
            data: 'projectDataDetails',
            inputData: 'projectDataInput'
        }),
        profilesLimits: function () {
            let limits = [];
            if (this.model.categories !== undefined && this.model.categories.length > 1) {
                for (let i = (this.model.categories.length - 1); i > 0; i--) {
                    let low = this.model.categories[i]['name'];
                    let high = this.model.categories[i - 1]['name'];
                    limits.unshift({ low: low, high: high });
                }
            }
            return limits;
        }
    },
    methods: {
        ...mapActions({
            loadProjectData: 'loadProjectData',
            updatePrefModel: 'updateProjectDataModel',
            showModal: 'showModal'
        }),
        formatAttribute: function (criterion) {
            return criterion.attribute.data.name + '.' + criterion.attribute.name;
        },
        checkProfilesLength: function () {
            for (let criterion of this.model.criteria) {
                if (criterion.profiles.length > (this.model.categories.length - 1)) {
                    criterion.profiles.splice(this.model.categories.length - 1);
                }
                else if (criterion.profiles.length < (this.model.categories.length - 1)) {
                    while (criterion.profiles.length < (this.model.categories.length - 1)) {
                        criterion.profiles.push(null);
                    }
                }
            }
        },
        saveModel: function () {
            let newModel = {
                categories: this.model.categories,
                criteria: [],
                majority_threshold: this.model.majority_threshold,
                cut_to_extent: this.cutToExtent,
                dissolve_adjacent: this.dissolveAdjacent
            };
            for (let criterion of this.model.criteria) {
                newModel.criteria.push({
                    attribute_id: criterion.attribute.id,
                    maximize: criterion.maximize,
                    weight: criterion.weight,
                    profiles: criterion.profiles
                });
            }
            this.updatePrefModel({ id: this.data.id, data: newModel })
            .then(() => this.loadProjectData(this.data.id));
        },
        showMRSortInferenceModal: function () {
            this.showModal({ template: 'mrsort-inference' })
            .then(() => this.loadProjectData(this.data.id));
        }
    },
    validations() {
        const profilesOrder = helpers.withMessage(
            'Profiles are not in the correct order',
            function(criterion){
                let f;
                if (criterion.maximize) {
                    f = (v1, v2) => v1 >= v2;
                } else {
                    f = (v1, v2) => v1 <= v2;
                }
                return criterion.profiles.every((val, index, array) => index === 0 || f(val, array[index - 1]));
            }
        )
        const criteriaValidations = this.model.criteria.map(() => ({
            profilesOrder,
            profiles: {
                $each: helpers.forEach({required})
            }
        }));
        return {
            model: {
                criteria: criteriaValidations,
                majority_threshold: {
                    required,
                    threshold: function (value) {
                        let sum = this.model.criteria.reduce((acc, crit) => acc + crit.weight, 0);
                        return (value >= sum/2 && value <= sum);
                    }
                }
            }
        }
    },
    watch: {
        'data.preference_model': {
            immediate: true,
            handler: function (model) {
                if (model) {
                    // parse as json to make a deep copy
                    this.model = JSON.parse(JSON.stringify(model));
                    this.checkProfilesLength();
                    if (model.cut_to_extent != undefined) {
                        this.cutToExtent = model.cut_to_extent;
                    } else {
                        this.cutToExtent = true;
                    }
                    if (model.dissolve_adjacent != undefined) {
                        this.dissolveAdjacent = model.dissolve_adjacent;
                    } else {
                        this.dissolveAdjacent = false;
                    }
                }
            }
        }
    }
};
</script>
