<template>
  <div class="form-group">
    <label class="control-label" for="dissolve-select">
      Identical adjacent geometries
      <span class="fas fa-question-circle" data-toggle="tooltip"
          title="Choose whether the adjacent geometries with the same values should be merged or kept distinct.">
      </span>
    </label>
    <select :value="modelValue" @input="updateModelValue($event)" class="form-control" id="dissolve-select">
      <option :value="true">merge</option>
      <option :value="false">distinct</option>
    </select>
  </div>
</template>


<script>
import $ from 'jquery';

export default {
    props: {
        modelValue: {
            type: Boolean,
            default: false
        }
    },
    mounted: function () {
        this.$nextTick(() => {
            $('[data-toggle="tooltip"]').tooltip();
        });
    },
    methods: {
        updateModelValue(event){
            let value = (event.target.value == 'true');
            this.$emit('update:modelValue', value);
        }
    },
};
</script>
