<template>
  <div class="form-group">
    <label class="control-label" for="cut-select">
      Intersection with project extent
      <span class="fas fa-question-circle" data-toggle="tooltip"
          title="Choose if the geometries should be cut to the extent of the project, or if the full geometry should be kept when it sticks out of the extent.">
      </span>
    </label>
    <select :value="modelValue" @input="updateModelValue($event)" class="form-control" id="cut-select">
      <option :value="true">cut</option>
      <option :value="false">keep</option>
    </select>
  </div>
</template>


<script>
import $ from 'jquery';

export default {
    props: {
        modelValue: {
            type: Boolean,
            default: true
        }
    },
    methods: {
        updateModelValue(event){
            let value = (event.target.value == 'true');
            this.$emit('update:modelValue', value);
        }
    },
    mounted: function () {
        this.$nextTick(() => {
            $('[data-toggle="tooltip"]').tooltip();
        });
    }
};
</script>
