<template>
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12 form-group">
      <label class="control-label" for="input-data-selection">Input data</label>
      <select v-model="inputDataSelected" class="form-control" @change="setInputData()">
        <option v-for="item in inputDataChoice" :value="item.id" id="input-data-selection">
          {{ item.name }} ({{ useFormatDataType(item.data_type) }})
        </option>
      </select>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 form-group">
      <label for="field-radius">Radius</label>
      <div class="input-group">
        <input type="number" step="any" class="form-control" v-model.number="radius"
            id="field-radius" placeholder="1000" :class="{ 'is-invalid': v$.radius.$invalid }">
        <div class="input-group-append">
          <span class="input-group-text">m</span>
        </div>
      </div>
    </div>

    <field-cut class="col-lg-3 col-md-6 col-sm-6 col-xs-12" v-model="cutToExtent"></field-cut>

    <field-dissolve class="col-lg-3 col-md-6 col-sm-6 col-xs-12" v-model="dissolveAdjacent"></field-dissolve>
  </div>
</template>


<script>
import { mapGetters, mapActions } from 'vuex';
import { numeric, required } from '@vuelidate/validators';
import { useVuelidate } from '@vuelidate/core';
import InputList from './discrete-input-list.vue';
import fieldCut from './FieldCutExtent.vue';
import fieldDissolve from './FieldDissolveAdjacent.vue';
import { useFormatDataType } from '../../format.js';

export default {
    components: {
        'input-list': InputList,
        'field-cut': fieldCut,
        'field-dissolve': fieldDissolve
    },
    computed: {
        ...mapGetters({
            data: 'projectDataDetails',
            sharedData: 'projectSharedData'
        }),
        inputDataChoice: function () {
            return this.sharedData.filter((item) => item.id !== this.data.id);
        }
    },
    data: function () {
        return {
            radius: undefined,
            cutToExtent: true,
            dissolveAdjacent: false,
            inputData: [],
            inputDataSelected: undefined
        };
    },
    setup(){
        return{
            v$: useVuelidate()
        }
    },
    watch: {
        data: {
            immediate: true,
            handler: function (data) {
                this.radius = data.preference_model.radius || 0;
                if (data.preference_model.cut_to_extent != undefined) {
                    this.cutToExtent = data.preference_model.cut_to_extent;
                } else {
                    this.cutToExtent = true;
                }
                if (data.preference_model.dissolve_adjacent != undefined) {
                    this.dissolveAdjacent = data.preference_model.dissolve_adjacent;
                } else {
                    this.dissolveAdjacent = false;
                }
                this.inputData = data.input_data.slice();
                this.inputDataSelected = this.inputData[0];
            }
        },
        'v$.$invalid': {
            immediate: true,
            handler: function (invalid) {
                this.$emit('invalid', invalid);
            }
        }
    },
    methods: {
        ...mapActions({
            updateProjectData: 'updateProjectData',
            updatePrefModel: 'updateProjectDataModel'
        }),
        useFormatDataType,
        setInputData: function () {
            this.$nextTick(() => {
                this.inputData = [this.inputDataSelected];
            });
        },
        save: function () {
            let model = {
                radius: this.radius,
                cut_to_extent: this.cutToExtent,
                dissolve_adjacent: this.dissolveAdjacent,
                pref_type: 'geo_buffer'
            };
            let data = {
                input_data: this.inputData,
                preference_model: model
            };
            this.$emit('save', data);
        }
    },
    validations() {
        return {
            radius: {
                numeric,
                required
            }
        }
    }
};
</script>
