<template>
  <modal header="MR-Sort inference" size="xl" @success="save" @cancel="cancel">
    <button @click="loadInferenceAlternatives" class="btn btn-primary mb-2">Load</button>

    <table class="table">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th v-for="criterion in criteria">
            <div class="form-inline">
              {{ criterion.attribute.data.name}}.{{ criterion.attribute.name }}
              <div class="dropdown ml-1">
                <button class="btn btn-outline-secondary btn-xs dropdown-toggle" type="button"
                    @click="toggleDropdown(criterion.attribute.id)">
                  <span class="caret"></span>
                </button>

                <div class="dropdown-menu" :class="{ show: isOpen(criterion.attribute.id) }">
                  <a role="button" @click="setSortAsc(criterion.attribute.id)" class="dropdown-item">
                    <span :class="{ 'active-sort': sortKey === criterion.attribute.id && sortOrder === 'asc' }">Sort asc</span>
                  </a>
                  <a role="button" @click="setSortDesc(criterion.attribute.id)" class="dropdown-item">
                    <span :class="{ 'active-sort': sortKey === criterion.attribute.id && sortOrder === 'desc' }">Sort desc</span>
                  </a>
                  <h6 class="dropdown-header">Filter</h6>
                  <form @submit.prevent class="form-inline px-2 mb-2">
                    <label class="mr-2">min</label>
                    <input type="number" step="any" class="form-control form-control-sm" placeholder="min"
                           v-model.number="filter[criterion.attribute.id].min">
                  </form>
                  <form @submit.prevent class="form-inline px-2">
                    <label class="mr-2">max</label>
                    <input type="number" step="any" class="form-control form-control-sm" placeholder="max"
                           v-model.number="filter[criterion.attribute.id].max">
                  </form>
                </div>
              </div>
            </div>
          </th>
          <th>Category</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(alternative, index) in orderedAlternatives">
          <th>{{ index + 1 }}</th>
          <td v-for="criterion in criteria">{{ alternative.values[criterion.attribute.id] }}</td>
          <td>
            <select class="form-control" v-model="alternative.category_id">
              <option :value="null">Select a category</option>
              <option v-for="category in categories" :value="category.id">
                {{ category.name }}
              </option>
            </select>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>Maximize</th>
          <td v-for="criterion in criteria">
            <input type="checkbox" v-model="criterion.maximize">
          </td>
          <td>&nbsp;</td>
        </tr>
      </tfoot>
    </table>
  </modal>
</template>


<style scoped>
.active-sort {
    font-weight: bold;
    font-style: italic;
}

.dropdown-toggle::after {
    margin-left: initial;
}

.btn-xs {
    padding: 0.2rem 0.3rem;
    font-size: 0.875rem;
    line-height: 1;
    border-radius: 0.2rem;
}
</style>


<script>
import orderBy from 'lodash/orderBy';
import every from 'lodash/every';
import isNumber from 'lodash/isNumber';
import { mapGetters, mapActions } from 'vuex';
import api from '../../api';
import Modal from '../Modal/modal-save.vue';

export default {
    components: {
        'modal': Modal
    },
    data: function () {
        return {
            criteria: [],
            alternatives: [],
            categories: [],
            sortKey: null,
            sortOrder: 'asc',
            dropdownOpen: [],
            filter: {}
        };
    },
    computed: {
        ...mapGetters({
            data: 'projectDataDetails'
        }),
        orderedAlternatives: function () {
            let alternatives = this.alternatives.filter((alt) => {
                return every(alt.values, (v, k) => {
                    if (this.filter[k] === undefined) {
                        return true;
                    } else {
                        let min = isNumber(this.filter[k].min) ? v >= this.filter[k].min : true;
                        let max = isNumber(this.filter[k].max) ? v <= this.filter[k].max : true;
                        return min && max;
                    }
                });
            });
            if (this.sortKey !== null) {
                return orderBy(alternatives, [(a) => a.values[this.sortKey]], [this.sortOrder]);
            } else {
                return alternatives;
            }
        }
    },
    methods: {
        ...mapActions({
            closeModal: 'closeModal',
            resolveModal: 'resolveModal',
            rejectModal: 'rejectModal',
            notify: 'displayNotification'
        }),
        isOpen: function (key) {
            return this.dropdownOpen.includes(key);
        },
        toggleDropdown: function (key) {
            let index = this.dropdownOpen.indexOf(key);
            if (index === -1) {
                this.dropdownOpen.push(key);
            } else {
                this.dropdownOpen.splice(index, 1);
            }
        },
        setSortAsc: function (key) {
            if (key !== this.sortKey || this.sortOrder !== 'asc') {
                this.sortKey = key;
                this.sortOrder = 'asc';
            } else {
                this.sortKey = null;
            }
        },
        setSortDesc: function (key) {
            if (key !== this.sortKey || this.sortOrder !== 'desc') {
                this.sortKey = key;
                this.sortOrder = 'desc';
            } else {
                this.sortKey = null;
            }
        },
        loadInferenceAlternatives: function () {
            if (this.data) {
                api.loadMRSortInferenceAlternatives(this.data.id)
                .then((resp) => {
                    this.categories = resp.data.inference_data.categories;
                    this.criteria = resp.data.inference_data.criteria;
                    this.alternatives = resp.data.inference_data.alternatives;
                });
            }
        },
        getInferenceData: function () {
            if (this.data) {
                api.getMRSortInferenceData(this.data.id)
                .then((resp) => {
                    this.categories = resp.data.inference_data.categories;
                    this.criteria = resp.data.inference_data.criteria;
                    this.alternatives = resp.data.inference_data.alternatives;
                });
            }
        },
        save: function () {
            let criteria = [];
            for (let criterion of this.criteria) {
                criteria.push({
                    attribute_id: criterion.attribute.id,
                    maximize: criterion.maximize
                });
            }
            let alternatives = [];
            for (let alternative of this.alternatives) {
                alternatives.push({
                    id: alternative.id,
                    category_id: alternative.category_id
                });
            }
            let inferenceData = {
                criteria: criteria,
                alternatives: alternatives
            };
            api.updateMRSortInferenceData(this.data.id, inferenceData)
            .then(() => api.inferMRSortData(this.data.id))
            .then(() => {
                this.resolveModal();
                this.closeModal();
            })
            .catch((error) => { this.notify({ content: error.response.message || 'Error infering the MR-Sort parameters' }); });
        },
        cancel: function () {
            this.rejectModal();
            this.closeModal();
        }
    },
    watch: {
        data: function () {
            this.getInferenceData();
        },
        /**
         * Reinitialize the filters when the criteria are modified.
         */
        criteria: function (criteria) {
            let filter = {};
            for (let criterion of criteria) {
                if (this.filter[criterion.attribute.id] !== undefined) {
                    filter[criterion.attribute.id] = this.filter[criterion.attribute.id];
                } else {
                    filter[criterion.attribute.id] = {
                        min: undefined,
                        max: undefined
                    };
                }
            }
            this.filter = filter;
        }
    },
    created: function () {
        this.getInferenceData();
    }
};
</script>
