<template>
  <div>
    <h4>Input variables</h4>
    <div style="max-height: 300px; overflow: auto;">
      <input-list :attributes="attributesList" :default-values="defaultValues"
          @update:default-values="val => defaultValues = val">
      </input-list>
    </div>

    <h4>Weighted Sum</h4>
    <form class="form-inline d-flex flex-row" @submit.prevent>
      <div>result&nbsp;=&nbsp;</div>
      <div v-for="(operand, index) in operands" class="mb-2 mx-2">
        <span v-if="index > 0" class="mx-1">&nbsp;+&nbsp;</span>
        <input type="number" class="weight-field form-control" v-model.number="operand.weight">
        &nbsp;&times;&nbsp;
        <select class="form-control" v-model="operand.attribute">
          <option :value="null">&nbsp;</option>
          <option v-for="attr in attributesList" :value="attr.id">
            {{ attr.name }}.{{ attr.attribute }}
          </option>
        </select>
        <button @click="removeOperand(index)" class="btn btn-outline-secondary btn-sm btn-remove"
            aria-label="Remove" title="Remove">
          <span class="fas fa-times" aria-hidden="true"></span>
        </button>
      </div>
    </form>

    <button class="btn btn-secondary" @click="addOperand">Add new</button>

    <div class="form-row">
      <div class="form-group col-sm-4">
        <label class="control-label" for="rules-overlap">Overlap method</label>
        <select v-model="keepOverlap" class="form-control" id="rules-overlap">
          <option value="all">all</option>
          <option value="max">maximum</option>
          <option value="min">minimum</option>
          <option value="sum">sum</option>
          <option value="average">average</option>
        </select>
      </div>
      <field-cut class="col-sm-4" v-model="cutToExtent"></field-cut>
      <field-dissolve class="col-sm-4" v-model="dissolveAdjacent"></field-dissolve>
    </div>

    <button class="btn btn-primary" @click="saveModel">Save</button>
  </div>
</template>


<style scoped>
.weight-field {
    width: auto;
    max-width: 100px;
}

.btn-remove {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    padding: 0;
}
</style>


<script>
import { mapGetters, mapActions } from 'vuex';
import fieldCut from './FieldCutExtent.vue';
import fieldDissolve from './FieldDissolveAdjacent.vue';
import InputList from './continuous-input-list.vue';

export default {
    components: {
        'field-cut': fieldCut,
        'field-dissolve': fieldDissolve,
        'input-list': InputList,
    },
    data: function () {
        return {
            operands: [],
            keepOverlap: 'all',
            cutToExtent: true,
            dissolveAdjacent: false,
            defaultValues: [],
        };
    },
    computed: {
        ...mapGetters({
            data: 'projectDataDetails',
            dataInput: 'projectDataInput',
        }),
        attributesList: function () {
            if (this.data && this.data.preference_model) {
                let l = this.data.preference_model.attributes_list;
                return l.filter((a) => a.type === 'quantitative');
            }
        }
    },
    methods: {
        ...mapActions({
            updatePrefModel: 'updateProjectDataModel',
            loadProjectData: 'loadProjectData',
            notify: 'displayNotification',
        }),
        saveModel: function () {
            let model = {
                operands: this.operands,
                keep_overlap: this.keepOverlap,
                cut_to_extent: this.cutToExtent,
                dissolve_adjacent: this.dissolveAdjacent,
                default_values: this.defaultValues,
            };
            this.updatePrefModel({ id: this.data.id, data: model })
            .then(() => {
                this.notify({ type: 'success', delay: 2000, content: 'Modifications saved' });
                return this.loadProjectData(this.data.id);
            });
        },
        addOperand: function () {
            this.operands.push({ weight: 1, attribute: null });
        },
        removeOperand: function (index) {
            this.operands.splice(index, 1);
        },
    },
    watch: {
        'data.preference_model': {
            immediate: true,
            handler: function (model) {
                if (model != undefined) {
                    this.operands = JSON.parse(JSON.stringify(model.operands)); // deep copy
                    this.keepOverlap = (model.keep_overlap != null) ? model.keep_overlap : 'all';
                    this.cutToExtent = (model.cut_to_extent != null) ? model.cut_to_extent : true;
                    this.dissolveAdjacent = (model.dissolve_adjacent != null) ? model.dissolve_adjacent : false;
                    if (model.default_values != null) {
                        this.defaultValues = JSON.parse(JSON.stringify(model.default_values));
                    } else {
                        this.defaultValues = [];
                    }
                }
            },
        },
    },
};
</script>
