.main-pane {
    position: absolute;
    top: 56px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

@media(min-width: 768px) {
    .main-pane {
        top: 50px;
    }
}

.content-pane {
    overflow: visible;
}

@media(min-width: 768px) {
    .content-pane {
        padding: 20px;
    }
}

.navbar {
    border-radius: 0;
}

.navbar-default {
    margin-bottom: 0;
}

.navbar-toggle.left {
    float: left;
    margin-left: 15px;
}

.action {
    cursor: pointer;
}

.text-help {
    text-decoration: underline dotted;
}

.monospace {
    font-family: "Lucida Console", Monaco, monospace;
}

.rules pre {
    font-family: "Lucida Console", Monaco, monospace;
}

.row-buffer {
    margin-bottom: 10px;
}

.ol-touch .ol-control button {
    font-size: initial;
}

.ol-panel {
  /* View .ol-control */
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
  position: absolute;
  padding: 2px;
  right: .5em;
  top: .5em;
  width: 250px;
  max-height: 400px;
  overflow: auto;
}

.ol-rotate {
    /* Places the rotate button at the bottom left instead of the top right */
    bottom: .5em;
    left: .5em;
    top: auto;
    right: auto;
}

.model-map {
    font-size: 22px;
    font-weight: 500;
}

.model-data {
    margin-bottom: 10px;
}

.map-container {
    position: relative;
    height: 100%;
    background-color: #eeeeee;
}

.field-action {
    font-size: initial;
}

.field-required > label:after {
    content: ' Required';
    font-size: small;
    font-weight: normal;
}

.col-fit {
    width: 2%;
}

.col-buttons {
    white-space: nowrap;
}

.col-description {
    white-space: pre-line;
}

.col-user-perms-actions {
    width: 60px;
}

.perms-global {
    padding-left: 40px;
}

.modal-body {
    max-height: calc(100vh - 145px);
    overflow-y: auto;
}
.discrete-item-actions {
    width: 100px;
    min-width: 100px;
}

/* Bootstrap */
.btn-group {
    display: inline-flex; /* to prevent wrap */
}

/* Code editor */
.CodeMirror {
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    background: inherit;
}
.CodeMirror-focused {
    border-color: #66afe9;
    outline: 0;
    webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.cm-tab {
     background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAAAXNSR0IArs4c6QAAAGFJREFUSMft1LsRQFAQheHPowAKoACx3IgEKtaEHujDjORSgWTH/ZOdnZOcM/sgk/kFFWY0qV8foQwS4MKBCS3qR6ixBJvElOobYAtivseIE120FaowJPN75GMu8j/LfMwNjh4HUpwg4LUAAAAASUVORK5CYII=);
     background-position: right;
     background-repeat: no-repeat;
}
