<template>
  <div class="content-pane container-fluid">
    <h1>Shared data</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Data</th>
          <th>UID</th>
          <th>Expiration</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="share in shared">
          <td>
            <span v-if="projectData[share.data]">{{ projectData[share.data].name }}</span>
          </td>
          <td>
            <div class="input-group input-group-sm">
              <input type="text" readonly class="form-control" :value="formatUrl(share.uid)" :id="share.uid">
              <div role="group" class="input-group-append btn-group">
                <button class="btn btn-secondary" type="button" @click="copyUrl(share.uid)">
                  <span class="fas fa-clipboard" title="Copy to clipboard"></span>
                </button>
                <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">{{ outputFormat }}</button>
                <div class="dropdown-menu" aria-labelledby="downloadDrop">
                  <button class="dropdown-item" type="button" @click="outputFormat='shp'">.shp</button>
                  <button class="dropdown-item" type="button" @click="outputFormat='gpkg'">.gpkg</button>
                  <button class="dropdown-item" type="button" @click="outputFormat='geojson'">.geojson</button>
                  <button class="dropdown-item" type="button" @click="outputFormat='json'">.json</button>
                  <button class="dropdown-item" type="button" @click="outputFormat='gml'">.gml</button>
                </div>
              </div>
            </div>
          </td>
          <td>
            <span v-if="share.expiration" :title="share.expiration">{{ formatExpiration(share.expiration) }}</span>
            <span v-else>Never</span>
          </td>
          <td>
            <button class="btn btn-outline-secondary btn-sm" type="button" @click="deleteShare(share.uid)">
              <span class="fas fa-trash-alt" title="Cancel share"></span> Cancel
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>


<script>
import dayjs from 'dayjs';
import relativeTime from 'dayjs/plugin/relativeTime'

import app_config from '../../config';
import api from '../../api';

dayjs.extend(relativeTime);

export default {
    data: function () {
        return {
            shared: [],
            projectData: {},
            outputFormat: 'shp'
        };
    },
    methods: {
        formatUrl: function (uid) {
            if (uid) {
                let domain = window.location.origin;
                let api = app_config.API_ROOT;
                return `${domain}${api}/shares/${uid}?outputFormat=${this.outputFormat}`;
            }
        },
        formatExpiration: function (datetime) {
            if (datetime) {
                return dayjs(datetime).fromNow();
            }
        },
        copyUrl: function (uid) {
            let textElement = document.getElementById(uid);
            textElement.select();
            document.execCommand('copy');
        },
        deleteShare: function (uid) {
            api.deleteSharedGeoData(uid)
            .then(() => this.loadShares());
            // TODO: Add warning on error
        },
        loadShares: function () {
            let projectId = this.$route.params.projectId;
            api.getProjectShares(projectId)
            .then((resp) => {
                this.shared = resp.data.shared;
                let ids = [];
                for (const share of this.shared) {
                    ids.push(share.data);
                }
                if(ids.length == 0) {
                    return {"body": {"project_data": []}}
                } else {
                    return api.getProjectDataList(ids);
                }
            })
            .then((resp) => {
                this.projectData = {};
                if(!resp.data){
                    return
                }
                for (const data of resp.data.project_data) {
                    this.projectData[data.id] = data;
                }
            });
        }
    },
    created: function () {
        this.loadShares();
    }
};
</script>
