<template>
  <modal header="Share data" @success="share" @cancel="cancel" :save-disabled="v$.$invalid">
    <div class="form-group">
      <label>Expiration date</label>
      <input class="form-control" type="datetime-local" v-model="datetime" :class="{ 'is-invalid': v$.datetime.$invalid }" :min="minDate">
      <small class="form-text text-muted">Leave blank if you do not want the share to have an expiration date.</small>
    </div>
  </modal>
</template>


<script>
import dayjs from 'dayjs';
import { mapGetters, mapActions } from 'vuex';
import api from '../../api';
import Modal from '../Modal/modal-save.vue';
import { useVuelidate } from '@vuelidate/core';

function validDatetime (datetime) {
    if (datetime === '') {
        return true;
    }
    let expiration = dayjs(datetime);
    return expiration.isAfter(dayjs());
};

export default {
    components: {
        'modal': Modal
    },
    computed: {
        ...mapGetters({
            modalData: 'modalData'
        }),
        minDate: function () {
            return dayjs().format('YYYY-MM-DDTHH:mm');
        }
    },
    setup(){
        return{
            v$: useVuelidate()
        }
    },
    data: function () {
        return {
            datetime: dayjs().add(7, 'day').format('YYYY-MM-DDTHH:mm')
        };
    },
    methods: {
        ...mapActions({
            closeModal: 'closeModal',
            resolveModal: 'resolveModal',
            rejectModal: 'rejectModal',
            notify: 'displayNotification'
        }),
        share: function () {
            let expiration = null;
            if (this.datetime !== '') {
                expiration = dayjs(this.datetime).toISOString();
            }
            api.shareProjectData(this.modalData.projectDataId, expiration)
            .then(() => {
                this.resolveModal();
                this.closeModal();
            })
            .catch((error) => {
                this.notify({ content: error.message || 'Error sharing the data' });
            });
        },
        cancel: function () {
            this.rejectModal();
            this.closeModal();
        }
    },
    validations() {
        return {datetime: {validDatetime}}
    }
};
</script>
