<template>
    <div class="notifications">
        <Notif v-for="notification in notifications" :notif="notification"></Notif>
    </div>
</template>


<style>
.notifications {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 400px;
    z-index: 1100; /* bootstrap modals have a z-index of 1050 */
}
</style>


<script>
import { mapGetters } from 'vuex';
import Notif from './notification.vue';

export default {
    name: 'Notification',
    components: { Notif },
    computed: {
        ...mapGetters({
            notifications: 'notifications'
        }),
    },
    methods: {
        notify: function (content, type) {
            this.$refs.toast.showToast(content, { theme: type });
        }
    }
};
</script>
