<template>
  <transition name="notification">
    <div class="notification" :class="typeClass">
      <span @click="close(notif)" class="fas fa-times action notification-close"></span>
      {{ notif.content }}
    </div>
  </transition>
</template>


<style>
.notification {
  position: relative;
}
.notification-enter-active {
  transition: all .2s ease;
}
.notification-enter {
  opacity: 0;
  transform: scale(0.9);
}
.notification-close {
  position: absolute;
  top: 7px;
  right: 10px;
  font-size: smaller;
}
</style>


<script>
import { mapActions } from 'vuex';

export default {
    name: 'Notif',
    props: {
        notif: {
          type: Object,
          required: true
        }
    },
    computed: {
        typeClass: function () {
            /** the type must be success, info, warning or danger */
            if (this.notif.type) {
                return 'alert alert-' + this.notif.type;
            } else {
                return 'alert alert-info';
            }
        }
    },
    methods: {
        ...mapActions({
            close: 'closeNotification'
        })
    }
};
</script>
