<template>
    <modal header="Add GeoData" @success="save" @cancel="dismiss" :save-disabled="v$.$invalid" save-text="Add">
      <form @submit.prevent class="form-group field-required">
        <label>Select the global data</label>
        <select multiple v-model="globalDataSelected" class="form-control" style="min-height: 150px;">
          <option v-for="option in globalDataChoice" :value="option.id">
            {{ option.name }}
          </option>
        </select>
      </form>
    </modal>
  </template>
  
  
  <script>
  import { mapGetters, mapActions } from 'vuex';
  import { required } from '@vuelidate/validators';
  import api from '../../api';
  import Modal from '../Modal/modal-save.vue';
  import { useVuelidate } from '@vuelidate/core';
  
  export default {
      components: {
          'modal': Modal,
          notify: 'displayNotification',
      },
      data: function () {
          return {
              globalDataSelected: [],
              globalDataList: []
          };
      },
      setup(){
          return{
              v$: useVuelidate()
          }
      },
      computed: {
          ...mapGetters({
              sharedData: 'projectSharedData'
          }),
          globalDataChoice: function () {
              // list the geo_data already in the project
              let sharedIds = this.sharedData.map((item) => {
                  if (item.data_type == 'global_data' && item.data !== null) {
                      return item.data;
                  }
              });
              // return the geo_data not in the previous list
              return this.globalDataList.filter((item) => sharedIds.indexOf(item.id) === -1);
          }
      },
      methods: {
          ...mapActions({
              closeModal: 'closeModal',
              createProjectMultipleSharedData: 'createProjectMultipleSharedData'
          }),
          loadGlobalDataList: function () {
              api.getGlobalDataList().then((resp) => {
                  this.globalDataList = resp.data;
              }, (resp) => {
                  this.notify({ content: resp.data.message || 'Error loading the global data list' });
              });
          },
          save: function () {
              let dataList = [];
              for (let selected of this.globalDataSelected) {
                  let data = {
                      data_type: 'global_data',
                      data_id: selected
                  };
                  dataList.push(data);
              }
              this.createProjectMultipleSharedData(dataList);
              this.closeModal();
          },
          dismiss: function () {
              this.closeModal();
          }
      },
      validations() {
          return {globalDataSelected: {required}}
      },
      created: function () {
          this.loadGlobalDataList();
      }
  };
  </script>
  