<template>
  <modal header="Add GeoData" @success="save" @cancel="dismiss" :save-disabled="v$.$invalid" save-text="Add">
    <form @submit.prevent class="form-group field-required">
      <label>Select the geo-data</label>
      <select multiple v-model="geoDataSelected" class="form-control" style="min-height: 150px;">
        <option v-for="option in geoDataChoice" :value="option.id">
          {{ option.name }}
        </option>
      </select>
    </form>
  </modal>
</template>


<script>
import { mapGetters, mapActions } from 'vuex';
import { required } from '@vuelidate/validators';
import api from '../../api';
import Modal from '../Modal/modal-save.vue';
import { useVuelidate } from '@vuelidate/core';

export default {
    components: {
        'modal': Modal,
        notify: 'displayNotification',
    },
    data: function () {
        return {
            geoDataSelected: [],
            geoDataList: []
        };
    },
    setup(){
        return{
            v$: useVuelidate()
        }
    },
    computed: {
        ...mapGetters({
            sharedData: 'projectSharedData'
        }),
        geoDataChoice: function () {
            // list the geo_data already in the project
            let sharedIds = this.sharedData.map((item) => {
                if (item.data_type == 'geo_data' && item.data !== null) {
                    return item.data;
                }
            });
            // return the geo_data not in the previous list
            return this.geoDataList.filter((item) => sharedIds.indexOf(item.id) === -1);
        }
    },
    methods: {
        ...mapActions({
            closeModal: 'closeModal',
            createProjectMultipleSharedData: 'createProjectMultipleSharedData'
        }),
        loadGeoDataList: function () {
            api.getGeoDataList().then((resp) => {
                this.geoDataList = resp.data.geodata;
            }, (resp) => {
                this.notify({ content: resp.data.message || 'Error loading the geo data list' });
            });
        },
        save: function () {
            let dataList = [];
            for (let selected of this.geoDataSelected) {
                let data = {
                    data_type: 'geo_data',
                    data_id: selected
                };
                dataList.push(data);
            }
            this.createProjectMultipleSharedData(dataList);
            this.closeModal();
        },
        dismiss: function () {
            this.closeModal();
        }
    },
    validations() {
        return {geoDataSelected: {required}}
    },
    created: function () {
        this.loadGeoDataList();
    }
};
</script>
