<template>
  <div class="content-pane container-fluid">
    <h1>Data</h1>
    <div class="form-inline">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
          Add Data
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#" @click="addGeoData()">GeoData</a>
          <a class="dropdown-item" href="#" @click="addGlobalData()">Global Data</a>
          <a class="dropdown-item" href="#" @click="constructData('continuous_rule')">Rules Data</a>
          <a class="dropdown-item" href="#" @click="constructData('geo_buffer')">Buffer Data</a>
        </div>
      </div>
    </div>

    <table class="table" style="min-width: 500px;">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in sharedData">
          <td>{{ item.name }}</td>
          <td>
            <template v-if="item.data_type === 'generator' && item.preference_model !== null">
              {{ useFormatPrefType(item.preference_model.pref_type) }}
            </template>
            <template v-else>{{ useFormatDataType(item.data_type) }}</template>
          </td>
          <td class="col-description">{{ item.description }}</td>
          <td>
            <div class="btn-group">
              <button class="btn btn-outline-secondary btn-sm" @click="showGeoData(item.data)" :disabled="item.data === null"
                  aria-label="View" title="View">
                <span class="fas fa-eye" aria-hidden="true"></span>
                View
              </button>
              <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button"
                    @click="editData(item.id)" aria-label="Edit" title="Edit">
                  <span class="fas fa-edit" aria-hidden="true"></span>
                  Edit
                </button>
                <button class="dropdown-item" type="button" v-if="item.data_type === 'generator'"
                    @click="process(item.id)" aria-label="Process" title="Process">
                  <span class="fas fa-play" aria-hidden="true"></span>
                  Run
                </button>
                <button class="dropdown-item" type="button" @click="showModal({ template: 'data-share', data: { projectDataId: item.id }})" aria-label="Share" title="Share">
                  <span class="fas fa-share-square" aria-hidden="true"></span>
                  Share
                </button>
                <button class="dropdown-item" type="button" aria-label="Download" title="Download"
                    @click="downloadGeoData(item.data)" :disabled="item.data === null">
                  <span class="fas fa-download"></span>
                  Download
                </button>
                <div role="separator" class="dropdown-divider"></div>
                <button class="dropdown-item" type="button" @click="askRemoveData(item.id)" aria-label="Delete" title="Delete">
                  <span aria-hidden="true" class="fas fa-times"></span>
                  Delete
                </button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>


<script>
import { mapGetters, mapActions } from 'vuex';
import { useFormatDataType, useFormatPrefType } from '../../format.js';

export default {
    computed: mapGetters({
        sharedData: 'projectSharedData',
        projectData: 'projectDataDetails',
        project: 'projectDetails',
        geoData: 'geoData'
    }),
    watch: {
        'project.id': {
            immediate: true,
            handler: function (id) {
                if (id !== undefined) {
                    this.loadProjectSharedData();
                }
            }
        }
    },
    methods: {
        ...mapActions({
            deleteProjectSharedData: 'deleteProjectSharedData',
            loadProjectSharedData: 'loadProjectSharedData',
            loadProjectData: 'loadProjectData',
            processData: 'processProjectData',
            setProjectData: 'setProjectData',
            showModal: 'showModal',
            notify: 'displayNotification',
            showDataOnMap: 'showDataOnMap',
            downloadGeoData: 'downloadGeoData',
            loadGeoData: 'loadGeoData',
            clearGeoData: 'clearGeoData'
        }),
        useFormatDataType,
        useFormatPrefType,
        addGeoData: function () {
            this.showModal({ template: 'create-geo-data' });
        },
        addGlobalData: function () {
            this.showModal({ template: 'create-global-data' });
        },
        constructData: function (prefType) {
            let data = {
                data_type: 'generator',
                name: '',
                description: '',
                input_data: [],
                preference_model: {
                    pref_type: prefType
                }
            };
            this.setProjectData(data);
            this.showModal({ template: 'project-data-editor' });
        },
        process: function (dataId) {
            this.processData({ id: dataId })
            .then(() => this.notify({ content: 'Task added to queue', type: 'info' }))
            .then(() => this.loadProjectSharedData())
            .then(() => {
                for (let projectData of this.sharedData) {
                    if (projectData.id === dataId && projectData.data in this.geoData) {
                        return this.loadGeoData(projectData.data);
                    }
                }
            });
        },
        editData: function (dataId) {
            this.loadProjectData(dataId)
            .then(() => this.showModal({ template: 'project-data-editor' }))
            .then(() => this.loadProjectSharedData());
        },
        askRemoveData: function (dataId) {
            let params = {
                header: 'Remove data',
                text: '<p>This data could be used by a criterion.</p>' +
                      '<p>Are you sure you want to remove this data from the project?</p>',
                isHtml: true
            };
            this.showModal({ template: 'modal-dialog', data: params })
            .then(() => this.deleteProjectSharedData(dataId));
        },
        showGeoData: function (geoDataId) {
            this.showDataOnMap({
                geoDataId: geoDataId,
                overwrite: false
            });
        }
    },
    created: function () {
        this.clearGeoData();
    }
};
</script>
