<template>
  <transition appear name="modal-fade">
  <div class="modal" @click.self="cancel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{ params.header }}</h4>
          <button type="button" class="close" aria-label="Close" @click="cancel">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div v-if="params.isHtml" v-html="params.text"></div>
          <p v-else>{{ params.text }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" @click="cancel">{{ params.cancelButton }}</button>
          <button type="button" class="btn btn-primary" @click="validate">{{ params.okButton }}</button>
        </div>
      </div>
    </div>
  </div>
  </transition>
</template>


<style>
.modal {
  display: block;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.4);
}
@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
    max-width: 1200px;
  }
}
.modal-fade-enter-active, .modal-fade-leave-active {
  transition: opacity .3s ease;
}
.modal-fade-enter, .modal-fade-leave-active {
  opacity: 0;
}
</style>


<script>
import { mapGetters, mapActions } from 'vuex';

/**
 * Component to display a dialog modal
 *
 * The parameters can be set using the vuex store for the modals, with the following options:
 *   {string} header - the header text (default: 'Dialog')
 *   {string} text - the body content, either text or html (default: 'Are you sure?')
 *   {boolean} isHtml - to display the body text as html (default: false)
 *   {string} okButton - the text on the validation button (default: 'OK')
 *   {string} cancelButton - the text on the cancellation button (default: 'Cancel')
 */
export default {
    name: 'dialog-modal',
    computed: mapGetters({
        modalData: 'modalData'
    }),
    data: function () {
        return {
            params: {}
        };
    },
    watch: {
        modalData: function (newData) {
            this.params = Object.assign({
                header: 'Dialog',
                text: 'Are you sure?',
                isHtml: false,
                okButton: 'OK',
                cancelButton: 'Cancel'
            }, newData);
        }
    },
    methods: {
        ...mapActions({
            resolveModal: 'resolveModal',
            rejectModal: 'rejectModal',
            closeModal: 'closeModal'
        }),
        cancel: function () {
            this.rejectModal();
            this.closeModal();
        },
        validate: function () {
            this.resolveModal();
            this.closeModal();
        }
    },
    created: function () {
        this.params = Object.assign({
            header: 'Dialog',
            text: 'Are you sure?',
            isHtml: false,
            okButton: 'OK',
            cancelButton: 'Cancel'
        }, this.modalData);
    }
};
</script>
