<template>
  <component v-if="showModal" :is="currentModal"></component>
</template>


<script>
import { mapGetters } from 'vuex';
import Dialog from './dialog.vue';
import ProjectEditModal from '../Project/project-edit-modal.vue';
import ProjectCreateModal from '../Project/project-create-modal.vue';
import ProjectPermissionsEditModal from '../Project/project-permissions-edit-modal.vue';
import ProjectExtentModal from '../Project/project-extent-modal.vue';
import DataModalEditor from '../ProjectDataModal/data-modal-editor.vue';
import CreateGeoData from '../ProjectDataManager/create-geo-data.vue';
import CreateGlobalData from '../ProjectDataManager/create-global-data.vue';
import NewGeoData from '../GeoData/new-geo-data-modal.vue';
import GeoDataEditor from '../GeoData/edit-geo-data-modal.vue';
import GeoDataPermissionsEdit from '../GeoData/permissions-edit-modal.vue';
import NewStream from '../Stream/new-stream-modal.vue';
import EditStream from '../Stream/edit-stream-modal.vue';
import NewStreamVersion from '../Stream/new-stream-version-modal.vue';
import StreamPermissionsEdit from '../Stream/permissions-edit-modal.vue';
import MRSortInference from '../PreferenceModels/mrsort-inference-modal.vue';
import DataShare from '../ProjectDataShare/share-modal.vue';
import TemplatesManager from '../Project/templates-manager-modal.vue';
import TemplateCreate from '../Project/template-create-modal.vue';
import NewGlobalData from '../GlobalData/new-global-data.vue';
import EditGlobalData from '../GlobalData/edit-global-data.vue';
import EditGlobalDataPermissions from '../GlobalData/global-data-permissions-edit.vue';

export default {
    name: 'modal-manager',
    components: {
        'modal-dialog': Dialog,
        'project-edit': ProjectEditModal,
        'project-create': ProjectCreateModal,
        'project-permissions-edit': ProjectPermissionsEditModal,
        'project-extent': ProjectExtentModal,
        'project-data-editor': DataModalEditor,
        'create-geo-data': CreateGeoData,
        'create-global-data': CreateGlobalData,
        'new-geo-data': NewGeoData,
        'edit-geo-data': GeoDataEditor,
        'stream-permissions-edit': StreamPermissionsEdit,
        'geo-data-permissions-edit': GeoDataPermissionsEdit,
        'new-stream': NewStream,
        'edit-stream': EditStream,
        'new-stream-version': NewStreamVersion,
        'mrsort-inference': MRSortInference,
        'data-share': DataShare,
        'templates-manager': TemplatesManager,
        'template-create': TemplateCreate,
        'new-global-data': NewGlobalData,
        'edit-global-data': EditGlobalData,
        'global-data-permissions-edit': EditGlobalDataPermissions
    },
    computed: mapGetters({
        showModal: 'showModal',
        currentModal: 'modalName'
    })
};
</script>
