<template>
  <transition appear name="modal-fade">
  <div class="modal" @click.self="cancel">
    <div class="modal-dialog" :class="sizeClass" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{ header }}</h4>
          <button type="button" class="close" aria-label="Close" @click="cancel">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <slot></slot>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" @click="cancel" :disabled="cancelDisabled">
            {{ cancelText }}
          </button>
          <button type="button" class="btn btn-primary" @click="save" :disabled="saveDisabled">
            {{ saveText }}
          </button>
        </div>
      </div>
    </div>
  </div>
  </transition>
</template>


<style>
.modal {
  display: block;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.4);
}
@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
    max-width: 1200px;
  }
}
.modal-fade-enter-active, .modal-fade-leave-active {
  transition: opacity .3s ease;
}
.modal-fade-enter, .modal-fade-leave-active {
  opacity: 0;
}
</style>


<script>
export default {
    name: 'modal',
    props: {
        header: String,
        saveText: { type: String, default: 'Save' },
        cancelText: { type: String, default: 'Cancel' },
        size: { type: String, default: 'normal' },
        saveDisabled: { type: Boolean, default: false },
        cancelDisabled: { type: Boolean, default: false }
    },
    computed: {
        sizeClass: function () {
            if (this.size === 'sm') {
                return 'modal-sm';
            } else if (this.size === 'lg') {
                return 'modal-lg';
            } else if (this.size === 'xl') {
                return 'modal-xl';
            } else {
                return '';
            }
        }
    },
    methods: {
        cancel: function () {
            if (!this.cancelDisabled) {
                this.$emit('cancel');
            }
        },
        save: function () {
            if (!this.saveDisabled) {
                this.$emit('success');
            }
        }
    }
};
</script>
