<template>
    <table class="table">
        <thead>
            <th>Name</th>
            <th>Value</th>
            <th>Type</th>
            <th>&nbsp;</th>
        </thead>
        <tbody>
            <tr v-for="(property, index) in decomposedProperties">
                <td class="col-5">
                    <input class="form-control" v-model="property.name" type="text" placeholder="Name"
                    :class="{ 'is-invalid': v$.decomposedProperties.$each.$response.$data[index].name.$invalid }">
                </td>
                <td class="col-5">
                    <input class="form-control" v-model="property.value" placeholder="Value" 
                    :class="{ 'is-invalid': v$.decomposedProperties.$each.$response.$data[index].value.$invalid }">
                    <div class="invalid-feedback">
                        The value must be an integer (10), a float (10.4), a boolean (true, false), or a text (hello).
                    </div>
                </td>
                <td class="col-2">
                    <button class="btn btn-outline-secondary btn-sm" type="button" @click="removeProperty(index)" title="Remove">
                        <span class="fas fa-times"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary btn-sm" type="button" @click="addProperty()" title="Add">
        <span class="fas fa-plus"></span>
    </button>
</template>


<script>
import { required, helpers } from '@vuelidate/validators';
import { isValidName } from '../../validators';
import useVuelidate from '@vuelidate/core';

export default {
    emits: ['update:properties', 'invalidate'],
    props: ['properties'],
    data() {
        return{
            decomposedProperties: []
        }
    },
    methods: {
        parsingProperties(propertiesToParse) {
            let result = {};
            for(let property of propertiesToParse){
                if(!property.name || !property.value){
                    continue;
                }
                const name = property.name
                result[name] = property.value;
                if(/^-?\d+\.?\d*$/.test(result[name])){
                    result[name] = Number(result[name]);
                }
                else if(result[name].toLowerCase() == 'true'){
                    result[name] = true;
                }
                else if(result[name].toLowerCase() == 'false'){
                    result[name] = false;
                }
            }
            return result;
        },
        addProperty(){
            this.decomposedProperties.push({name: null, value: null});
        },
        removeProperty(index){
            this.decomposedProperties.splice(index, 1);
        },
    },
    setup(){
        return{
            v$: useVuelidate()
        }
    },
    validations() {
        return{
            decomposedProperties: {
                $each: helpers.forEach({
                    name: {
                        isValidName,
                        required
                    },
                    value: {
                        required
                    }
                })
            }
        }
    },
    watch: {
        decomposedProperties: {
            handler: function(newVal) {
                this.$emit('update:properties', this.parsingProperties(newVal));
            },
            deep: true
        },
        'v$.$invalid': {
            handler: function (invalid) {
                this.$emit('invalidate', invalid);
            },
            deep: true
        },
    },
    mounted: function() {
        this.decomposedProperties = [];
        const names = Object.keys(this.properties);
        for(const name of names){
            const value = this.properties[name];
            this.decomposedProperties.push({name: name, value: String(value)});
        }
    }
}
</script>