<template>
    <modal header="Set GlobalData permissions" @success="save" @cancel="dismiss">
      <fieldset class="form-group">
        <legend>Global visibility</legend>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="visib-public" v-model="is_public" :value="true">
          <label class="form-check-label" for="visib-public">public</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="visib-private" v-model="is_public" :value="false">
          <label class="form-check-label" for="visib-private">private</label>
        </div>
      </fieldset>
  
      <div :class="{ 'perm-disabled': is_public }">
        <form @submit.prevent class="form-group">
          <label>Users</label>
          <div class="form-inline">
            <select class="form-control mb-2 mr-2" v-model="userChoice" :disabled="is_public">
              <option v-for="userId in usersChoice" :value="userId">{{ users.get(userId) }}</option>
            </select>
            <button @click="addPermission" class="btn btn-secondary mb-2" :disabled="is_public">Add</button>
          </div>
        </form>
  
        <table class="table table-sm">
          <tbody>
            <tr v-for="userId in permissions">
              <td>{{ users.get(userId) }}</td>
              <td class="col-buttons col-user-perms-actions">
                <button class="btn btn-outline-secondary btn-sm" title="Remove" @click="removePermission(userId)" :disabled="is_public">
                  <span class="fas fa-times"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </modal>
  </template>
  
  
  <style scoped>
  .perm-disabled {
      opacity: .65;
  }
  </style>
  
  
  <script>
  import { mapGetters, mapActions } from 'vuex';
  import Modal from '../Modal/modal-save.vue';
  import api from '../../api';
  
  export default {
      components: {
          'modal': Modal
      },
      data: function () {
          return {
              users: new Map(),
              is_public: false,
              permissions: [],
              userChoice: undefined
          };
      },
      computed: {
          ...mapGetters({
              originalPermissions: 'globalDataPermissions'
          }),
          /**
           * Returns the filtered list of user ids
           */
          usersChoice: function () {
              let choices = [];
              for (let userId of this.users.keys()) {
                  if (this.permissions.indexOf(userId) === -1) {
                      choices.push(userId);
                  }
              }
              return choices;
          }
      },
      methods: {
          ...mapActions({
              closeModal: 'closeModal',
              resolveModal: 'resolveModal',
              rejectModal: 'rejectModal'
          }),
          /**
           * Create a copy of the permissions
           */
          loadPermissions: function (access) {
              if (access !== undefined) {
                  this.is_public = access.is_public;
                  this.permissions = access.permissions.map((val) => val.user);
              } else {
                  this.is_public = false;
                  this.permissions = [];
              }
          },
          /**
           * Add a user to the permissions
           */
          addPermission: function () {
              if (this.userChoice !== undefined) {
                  this.permissions.push(this.userChoice);
                  this.userChoice = undefined;
              }
          },
          /**
           * Remove a user from the permissions
           */
          removePermission: function (userId) {
              this.permissions.splice(this.permissions.indexOf(userId), 1);
          },
          save: function () {
              let data = {
                  is_public: this.is_public,
                  permissions: this.permissions.map((userId) => ({ user: userId }))
              };
              this.resolveModal(data);
              this.closeModal();
          },
          dismiss: function () {
              this.rejectModal();
              this.closeModal();
          }
      },
      watch: {
          originalPermissions: function (newPerms) {
              this.loadPermissions(newPerms);
          }
      },
      created: function () {
          api.getAllUsers()
          .then((resp) => {
              let users = new Map();
              for (let user of resp.data.users) {
                  users.set(user.id, user.username);
              }
              this.users = users;
          });
          this.loadPermissions(this.originalPermissions);
      }
  };
  </script>