<template>
  <div class="content-pane container-fluid">
    <h1>GlobalData</h1>
    <div class="row row-buffer">
      <div class="col">
        <button class="btn btn-primary" @click="createNew">Create new</button>
      </div>
    </div>
    <table class="table table-manager">
      <thead>
        <tr>
          <th scope="col" class="col-type">Type</th>
          <th scope="col">Data name</th>
          <th scope="col">Description</th>
          <th scope="col">Attributes</th>
          <th scope="col" class="col-buttons">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="data in globalData">
          <td>
            <span v-if="data.type=='global_data'" class="badge badge-pill badge-danger">global-data</span>
            <span v-else class="badge badge-pill badge-warning">{{ data.type }}</span>
          </td>
          <td class="data-name">
            <div class="text-truncate" :title="data.name">{{ data.name }}</div>
          </td>
          <td>
            <div class="data-text col-description">{{ data.description }}</div>
          </td>
          <td>
            <div class="data-text">
              <template v-for="(attr, i) in data.attributes">
                <var>{{ attr.name }}</var><template v-if="i < (data.attributes.length-1)">, </template>
              </template>
            </div>
          </td>
          <td>
            <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Actions
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <button class="dropdown-item" type="button" title="Edit" @click="editGlobalData(data)">
                <span class="fas fa-edit"></span> Edit
              </button>
              <button class="dropdown-item" type="button" title="Set permissions" @click="editPermissions(data, $event)" :disabled="data.upload_user.id !== user.id">
                <span class="fas fa-cog"></span> Set permissions
              </button>
              <div class="dropdown-divider"></div>
              <button class="dropdown-item" type="button" aria-label="Delete" title="Delete" @click="deleteGlobalData(data.id)">
                <span class="fas fa-trash-alt"></span> Delete
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>


<style scoped>
.col-type {
    width: 120px;
}

.table-manager {
    table-layout: fixed;
    min-width: 500px;
}

.col-buttons {
    width: 120px;
}

.data-text {
    max-height: 150px;
    overflow-y: auto;
}

.data-name {
    font-family: monospace;
}
</style>


<script>
import { mapGetters, mapActions } from 'vuex';
import api from '../../api';

export default {
    name: 'global-data-manager',
    data: function () {
        return {
            globalData: [],
            globalDataNames: {},
            uploading: false
        };
    },
    computed: mapGetters({
        user: 'userDetails'
    }),
    methods: {
        ...mapActions({
            notify: 'displayNotification',
            showModal: 'showModal',
            loadPermissions: 'loadGlobalDataPermissions',
            updatePermissions: 'updateGlobalDataPermissions',
            updateGlobalData: 'updateGlobalData',
        }),
        loadGlobalDataList: function () {
            return api.getGlobalDataList()
            .then((resp) => { 
                this.globalData = resp.data;
            });
        },
        loadGlobalDataNames: function () {
            return api.getGlobalDataList()
            .then((resp) => { 
                let dataList = resp.data;
                for(let data of dataList){
                    this.globalDataNames[data.id] = data.name;
                }
            });
        },
        deleteGlobalData: function (data_id) {
            api.deleteGlobalData(data_id)
            .then(() => this.loadGlobalDataList())
            .catch((error) => {
                this.notify({ content: error.response.data.message || 'Error deleting the global data' });
            });
        },
        createNew: function () {
            this.showModal({ template: 'new-global-data' })
            .then(() => this.loadGlobalDataList());
        },
        editPermissions: function (globalData, evt) {
            if (globalData.upload_user.id === this.user.id) {
                this.loadPermissions(globalData.id);
                this.showModal({ template: 'global-data-permissions-edit' })
                .then((data) => this.updatePermissions({ globalDataId: globalData.id, data: data }))
                .then(() => this.loadGlobalDataList());
            } else {
                evt.stopPropagation();
            }
        },
        editGlobalData: function (globalData) {
            this.showModal({ template: 'edit-global-data', data: globalData })
            .then((data) => this.updateGlobalData({id: globalData.id, data: data}))
            .then(() => {
                this.loadGlobalDataNames().then(() => this.loadGlobalDataList() );
            });
        }
    },
    mounted: function () {
        this.loadGlobalDataNames().then(() => this.loadGlobalDataList() );
    }
};
</script>
