<template>
  <modal header="Create GlobalData" @success="save" @cancel="cancel" :save-disabled="v$.$invalid || formInvalid">
    <form @submit.prevent>
      <div class="form-group field-required">
        <label for="globaldata-name">Name</label>
        <input type="text" class="form-control" placeholder="GlobalData name" v-model="name" id="globaldata-name"
            :class="{ 'is-invalid': v$.name.$invalid }">
        <div class="invalid-feedback">
          The name should begin with an alphabetical character and contain alphanumerical characters or underscores.
          It should not be one of the <span class="text-help" :title="reservedWords">reserved words</span>.
        </div>
      </div>
      <div class="form-group">
        <label for="globaldata-desc">Description</label>
        <textarea class="form-control" v-model="description" rows="2" spellcheck="true"
            placeholder="GlobalData description" id="globaldata-desc"></textarea>
      </div>
      <div>
        <label for="globaldata-properties">Properties</label>
        <edit-properties @invalidate="invalidate" v-model:properties="properties"</edit-properties>
      </div>
    </form>
  </modal>
</template>

<script>
import { mapActions } from 'vuex';
import api from '../../api';
import Modal from '../Modal/modal-save.vue';
import { required, or, maxLength, helpers } from '@vuelidate/validators';
import useVuelidate from '@vuelidate/core';
import { reservedWords, isValidName } from '../../validators';
import EditProperties from './edit-properties.vue'

export default {
    components: {
        'modal': Modal,
        'edit-properties': EditProperties
    },
    data: function () {
        return {
            name: '',
            description: '',
            properties: [],
            is_public: false,
            formInvalid: false
        };
    },
    setup(){
        return{
            v$: useVuelidate()
        }
    },
    computed: {
        reservedWords: function () {
            return reservedWords.join(', ');
        }
    },
    methods: {
        ...mapActions({
            updatePermissions: 'updateGlobalDataPermissions',
            closeModal: 'closeModal',
            resolveModal: 'resolveModal',
            rejectModal: 'rejectModal'
        }),
        save: function () {
            let data = {
                name: this.name,
                description: this.description,
                properties: this.properties
            };
            let perms = {
                is_public: this.is_public
            };
            api.postGlobalData(data)
            .then((resp) => this.updatePermissions({ globalDataId: resp.data.id, data: perms }))
            .then(() => this.resolveModal());
            this.closeModal();
        },
        cancel: function () {
            this.rejectModal();
            this.closeModal();
        },
        invalidate: function (invalid) {
            this.formInvalid = invalid;
        },
    },
    validations(){
        return {
            name: {
                nameValid: or(isValidName, maxLength(0)),
                required
            }
        }
    }
}

</script>