<template>
  <div class="content-pane container-fluid">
    <h1>Objective</h1>
    <h2>Parameters</h2>
    <form @submit.prevent style="max-width: 800px;" class="mb-3">
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="params-geo-size">Area</label>
          <div class="input-group">
            <input id="params-geo-size" type="number" step="any" class="form-control"
                v-model.number="params.geo_size" :class="{ 'is-invalid': v$.params.geo_size.$invalid }">
            <div class="input-group-append">
              <span class="input-group-text">&#13217;</span>
            </div>
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label for="params-ga-size">Population size</label>
          <input id="params-ga-size" type="number" class="form-control"
              v-model.number="ga_params.size" :class="{ 'is-invalid': v$.ga_params.size.$invalid }">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="params-iterations">Iterations</label>
          <input id="params-iterations" type="number" class="form-control"
              v-model.number="params.iterations" :class="{ 'is-invalid': v$.params.iterations.$invalid }">
        </div>
        <div class="form-group col-sm-6">
          <label for="params-duration">Duration</label>
          <div class="input-group">
            <input id="params-duration" type="number" class="form-control"
                v-model.number="params.duration" :class="{ 'is-invalid': v$.params.duration.$invalid }">
            <div class="input-group-append">
              <span class="input-group-text">s</span>
            </div>
          </div>
        </div>
      </div>

      <div class="btn-group" role="group">
        <button class="btn btn-primary" @click="processObjective" :disabled="v$.params.$invalid || v$.ga_params.$invalid">Construct</button>
        <button id="downloadDrop" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" :disabled="!project.proposition">Download</button>
        <div class="dropdown-menu" aria-labelledby="downloadDrop">
          <a class="dropdown-item" href="#" @click="downloadZoneProposition({id: project.proposition, format: null})">.shp</a>
          <a class="dropdown-item" href="#" @click="downloadZoneProposition({id: project.proposition, format: 'gpkg'})">.gpkg</a>
          <a class="dropdown-item" href="#" @click="downloadZoneProposition({id: project.proposition, format: 'geojson'})">.geojson</a>
          <a class="dropdown-item" href="#" @click="downloadZoneProposition({id: project.proposition, format: 'json'})">.json</a>
          <a class="dropdown-item" href="#" @click="downloadZoneProposition({id: project.proposition, format: 'gml'})">.gml</a>
        </div>
      </div>
    </form>
  </div>
</template>


<script>
import { mapGetters, mapActions } from 'vuex';
import { helpers, required, requiredUnless, numeric } from '@vuelidate/validators';
import { useVuelidate } from '@vuelidate/core';
import api from '../../api';

export default {
    data: function () {
        return {
            params: {
                geo_size: null,
                iterations: null,
                duration: null
            },
            ga_params: {
                size: 80,
            }
        };
    },
    setup(){
        return{
            v$: useVuelidate()
        }
    },
    computed: mapGetters({
        project: 'projectDetails'
    }),
    methods: {
        ...mapActions({
            loadProject: 'loadProject',
            addUserTask: 'addUserTask',
            processProjectObjective: 'processProjectObjective',
            notify: 'displayNotification',
            downloadZoneProposition: 'downloadZoneProposition',
        }),
        processObjective: function () {
            let genetic_algorithm_params = {};
            // Ignore null or empty values
            for (let key in this.ga_params) {
                if (this.ga_params[key] != null && this.ga_params[key] !== "") {
                    genetic_algorithm_params[key] = this.ga_params[key];
                }
            }
            let params = Object.assign({}, this.params, {'genetic_algorithm_params': genetic_algorithm_params});
            // Set empty values to null
            for (let key in params) {
                if (params[key] === "") {
                    params[key] = null;
                }
            }
            this.processProjectObjective({ projectId: this.project.id, params: params })
            .then((resp) => this.addUserTask(resp.data.task))
            .then(() => this.loadProject(this.project.id));
        }
    },
    validations() {
        return {
            params: {
                geo_size: {
                    required,
                    minValue: (value) => value > 0
                },
                iterations: {
                    numeric,
                    requiredUnless: requiredUnless(function () {
                        return helpers.req(this.params.duration);
                    }),
                    minValue: (value) => !helpers.req(value) || value >= 1
                },
                duration: {
                    numeric,
                    requiredUnless: requiredUnless(function () {
                        return helpers.req(this.params.iterations);
                    }),
                    minValue: (value) => !helpers.req(value) || value >= 1
                }
            },
            ga_params: {
                size: {
                    required,
                    minValue: (value) => value > 0,
                    maxValue: (value) => value <= 1000
                },
            }
        }
    }
};
</script>
