<template>
  <div class="map-container">
    <div ref="mapRef" style="height: 100%;"></div>
  </div>
</template>


<script>
import 'ol/ol.css';
import { Map, View, Feature } from 'ol';
import { Vector as VectorLayer, VectorTile as VectorTileLayer, Tile as TileLayer } from 'ol/layer';
import { OSM, Vector as VectorSource } from 'ol/source';
import VectorTileSource from 'ol/source/VectorTile';
import { MVT, GeoJSON } from 'ol/format';
import { fromLonLat, transformExtent, get as getProj } from 'ol/proj';
import { Style, Stroke, Fill, Text } from 'ol/style';
import { mapGetters, mapActions } from 'vuex';
import chroma from 'chroma-js';
import api from '../../api';
import { getMapExtent, tileLoadFunction, getColor } from '../../geo-data-utils';


export default {
    data: function () {
        return {
            objectiveColorScale: null,
            dataLayer: new VectorTileLayer({
                source: new VectorTileSource({
                    format: new MVT()
                })
            }),
            objectiveLayer: new VectorLayer({
                source: new VectorSource({
                    format: new GeoJSON({
                        dataProjection: 'EPSG:4326',
                        featureProjection: 'EPSG:3857',
                    })
                }),
                style: (feature) => this.getObjectiveStyle(feature)
            }),
            map: null,
            objectiveData: [],
            highlightedFeatures: []
        };
    },
    computed: mapGetters({
        project: 'projectDetails',
        geoDataArray: 'geoDataArray',
        lastUIUpdate: 'lastUIUpdate'
    }),
    props: {
        pointer: { type: Boolean, default: false }
    },
    watch: {
        'project.root_data': {
            immediate: true,
            handler: function (rootDataId) {
                if (rootDataId !== null && rootDataId !== undefined) {
                    this.clearGeoData()
                    .then(() => api.getProjectDataDetails(rootDataId))
                    .then((resp) => {
                        let projectData = resp.data.project_data;
                        if (projectData && projectData.id) {
                            return this.loadGeoData(projectData.id);
                        }
                    });
                }
            }
        },
        'project.proposition': {
            immediate: true,
            handler: function (propositionId) {
                if (propositionId !== undefined && propositionId !== null) {
                    api.getZonePropositionDetails(propositionId)
                    .then((resp) => {
                        this.objectiveData = resp.data.features;
                    });
                }
            }
        },
        geoDataArray: {
            immediate: true,
            handler: function () {
                this.fitView();
                this.loadDataGeometries();
            }
        },
        objectiveData: function () {
            this.loadObjective();
        },
        /**
         * Update the size of the map
         */
        lastUIUpdate: function () {
            if (this.map) {
                // wait until the DOM has been updated to update the size of the map
                this.$nextTick(() => {
                    this.map.updateSize();
                });
            }
        },
        highlightedFeatures: function () {
            this.objectiveLayer.getSource().changed();
        }
    },
    methods: {
        ...mapActions({
            clearGeoData: 'clearGeoData',
            loadGeoData: 'loadGeoData',
            loadProjectData: 'loadProjectData'
        }),
        initMap: function () {
            let baseLayer = new TileLayer({
                source: new OSM()
            });
            this.map = new Map({
                target: this.$refs.mapRef,
                layers: [
                    baseLayer,
                    this.dataLayer,
                    this.objectiveLayer
                ],
                view: new View({
                    center: fromLonLat([-4.57, 48.36]),
                    zoom: 8
                })
            });
            // Add an event to know the recommendation hovered
            if (this.pointer) {
                this.map.on('pointermove', this.selectRecommendation);
            }
        },
        selectRecommendation: function (evt) {
            let features = this.map.getFeaturesAtPixel(
                evt.pixel,
                {
                    layerFilter: (layer) => {
                        return (layer === this.objectiveLayer);
                    }
                }
            );
            this.highlightedFeatures = features !== null ? features : [];
        },
        fitView: function () {
            if (this.geoDataArray.length > 0 && this.project && this.map) {
                let dataExtents = Object.values(this.geoDataArray).map(d => d.data.extent);
                let extent;
                if (this.project && this.project.extent) {
                    extent = getMapExtent(dataExtents, this.project.extent);
                } else {
                    extent = getMapExtent(dataExtents, null);
                }
                // Reproject the extent from WGS84 to current projection
                extent = transformExtent(extent, getProj('EPSG:4326'), this.map.getView().getProjection());
                this.map.getView().fit(extent, { padding: [5, 5, 5, 5] });
            }
        },
        loadDataGeometries: function () {
            let source = this.dataLayer.getSource();
            if (this.geoDataArray.length === 1) {
                let data = this.geoDataArray[0];
                let url = 'geo-data/' + data.data.id + '/tiles/{z}/{x}/{y}';
                if (data.params.attribute !== null) {
                    url += '?property=' + data.data.attributes[data.params.attribute].name;
                }
                source.setUrl(url);
                source.setTileLoadFunction(tileLoadFunction);
                this.dataLayer.setStyle((feature) => this.getDataStyle(feature, data.data.id));
            }
            source.clear();
        },
        getDataStyle: function (feature, dataId) {
            let value = feature.get('value');
            let data = this.geoDataArray.find((el) => el.data.id === dataId);
            let fillColor = getColor(data.params, value);
            return new Style({
                stroke: new Stroke({ color: '#000', width: 1 }),
                fill: new Fill({ color: fillColor })
            });
        },
        loadObjectiveColorScale: function () {
            if (this.objectiveData.length > 0) {
                let fitness = this.objectiveData.map(d => d.properties['fitness']);
                let min = Math.min(...fitness);
                let max = Math.max(...fitness);
                this.objectiveColorScale = chroma.scale('Greens').domain([min, max]);
            }
        },
        loadObjectiveGeometries: function () {
            let features = [];
            for (let f of this.objectiveData) {
                let olFeature = this.objectiveLayer.getSource().getFormat().readFeature(f);
                if ('properties' in f) {
                    olFeature.setProperties(f.properties);
                }
                features.push(olFeature);
            }
            this.objectiveLayer.getSource().clear();
            this.objectiveLayer.getSource().addFeatures(features);
        },
        getObjectiveStyle: function (feature) {
            let color = '#e5f5f9';
            let value = feature.getProperties()['fitness'];
            if (value !== undefined && this.objectiveColorScale !== null) {
                color = this.objectiveColorScale(value);
            }
            let style = new Style({
                stroke: new Stroke({ color: [0, 0, 0, 0.8], width: 1 }),
                fill: new Fill({ color: chroma(color).alpha(0.8).css() })
            });
            if (this.highlightedFeatures.includes(feature)) {
                style.setStroke(new Stroke({ color: [0, 0, 0, 0.9], width: 2 }));
                style.setFill(new Fill({ color: chroma(color).alpha(0.9).css() }));
                let text = new Text({
                    text: value.toPrecision(3),
                    overflow: true,
                    fill: new Fill({ color: '#000' }),
                    stroke: new Stroke({ color: [255, 255, 255, 0.7], width: 4 })
                });
                style.setText(text);
            }
            return style;
        },
        loadObjective: function () {
            this.loadObjectiveColorScale();
            this.loadObjectiveGeometries();
        }
    },
    mounted: function () {
        this.initMap();
        this.fitView();
    }
};
</script>
