<template>
  <div class="content-pane container-fluid">
    <h1 v-if="project">{{ project.name }}</h1>
    <p v-if="project && project.description">{{ project.description }}</p>

    <h2>
      Extent
      <button class="btn btn-sm btn-secondary" @click="editExtent" aria-label="Edit extent" title="Edit extent">
        <span class="fas fa-edit" aria-hidden="true"></span>
      </button>
    </h2>
    <dl class="row" style="max-width: 800px;">
      <dt class="col-sm-4 col-md-3 col-lg-3 text-sm-right">Minimum longitude</dt>
      <dd class="col-sm-8 col-md-3 col-lg-3">{{ extent[0] }}</dd>
      <dt class="col-sm-4 col-md-3 col-lg-3 text-sm-right">Minimum latitude</dt>
      <dd class="col-sm-8 col-md-3 col-lg-3">{{ extent[1] }}</dd>
      <dt class="col-sm-4 col-md-3 col-lg-3 text-sm-right">Maximum longitude</dt>
      <dd class="col-sm-8 col-md-3 col-lg-3">{{ extent[2] }}</dd>
      <dt class="col-sm-4 col-md-3 col-lg-3 text-sm-right">Maximum latitude</dt>
      <dd class="col-sm-8 col-md-3 col-lg-3">{{ extent[3] }}</dd>
    </dl>

    <h2>Structure</h2>
    <div v-if="hierarchy && project && project.id">
      <p>Hierarchical structure of the models:</p>
      <tree-hierarchy :route-params="{ projectId: project.id }" :root="hierarchy"></tree-hierarchy>
    </div>
    <div v-else>
      <p>No data</p>
    </div>
  </div>
</template>


<script>
import TreeHierarchy from './TreeHierarchy.vue';
import { mapGetters, mapActions } from 'vuex';

export default {
    components: {
        'tree-hierarchy': TreeHierarchy
    },
    computed: {
        ...mapGetters({
            project: 'projectDetails',
            hierarchy: 'projectHierarchy'
        }),
        extent: function () {
            if (this.project !== undefined && 'extent' in this.project) {
                return this.project.extent.slice().map(Number);
            } else {
                return [undefined, undefined, undefined, undefined];
            }
        }
    },
    methods: {
        ...mapActions({
            showModal: 'showModal'
        }),
        editExtent: function () {
            // Ignore the error when the modal is cancelled
            this.showModal({ template: 'project-extent' })
            .catch(() => {});
        }
    }
};
</script>
