<template>
  <div style="position: relative;" class="map-container">
    <div class="map" ref="mapRef"></div>
  </div>
</template>


<style scoped>
.map{
    height: 350px;
    width: 100%;
}
</style>


<script>
import 'ol/ol.css';
import { Map, View, Feature } from 'ol';
import { Tile, Vector as VectorLayer } from 'ol/layer';
import { OSM, Vector as VectorSource } from 'ol/source';
import { Style, Stroke, Fill, Circle } from 'ol/style';
import { fromLonLat, transformExtent, get as getProj } from 'ol/proj';
import Draw, { createBox } from 'ol/interaction/Draw';
import { fromExtent as polygonFromExtent } from 'ol/geom/Polygon';

export default {
    props: {
        modelValue: { type: Array, default: [-180, -90, 180, 90 ] }
    },
    data: function () {
        return {
            layerSource: new VectorSource({ wrapX: false }),
            draw: undefined,
            map: undefined
        };
    },
    watch: {
        modelValue: {
            handler(newValue, oldValue){
                this.drawExtent(newValue);
            },
            deep: true
        }
    },
    methods: {
        initMap: function () {
            this.map = new Map({
                target: this.$refs.mapRef,
                layers: [
                    new Tile({
                        source: new OSM({
                            wrapX: false
                        })
                    }),
                    new VectorLayer({
                        source: this.layerSource,
                        style: function (feature) {
                            let stroke = new Stroke({
                                color: '#00f',
                                width: 2
                            });
                            let fill = new Fill({
                                color: 'rgba(0, 0, 255, 0.2)'
                            });
                            return new Style({
                                stroke: stroke,
                                fill: fill,
                                image: new Circle({
                                    stroke: stroke,
                                    fill: fill,
                                    radius: 5
                                })
                            });
                        }
                    })
                ],
                view: new View({
                    center: fromLonLat([-4.57, 48.36]),
                    zoom: 8
                })
            });
            if (this.modelValue) {
                let view = this.map.getView();
                let extent = transformExtent(
                    this.modelValue,
                    getProj('EPSG:4326'),
                    view.getProjection());
                view.fit(extent, this.map.getSize(), { padding: [15, 15, 15, 15] });
            }
        },
        addBoxInteraction: function () {
            this.map.removeInteraction(this.draw);
            this.draw = new Draw({
                source: this.layerSource,
                type: 'Circle',
                geometryFunction: createBox()
            });
            this.draw.on('drawend', this.setExtentFromDrawing);
            this.map.addInteraction(this.draw);
        },
        setExtentFromDrawing: function (evt) {
            let geom = evt.feature.getGeometry();
            if (geom !== undefined) {
                let extent = transformExtent(
                    geom.getExtent(),
                    this.map.getView().getProjection(),
                    getProj('EPSG:4326'));
                let extentFixed = extent.map((val) => Math.round(val*1e4)/1e4 );
                this.$emit('update:modelValue', extentFixed);
                this.map.removeInteraction(this.draw);
            }
        },
        drawExtent: function (value) {
            let extent = transformExtent(
                value,
                getProj('EPSG:4326'),
                this.map.getView().getProjection());
            let geometry = polygonFromExtent(extent);
            let feature = new Feature(geometry);
            this.layerSource.clear();
            this.layerSource.addFeature(feature);
        }
    },
    mounted: function () {
        // Make sure the element exists in the DOM before creating the map
        this.$nextTick(() => {
            this.initMap();
            this.drawExtent(this.modelValue);
            //this.$on('drawExtentGeometry', this.addBoxInteraction);
        });
    }
};
</script>
