<template>
  <div class="content-pane container-fluid">
    <h1>Projects</h1>
    <div class="row row-buffer">
      <div class="col">
        <div class="btn-group" role="group">
          <button @click="createProject" class="btn btn-primary">Create a new project</button>
          <button @click="manageTemplates" class="btn btn-secondary">Manage templates</button>
        </div>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Project</th>
          <th scope="col">Description</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="project in projects">
          <td>
            <router-link :to="{ name: 'projectDetails', params: { projectId: project.id }}">
              {{ project.name }}
            </router-link>
          </td>
          <td>{{ project.description }}</td>
          <td>
            <div class="btn-group">
              <button class="btn btn-outline-secondary btn-sm" arial-label="Edit" title="Edit" @click="editProject(project.id)">
                <span class="fas fa-edit" aria-hidden="true"></span> Edit
              </button>
              <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button" title="Create template" @click="createTemplate(project)">
                  <span class="fas fa-copy"></span> Create template
                </button>
                <template  v-if="project.manager.id == user.id">
                  <button class="dropdown-item" type="button" title="Set permissions" @click="editPermissions(project.id)">
                    <span class="fas fa-cog"></span> Set permissions
                  </button>
                  <div class="dropdown-divider"></div>
                  <button class="dropdown-item" type="button" aria-label="Delete" title="Delete" @click="askDeleteProject(project.id)">
                  <span class="fas fa-trash-alt"></span> Delete
                  </button>
                </template>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>


<script>
import { mapGetters, mapActions } from 'vuex';
import api from '../../api';

export default {
    data: function () {
        return {
            projects: []
        };
    },
    computed: mapGetters({
        user: 'userDetails'
    }),
    methods: {
        ...mapActions({
            loadProjectId: 'loadProject',
            loadPermissions: 'loadProjectPermissions',
            updatePermissions: 'updateProjectPermissions',
            showModal: 'showModal',
            updateProject: 'updateProject',
            setProject: 'setProjectDetails',
            deleteProject: 'deleteProject',
            notify: 'displayNotification'
        }),
        loadProjects: function () {
            api.getProjectsList()
            .then((resp) => { this.projects = resp.data.projects; });
        },
        createProject: function () {
            this.setProject({ name: '', description: '' });
            this.showModal({ template: 'project-create' })
            .then(() => this.loadProjects())
            .catch(() => {});
        },
        editProject: function (id) {
            this.loadProjectId(id);
            this.showModal({ template: 'project-edit' })
            .then((data) => this.updateProject(data))
            .then(() => this.loadProjects())
            .catch(() => {});
        },
        askDeleteProject: function (id) {
            let params = {
                header: 'Delete project',
                text: '<p>Are you sure you want to delete this project? <b>This action cannot be undone.</b></p>',
                isHtml: true
            };
            this.showModal({ template: 'modal-dialog', data: params })
            .then(() => this.deleteProject(id))
            .then(() => this.loadProjects());
        },
        createTemplate: function (project) {
            this.showModal({ template: 'template-create', data: project });
        },
        editPermissions: function (id) {
            this.loadPermissions(id);
            this.showModal({ template: 'project-permissions-edit' })
            .then((data) => this.updatePermissions({ projectId: id, data: data }))
            .then(() => this.loadProjects())
            .catch(() => {});
        },
        manageTemplates: function () {
            this.showModal({ template: 'templates-manager' });
        }
    },
    created: function () {
        this.loadProjects();
    }
};
</script>
