<template>
  <modal header="Edit project" @success="save" @cancel="dismiss" :save-disabled="v$.$invalid">
    <form @submit.prevent class="form-group field-required">
      <label for="project-name">Name</label>
      <input type="text" class="form-control" placeholder="Project name" v-model="name"
          id="project-name" :class="{ 'is-invalid': v$.name.$invalid }">
    </form>
    <form @submit.prevent class="form-group">
      <label for="project-desc">Description</label>
      <textarea class="form-control" v-model="description" rows="2" spellcheck="true"
          placeholder="Project description" id="project-desc"></textarea>
    </form>
  </modal>
</template>


<script>
import { mapGetters, mapActions } from 'vuex';
import Modal from '../Modal/modal-save.vue';
import { required } from '@vuelidate/validators';
import { useVuelidate } from '@vuelidate/core';

export default {
    components: {
        'modal': Modal
    },
    computed: mapGetters({
        project: 'projectDetails',
        modalData: 'modalData'
    }),
    data: function () {
        return {
            name: '',
            description: ''
        };
    },
    setup(){
        return{
            v$: useVuelidate()
        }
    },
    watch: {
        project: {
            immediate: true,
            handler: function (project) {
                if (project !== undefined) {
                    this.name = project.name || '';
                    this.description = project.description || '';
                }
            }
        }
    },
    methods: {
        ...mapActions({
            closeModal: 'closeModal',
            resolveModal: 'resolveModal',
            rejectModal: 'rejectModal'
        }),
        save: function () {
            let data = {
                name: this.name,
                description: this.description
            };
            this.resolveModal(data);
            this.closeModal();
        },
        dismiss: function () {
            this.rejectModal();
            this.closeModal();
        }
    },
    validations(){
        return {name: {required}}
    }
};
</script>
