<template>
  <modal header="Edit project" @success="save" @cancel="dismiss" :save-disabled="v$.$invalid">
    <fieldset>
      <legend>Template</legend>
      <select v-model="selectedTemplate" class="form-control">
        <option :value="null">&nbsp;</option>
        <option v-for="template in templates" :value="template">{{ template.name }}</option>
      </select>
    </fieldset>

    <fieldset>
      <legend>Project</legend>
      <div class="form-group field-required">
        <label for="project-name">Name</label>
        <input type="text" class="form-control" placeholder="Project name" v-model="name"
            id="project-name" :class="{ 'is-invalid': v$.name.$invalid }">
      </div>
      <div class="form-group">
        <label for="project-desc">Description</label>
        <textarea class="form-control" v-model="description" rows="2" spellcheck="true"
            placeholder="Project description" id="project-desc"></textarea>
      </div>
    </fieldset>

    <fieldset class="form-group">
      <legend>Visibility</legend>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="visib-public" v-model="is_public" :value="true">
        <label class="form-check-label" for="visib-public">public</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="visib-private" v-model="is_public" :value="false">
        <label class="form-check-label" for="visib-private">private</label>
      </div>
    </fieldset>
  </modal>
</template>


<script>
import { mapActions } from 'vuex';
import Modal from '../Modal/modal-save.vue';
import { required } from '@vuelidate/validators';
import api from '../../api';
import { useVuelidate } from '@vuelidate/core';

export default {
    components: {
        'modal': Modal
    },
    data: function () {
        return {
            name: '',
            description: '',
            is_public: false,
            selectedTemplate: null,
            templates: []
        };
    },
    setup(){
        return{
            v$: useVuelidate()
        }
    },
    watch: {
        selectedTemplate: function (template) {
            if (template === null) {
                this.name = '';
                this.description = '';
            } else {
                this.name = template.name;
                this.description = template.description;
            }
        }
    },
    methods: {
        ...mapActions({
            updatePermissions: 'updateProjectPermissions',
            closeModal: 'closeModal',
            resolveModal: 'resolveModal',
            rejectModal: 'rejectModal'
        }),
        save: function () {
            let data = {
                name: this.name,
                description: this.description
            };
            if (this.selectedTemplate !== null) {
                data['template'] = this.selectedTemplate.id;
            }
            let perms = {
                is_public: this.is_public
            };
            api.createProject(data)
            .then((resp) => this.updatePermissions({ projectId: resp.data.project.id, data: perms }))
            .then(() => this.resolveModal());
            this.closeModal();
        },
        dismiss: function () {
            this.rejectModal();
            this.closeModal();
        }
    },
    validations(){
        return {
            name: {
                required
            }
        }
    },
    created: function () {
        api.getTemplatesList()
        .then((resp) => { this.templates = resp.data.templates; });
    }
};
</script>
