<template>
  <modal header="Edit geographical extent" @success="save" @cancel="dismiss" size="lg" :save-disabled="v$.$invalid">
    <h4>Enter coordinates</h4>
    <form @submit.prevent>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="xmin">minimum longitude</label>
          <input id="xmin" type="number" step="any" class="form-control" v-model.number="extent[0]"
              :class="{ 'is-invalid': v$.extent[0].$invalid }">
        </div>
        <div class="form-group col-md-6">
          <label for="ymin">minimum latitude</label>
          <input id="ymin" type="number" step="any" class="form-control" v-model.number="extent[1]"
              :class="{ 'is-invalid': v$.extent[1].$invalid }">
        </div>
        <div class="form-group col-md-6">
          <label for="xmax">maximum longitude</label>
          <input id="xmax" type="number" step="any" class="form-control" v-model.number="extent[2]"
              :class="{ 'is-invalid': v$.extent[2].$invalid }">
        </div>
        <div class="form-group col-md-6">
          <label for="ymax">maximum latitude</label>
          <input id="ymax" type="number" step="any" class="form-control" v-model.number="extent[3]"
              :class="{ 'is-invalid': v$.extent[3].$invalid }">
        </div>
      </div>
    </form>

    <h4>Draw bounding box</h4>
    <extent-map v-model="extent" ref="mapRef" style="margin-bottom: 10px;"></extent-map>
    <button class="btn btn-secondary" @click="$refs.mapRef.addBoxInteraction()">Draw box</button>
  </modal>
</template>


<script>
import { mapGetters, mapActions } from 'vuex';
import Modal from '../Modal/modal-save.vue';
import ExtentMap from './project-extent-map.vue';
import { required } from '@vuelidate/validators';
import { useVuelidate } from '@vuelidate/core';

export default {
    components: {
        'modal': Modal,
        'extent-map': ExtentMap
    },
    computed: mapGetters({
        project: 'projectDetails',
        modalData: 'modalData'
    }),
    data: function () {
        return {
            extent: [undefined, undefined, undefined, undefined]
        };
    },
    setup(){
        return{
            v$: useVuelidate()
        }
    },
    watch: {
        'project.extent': {
            immediate: true,
            handler: function (extent) {
                if (extent) {
                    this.extent = extent.slice();
                } else {
                    this.extent = [undefined, undefined, undefined, undefined];
                }
            }
        },
        extent: function () {
            if (this.extent[0] < -180) this.extent[0] = -180;
            else if (this.extent[0] > 180) this.extent[0] = 180;
            if (this.extent[1] < -90) this.extent[1] = -90;
            else if (this.extent[1] > 90) this.extent[1] = 90;
            if (this.extent[2] < -180) this.extent[2] = -180;
            else if (this.extent[2] > 180) this.extent[2] = 180;
            if (this.extent[3] < -90) this.extent[3] = -90;
            else if (this.extent[3] > 90) this.extent[3] = 90;
        }
    },
    methods: {
        ...mapActions({
            updateProject: 'updateProject',
            closeModal: 'closeModal',
            resolveModal: 'resolveModal',
            rejectModal: 'rejectModal'
        }),
        save: function () {
            if (this.extent.every((value) => value !== undefined)) {
                let data = {
                    extent: this.extent
                };
                this.updateProject(data)
                .then(() => this.resolveModal())
                .catch(() => this.rejectModal());
            }
            this.closeModal();
        },
        dismiss: function () {
            this.rejectModal();
            this.closeModal();
        }
    },
    validations() {
        const extentValidation = this.extent.map(() => ({
            required
        }));
        return {
            extent: extentValidation
        }
    }
};
</script>
