<template>
  <transition appear name="modal-fade">
    <div class="modal" @click.self="close">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Templates</h4>
            <button type="button" class="close" aria-label="Close" @click="close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Description</th>
                  <th scope="col">Creation</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>

              <tbody>
                <tr v-for="template in templates" is="vue:template-item" :template="template"></tr>
              </tbody>
            </table>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" @click="close">Close</button>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>


<script>
import { mapGetters, mapActions } from 'vuex';
import Modal from '../Modal/index.vue';
import TemplateItem from './templates-manager-item.vue';

export default {
    components: {
        'template-item': TemplateItem
    },
    computed: mapGetters({
        templates: 'projectTemplates'
    }),
    methods: {
        ...mapActions({
            closeModal: 'closeModal',
            loadTemplates: 'loadProjectTemplates'
        }),
        close: function () {
            this.closeModal();
        }
    },
    created: function () {
        this.loadTemplates();
    }
};
</script>
