<template>
  <tr>
    <template v-if="editing">
      <td>
        <input type="text" class="form-control" v-model="newName">
      </td>
      <td>
        <textarea class="form-control" v-model="newDesc"></textarea>
      </td>
      <td>
        {{ toDateHourFormat(template.created_at) }}
      </td>
      <td>
        <button class="btn btn-secondary btn-sm" @click="saveEdit" aria-label="Save" title="Save">
          <span class="fas fa-check" aria-hidden="true"></span>
        </button>
        <button class="btn btn-secondary btn-sm" @click="cancelEdit" aria-label="Cancel" title="Cancel">
          <span class="fas fa-times" aria-hidden="true"></span>
        </button>
      </td>
    </template>
    <template v-else>
      <td>
        {{ template.name }}
      </td>
      <td>
        {{ template.description }}
      </td>
      <td>
        {{ toDateHourFormat(template.created_at) }}
      </td>
      <td>
        <button class="btn btn-secondary btn-sm" @click="edit" aria-label="Edit" title="Edit">
          <span class="fas fa-pen" aria-hidden="true"></span>
        </button>
        <button class="btn btn-secondary btn-sm" @click="deleteTemplate(template.id)" aria-label="Delete" title="Delete">
          <span class="fas fa-trash-alt" aria-hidden="true"></span>
        </button>
      </td>
    </template>
  </tr>
</template>


<script>
import { mapActions } from 'vuex';
import dayjs from 'dayjs';

export default {
    props: {
        template: Object
    },
    data: function () {
        return {
            editing: false,
            newName: '',
            newDesc: ''
        };
    },
    methods: {
        ...mapActions({
            deleteTemplate: 'deleteProjectTemplate',
            updateTemplate: 'updateProjectTemplate'
        }),
        toDateHourFormat: function(datetime){
            if (datetime) {
                return dayjs(datetime).format('YYYY-MM-DD HH:mm:ss');
            }
        },
        edit: function () {
            this.editing = true;
            this.newName = this.template.name;
            this.newDesc = this.template.description;
        },
        cancelEdit: function () {
            this.editing = false;
            this.newName = '';
            this.newDesc = '';
        },
        saveEdit: function () {
            let data = {
                name: this.newName,
                description: this.newDesc
            };
            this.updateTemplate({ templateId: this.template.id, data: data })
            .then(() => {
                this.editing = false;
                this.newName = '';
                this.newDesc = '';
            });
        }
    }
};
</script>
