<template>
  <modal header="Create template" @success="save" @cancel="dismiss" :save-disabled="v$.$invalid">
    <fieldset>
      <legend>Template</legend>
      <div class="form-group field-required">
        <label for="template-name">Name</label>
        <input type="text" class="form-control" placeholder="Template name" v-model="name"
            id="template-name" :class="{ 'is-invalid': v$.name.$invalid }">
      </div>
      <div class="form-group">
        <label for="template-desc">Description</label>
        <textarea class="form-control" v-model="description" rows="2" spellcheck="true"
            placeholder="Template description" id="template-desc"></textarea>
      </div>
    </fieldset>
  </modal>
</template>


<script>
import { mapGetters, mapActions } from 'vuex';
import Modal from '../Modal/modal-save.vue';
import { required } from '@vuelidate/validators';
import api from '../../api';
import { useVuelidate } from '@vuelidate/core';

export default {
    components: {
        'modal': Modal
    },
    data: function () {
        return {
            name: '',
            description: ''
        };
    },
    setup(){
        return{
            v$: useVuelidate()
        }
    },
    computed: mapGetters({
        modalData: 'modalData'
    }),
    methods: {
        ...mapActions({
            closeModal: 'closeModal',
            resolveModal: 'resolveModal',
            rejectModal: 'rejectModal'
        }),
        save: function () {
            let data = {
                name: this.name,
                description: this.description
            };
            api.createProjectTemplate(this.modalData.id, data)
            .then(() => {
                this.resolveModal();
                this.closeModal();
            });
        },
        dismiss: function () {
            this.rejectModal();
            this.closeModal();
        }
    },
    validations() {
        return {name: {required}}
    },
    created: function () {
        this.name = this.modalData.name;
        this.description = this.modalData.description;
    }
};
</script>
