<template>
  <tr>
    <td>
      <div class="d-inline-flex" :style="{'padding-left': item.level*40 + 'px', position: 'relative'}">
        <span v-if="item.hasChildren" class="my-1 mr-2">
          <span v-if="item.showChildren" class="fas fa-caret-down action tree-collapse" @click="toggle"></span>
          <span v-else class="fas fa-caret-right action tree-collapse" @click="toggle"></span>
        </span>
        <span v-if="!edit" class="my-1">
          <router-link :to="{ name: 'projectDataDetails', params: routeParamsModel }">{{ item.name }}</router-link>
        </span>
        <form v-else @submit.prevent="acceptEditItem" class="form-inline my-1">
          <input type="text" class="form-control" v-model="newName" placeholder="Name"
              :class="{ 'is-invalid': v$.newName.$invalid }">
        </form>
      </div>
    </td>
    <td>
      <div v-if="!edit">
        <button class="btn btn-secondary btn-sm" @click="addChild()" aria-label="Add child" title="Add child">
          <span class="fas fa-plus"></span>
        </button>
        <button class="btn btn-secondary btn-sm" @click="editItem()" aria-label="Edit" title="Edit">
          <span class="fas fa-pen" aria-hidden="true"></span>
        </button>
        <button v-if="!item.hasChildren && item.parent !== null" class="btn btn-secondary btn-sm" @click="remove()"
            aria-label="Delete" title="Delete">
          <span class="fas fa-trash-alt" aria-hidden="true"></span>
        </button>
      </div>
      <div v-else>
        <button class="btn btn-secondary btn-sm" @click="acceptEditItem" aria-label="Save" title="Save" :disabled="v$.$invalid">
          <span class="fas fa-check" aria-hidden="true"></span>
        </button>
        <button class="btn btn-secondary btn-sm" @click="cancelEditItem" aria-label="Cancel" title="Cancel">
          <span class="fas fa-times" aria-hidden="true"></span>
        </button>
      </div>
    </td>
  </tr>
</template>


<style>
  .tree-collapse {
    color: grey;
  }
</style>


<script>
import { mapActions } from 'vuex';
import { isValidName } from '../../validators';
import { useVuelidate } from '@vuelidate/core';

export default {
    name: 'tree-item',
    props: {
        item: Object,
        routeParams: Object
    },
    data: function () {
        return {
            edit: false,
            newName: ''
        };
    },
    setup(){
        return{
            v$: useVuelidate()
        }
    },
    computed: {
        routeParamsModel: function () {
            return Object.assign({ dataId: this.item.id }, this.routeParams);
        }
    },
    methods: {
        ...mapActions({
            updateData: 'updateProjectData',
            deleteData: 'deleteProjectData',
            showModal: 'showModal',
            loadProjectHierarchy: 'loadProjectHierarchy'
        }),
        addChild: function () {
            this.$emit('add', this.item);
        },
        remove: function () {
            let params = {
                header: 'Delete data',
                text: 'Are you sure you want to delete this data?'
            };
            this.showModal({ template: 'modal-dialog', data: params })
            .then(() => this.deleteData({ id: this.item.id }))
            .then(() => this.loadProjectHierarchy());
        },
        toggle: function () {
            this.$emit('show', !this.item.showChildren);
        },
        editItem: function () {
            this.edit = true;
            this.newName = this.item.name;
        },
        acceptEditItem: function () {
            if (this.v$.$invalid === false) {
                this.edit = false;
                this.updateData({ id: this.item.id, data: { name: this.newName }})
                .then(() => this.loadProjectHierarchy());
                this.newName = '';
            }
        },
        cancelEditItem: function () {
            this.edit = false;
            this.newName = '';
        }
    },
    validations() {
        return {newName: {isValidName}}
    }
};
</script>
