<template>
  <tr>
    <td>
      <div :style="{'padding-left': item.level*40 + 'px', position: 'relative'}">
        <span class="form-inline">
          <label class="sr-only">Name</label>
          <input type="text" class="form-control my-1 mr-sm-2" v-model="newName" placeholder="Name" @keyup.enter="acceptEditItem"
              @keyup.esc="cancelEditItem" :class="{ 'is-invalid': v$.newName.$invalid }">
          <label class="sr-only">Data type</label>
          <select v-model="dataType" class="form-control my-1">
            <option value="continuous_rule">{{ useFormatPrefType('continuous_rule') }}</option>
            <option value="weighted_sum">{{ useFormatPrefType('weighted_sum') }}</option>
            <option value="categories_rule">{{ useFormatPrefType('categories_rule') }}</option>
            <option value="mrsort">{{ useFormatPrefType('mrsort') }}</option>
          </select>
        </span>
      </div>
    </td>
    <td>
      <button class="btn btn-secondary btn-sm" @click="acceptEditItem" aria-label="Save" title="Save" :disabled="v$.$invalid">
        <span class="fas fa-check" aria-hidden="true"></span>
      </button>
      <button class="btn btn-secondary btn-sm" @click="cancelEditItem" aria-label="Cancel" title="Cancel">
        <span class="fas fa-times" aria-hidden="true"></span>
      </button>
    </td>
  </tr>
</template>


<style>
  .tree-collapse {
    color: grey;
  }
</style>


<script>
import { mapActions } from 'vuex';
import { isValidName } from '../../validators';
import { useFormatPrefType } from '../../format';
import { useVuelidate } from '@vuelidate/core';

export default {
    name: 'tree-item',
    props: {
        item: Object
    },
    data: function () {
        return {
            newName: '',
            dataType: 'continuous_rule'
        };
    },
    setup(){
        return{
            v$: useVuelidate()
        }
    },
    methods: {
        ...mapActions({
            createChild: 'createProjectDataInput',
            loadProjectHierarchy: 'loadProjectHierarchy',
        }),
        useFormatPrefType,
        acceptEditItem: function () {
            if (this.v$.$invalid === false) {
                let data = {
                    name: this.newName,
                    data_type: 'generator',
                    preference_model: {
                        pref_type: this.dataType
                    }
                };
                this.createChild({ id: this.item.parent.id, data: data })
                .then(() => {
                    this.loadProjectHierarchy();
                    this.$emit('remove', this.item);
                });
                this.newName = '';
            }
        },
        cancelEditItem: function () {
            this.$emit('remove', this.item);
            this.newName = '';
        }
    },
    validations() {
        return {newName: {isValidName}}
    }
};
</script>
