<template>
  <div>
    <table class="table table-sm">
      <transition-group name="items" tag="tbody">
        <template v-for="(item, index) in flatTree" :key="index">
          <tr v-if="item.id !== null" is="vue:tree-item"
              v-show="showItem(item)" :route-params="routeParams" :item="item"
              @show="val => { showChildren(item, val); }" @add="addChild">
          </tr>
          <tr v-else is="vue:tree-new-item" v-show="showItem(item)" :item="item"
              @remove="removeNewChild">
          </tr>
        </template>
      </transition-group>
    </table>
  </div>
</template>


<style>
.items-enter-active, .items-leave-active {
  transition: opacity .1s;
}
.items-enter, .items-leave-to {
  opacity: 0;
}
</style>


<script>
import TreeItem from './TreeItem.vue';
import TreeNewItem from './TreeNewItem.vue';

/**
 * Recursive function for get the flat hierarchy.
 */
function getFlatTree(root, collapsed, newChild, parent=null) {
    let rootData = {
        name: root.name,
        id: root.id,
        parent: parent,
        hasChildren: root.input_data.length > 0,
        level: parent !== null ? parent.level + 1 : 0,
        showChildren: collapsed.indexOf(root.id) === -1
    };
    let flatTree = [ rootData ];
    for (let child of root.input_data) {
        flatTree.push(...getFlatTree(child, collapsed, newChild, rootData));
    }
    if (newChild.indexOf(rootData.id) !== -1) {
        flatTree.push({
            name: '',
            id: null,
            parent: rootData,
            hasChildren: false,
            level: rootData.level + 1,
            showChildren: true
        });
    }
    return flatTree;
}

export default {
    components: {
        'tree-item': TreeItem,
        'tree-new-item': TreeNewItem
    },
    props: {
        root: Object,
        routeParams: Object
    },
    data: function () {
        return {
            collapsed: [],
            newChild: [],
            tree: []
        };
    },
    computed: {
        flatTree: function () {
            return getFlatTree(this.root, this.collapsed, this.newChild);
        }
    },
    methods: {
        showChildren: function (item, show) {
            if (show) {
                let index = this.collapsed.indexOf(item.id);
                if (index !== -1) {
                    this.collapsed.splice(index, 1);
                }
            } else {
                if (this.collapsed.indexOf(item.id) === -1) {
                    this.collapsed.push(item.id);
                }
            }
        },
        /**
         * Returns tree if the item and all his parents have the `show` attribute true
         */
        showItem: function (item) {
            if (item.parent !== null) {
                return item.parent.showChildren && this.showItem(item.parent);
            } else {
                return true;
            }
        },
        addChild: function (parent) {
            if (this.newChild.indexOf(parent.id) === -1) {
                this.newChild.push(parent.id);
            }
        },
        removeNewChild: function (item) {
            let parentIndex = this.newChild.indexOf(item.parent.id);
            if (parentIndex !== -1) {
                this.newChild.splice(parentIndex, 1);
            }
        }
    }
};
</script>
