<template>
  <div id="app">
    <modal></modal>
    <notif></notif>
    <navbar></navbar>
    <router-view class="main-pane"></router-view>
  </div>
</template>


<script>
import router from './routes.js';
import Navbar from './components/Navbar.vue';
import Notif from './components/Notification/index.vue';
import Modal from './components/Modal/index.vue';
import { mapActions } from 'vuex';

export default {
    components: {
        Navbar,
        Notif,
        Modal
    },
    methods: mapActions({
        loadLocalUserData: 'loadLocalUserData'
    }),
    created: function () {
        this.loadLocalUserData();
    }
};
</script>
