<template>
  <modal header="Edit GeoData" @success="save" @cancel="cancel" :save-disabled="v$.$invalid">
    <form @submit.prevent>
      <div class="form-group field-required">
        <label for="geodata-name">Name</label>
        <input type="text" class="form-control" placeholder="GeoData name" v-model="name" id="geodata-name"
            :class="{ 'is-invalid': v$.name.$invalid }">
        <div class="invalid-feedback">
          The name should begin with an alphabetical character and contain alphanumerical characters or underscores.
          It should not be one of the <span class="text-help" :title="reservedWords">reserved words</span>.
        </div>
      </div>
      <div class="form-group">
        <label for="geodata-desc">Description</label>
        <textarea class="form-control" v-model="description" rows="2" spellcheck="true"
            placeholder="GeoData description" id="geodata-desc"></textarea>
      </div>
    </form>
  </modal>
</template>


<script>
import { mapGetters, mapActions } from 'vuex';
import Modal from '../Modal/modal-save.vue';
import { reservedWords, isValidName } from '../../validators';
import useVuelidate from '@vuelidate/core';

export default {
    components: {
        'modal': Modal
    },
    data: function () {
        return {
            name: '',
            description: ''
        };
    },
    setup(){
        return{
            v$: useVuelidate()
        }
    },
    computed: {
        reservedWords: function () {
            return reservedWords.join(', ')
        },
        ...mapGetters({
            modalData: 'modalData'
        }),
    },
    methods: {
        ...mapActions({
            closeModal: 'closeModal',
            resolveModal: 'resolveModal',
            rejectModal: 'rejectModal',
            updateGeoData: 'updateGeoData'
        }),
        save: function () {
            let data = {};
            if (this.name) { data['name'] = this.name; }
            if (this.description) { data['description'] = this.description; }
            if (Object.keys(data).length > 0) {
                this.updateGeoData({ id: this.modalData.geoData.id, data: data }).then(() => {
                    this.resolveModal();
                    this.closeModal();
                });
            }
        },
        cancel: function () {
            this.rejectModal();
            this.closeModal();
        }
    },
    validations() {
        return {name: { isValidName }}
    },
    created: function () {
        this.name = this.modalData.geoData.name;
        this.description = this.modalData.geoData.description;
    }
};
</script>
