<template>
  <div class="content-pane container-fluid">
    <h1>GeoData</h1>
    <div class="row row-buffer">
      <div class="col">
        <button class="btn btn-primary" @click="createNew">Create new</button>
      </div>
    </div>
    <table class="table table-manager">
      <thead>
        <tr>
          <th scope="col">Type</th>
          <th scope="col">
            Data name <span class="text-muted"><small>(Original name)</small></span>
          </th>
          <th scope="col">Description</th>
          <th class="version-col" scope="col">Version</th>
          <th scope="col">Attributes</th>
          <th scope="col" class="col-buttons">Actions</th>
        </tr>
      </thead>
      <tbody v-if="listGeoDataStream">
        <template v-for="elem in listGeoDataStream">
          <tr v-if="elem.stream" class="bg-light">
            <td>
              <span v-if="elem.stream.type=='wfs'" class="badge badge-pill badge-dark">wfs</span>
              <span v-else class="badge badge-pill badge-light">wms</span>
            </td>
            <td class="data-name">
              <div class="text-truncate" :title="elem.stream.name">{{ elem.stream.name }}</div>
              <div v-if="elem.stream.original_name != elem.stream.name" class="text-muted text-truncate" :title="elem.stream.original_name">
                <small>{{ elem.stream.original_name }}</small>
              </div>
            </td>
            <td>
              <div class="data-text col-description">{{ elem.stream.description }}</div>
            </td>
            <td colspan="2"></td>
            <td>
              <div v-if="!elem.display" class="btn btn-outline-secondary " @click="elem.switchDisplay()"><span class="fas fa-caret-down"></span></div>
              <div v-else class="btn btn-outline-secondary" @click="elem.switchDisplay()"><span class="fas fa-caret-up"></span></div>
            </td>
          </tr>
          <tr v-if="elem.display" v-for="data in elem.geoData">
            <td>
              <span v-if="elem.stream && elem.stream.type=='wfs'" class="badge badge-pill badge-dark">wfs</span>
              <span v-else-if="elem.stream" class="badge badge-pill badge-light">wms</span>
              <span class="badge badge-pill badge-info">GeoData</span>
            </td>
            <td class="data-name">
              <div class="text-truncate" :title="data.name">{{ data.name }}</div>
              <div v-if="data.original_name != data.name" class="text-muted text-truncate" :title="data.original_name">
                <small>{{ data.original_name }}</small>
              </div>
            </td>
            <td>
              <div class="data-text col-description">{{ data.description }}</div>
            </td>
            <td class="version-col">
              <div v-if="data.stream != null" class="data-text">
                {{ getStringDate(data.created_at) }}
              </div>
            </td>
            <td>
              <div class="data-text">
                <template v-for="(attr, i) in data.attributes">
                  <var>{{ attr.name }}</var><template v-if="i < (data.attributes.length-1)">, </template>
                </template>
              </div>
            </td>
            <td>
              <div class="btn-group">
                <button class="btn btn-outline-secondary btn-sm" arial-label="View" title="View" @click="showGeoData(data.id)">
                  <span class="fas fa-eye"></span> View
                </button>
                <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <button class="dropdown-item" type="button" title="Edit" @click="editGeoData(data)">
                    <span class="fas fa-edit"></span> Edit
                  </button>
                  <button class="dropdown-item" type="button" title="Set permissions" @click="editPermissions(data, $event)" :disabled="data.upload_user.id !== user.id">
                    <span class="fas fa-cog"></span> Set permissions
                  </button>
                  <button id="downloadDrop" class="dropdown-item dropdown-toggle" data-toggle="dropdown" type="button" aria-label="Download" title="Download">
                    <span class="fas fa-download"></span> Download
                  </button>
                  <div class="dropdown-menu" aria-labelledby="downloadDrop">
                    <button class="dropdown-item" type="button" @click="downloadGeoData({id: data.id, format: null})">.shp</button>
                    <button class="dropdown-item" type="button" @click="downloadGeoData({id: data.id, format: 'gpkg'})">.gpkg</button>
                    <button class="dropdown-item" type="button" @click="downloadGeoData({id: data.id, format: 'geojson'})">.geojson</button>
                    <button class="dropdown-item" type="button" @click="downloadGeoData({id: data.id, format: 'json'})">.json</button>
                    <button class="dropdown-item" type="button" @click="downloadGeoData({id: data.id, format: 'gml'})">.gml</button>
                  </div>
                  <button v-if="data.stream" class="dropdown-item" type="button" aria-label="Detach" title="Detach" @click="detachVersion(data)" :disabled="data.upload_user.id !== user.id">
                    <span class="fas fa-unlink"></span> Detach from stream
                  </button>
                  <div class="dropdown-divider"></div>
                  <button class="dropdown-item" type="button" aria-label="Delete" title="Delete" @click="deleteGeoData(data.id)">
                    <span class="fas fa-trash-alt"></span> Delete
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </template>
      </tbody>
    </table>
  </div>
</template>


<style scoped>
.table-manager {
    table-layout: auto;
    min-width: 500px;
}

.version-col{
  min-width: 15%;
}

.col-buttons {
    width: 120px;
}

.data-text {
    max-height: 150px;
    overflow-y: auto;
}

.data-name {
    font-family: monospace;
}
</style>


<script>
import { mapGetters, mapActions } from 'vuex';
import api from '../../api';

class GeoDataStream{
    constructor(geoData, stream, display){
        this.geoData = geoData;
        this.stream = stream;
        this.display = display;
    }

    switchDisplay(){
        this.display = !this.display;
    }
}

export default {
    name: 'geo-data-manager',
    data: function () {
        return {
            geoData: undefined,
            streams: undefined,
            listGeoDataStream: [],
            uploading: false
        };
    },
    computed: mapGetters({
        user: 'userDetails'
    }),
    methods: {
        ...mapActions({
            notify: 'displayNotification',
            showModal: 'showModal',
            showDataOnMap: 'showDataOnMap',
            clearGeoData: 'clearGeoData',
            loadPermissions: 'loadGeoDataPermissions',
            updatePermissions: 'updateGeoDataPermissions',
            downloadGeoData: 'downloadGeoData'
        }),
        loadGeoDataList: function () {
            return api.getGeoDataList()
            .then((resp) => {
                this.geoData = resp.data.geodata;
            })
            .then(() => this.sortGeoDataByStream());
        },
        loadStreamList: function () {
            return api.getStreamList()
            .then((resp) => { 
                this.streams = resp.data.stream;
            });
        },
        sortGeoDataByStream: function (){
          //Sort geoData in function of stream (one list per stream)
          let sortedGeoData = {};
          this.geoData.forEach(geoDataElem => {
              const stream = geoDataElem.stream != null ? geoDataElem.stream : "default";
              if (!sortedGeoData[stream]) {
                  sortedGeoData[stream] = [];
              }
              sortedGeoData[stream].push(geoDataElem);
          });
          //Link them with the real stream
          let listGeoDataStream = [
              new GeoDataStream(
                  sortedGeoData["default"],
                  undefined,
                  true
              )
          ];
          let keys = Object.keys(sortedGeoData).filter((key) => key != "default");
          for(let key of keys){
              let geoDataStream = new GeoDataStream(
                  sortedGeoData[key],
                  this.streams.find((stream) => stream.id == Number(key)),
                  false
              );
              listGeoDataStream.push(geoDataStream);
          }
          this.listGeoDataStream = listGeoDataStream;
        },
        deleteGeoData: function (geo_data_id) {
            api.deleteGeoData(geo_data_id)
            .then(() => this.loadGeoDataList())
            .catch((error) => {
                this.notify({ content: error.response.data.message || 'Error deleting the geo data' });
            });
        },
        createNew: function () {
            this.showModal({ template: 'new-geo-data' })
            .then(() => this.loadGeoDataList());
        },
        showGeoData: function (geoDataId) {
            this.showDataOnMap({
                geoDataId: geoDataId,
                overwrite: false
            });
        },
        editGeoData: function (geoData) {
            this.showModal({ template: 'edit-geo-data', data: { geoData: geoData }})
            .then(() => this.loadGeoDataList());
        },
        editPermissions: function (geoData, evt) {
            if (geoData.upload_user.id === this.user.id) {
                this.loadPermissions(geoData.id);
                this.showModal({ template: 'geo-data-permissions-edit' })
                .then((data) => this.updatePermissions({ geoDataId: geoData.id, data: data }))
                .then(() => this.loadGeoDataList());
            } else {
                evt.stopPropagation();
            }
        },
        detachVersion: function (geoData) {
            if(!geoData.stream){ return; }
            api.detachStreamVersion(geoData.stream, geoData.id)
            .then(() => this.loadGeoDataList());
        },
        getStringDate(creationDate){
            let newDate = new Date(creationDate)
            return newDate.toDateString() + ", " + newDate.toLocaleTimeString();
        }
    },
    created: function () {
        this.loadStreamList()
        .then(() => this.loadGeoDataList());
        this.clearGeoData();
    }
};
</script>
