<template>
  <modal header="Create GeoData" @success="save" @cancel="cancel" :save-disabled="uploading || v$.$invalid || formInvalid">
    <fieldset class="form-group">
      <legend>Data type</legend>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" v-model="dataChoice" value="vector" id="type-vector">
        <label class="form-check-label" for="type-vector">vector</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" v-model="dataChoice" value="raster" id="type-raster">
        <label class="form-check-label" for="type-raster">raster</label>
      </div>
    </fieldset>

    <form @submit.prevent>
      <div class="form-group">
        <label class="control-label" for="geodata-name">Name</label>
        <input type="text" class="form-control" placeholder="GeoData name" v-model="name" id="geodata-name"
            :class="{ 'is-invalid': v$.name.$invalid }">
        <small class="form-text">If this field is left empty, the data will have the same name as the file</small>
        <div class="invalid-feedback">
          The name should begin with an alphabetical character and contain alphanumerical characters or underscores.
          It should not be one of the <span class="text-help" :title="reservedWords">reserved words</span>.
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="geodata-desc">Description</label>
        <textarea class="form-control" v-model="description" rows="2" spellcheck="true"
            placeholder="GeoData description" id="geodata-desc"></textarea>
      </div>
      <upload-vector-form v-if="dataChoice === 'vector'" v-model:formData="formData" @invalidate="invalidate"></upload-vector-form>
      <upload-raster-form v-if="dataChoice === 'raster'" v-model:formData="formData" @invalidate="invalidate"></upload-raster-form>
      <p v-if="uploading" style="display: inline-block;">
        <span class="fas fa-sync upload-spinner"></span>
        uploading...
      </p>
    </form>

    <fieldset class="form-group">
      <legend>Visibility</legend>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="visib-public" v-model="is_public" :value="true">
        <label class="form-check-label" for="visib-public">public</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="visib-private" v-model="is_public" :value="false">
        <label class="form-check-label" for="visib-private">private</label>
      </div>
    </fieldset>
  </modal>
</template>


<style scoped>
.upload-spinner {
    -webkit-animation: 1s linear 0s spin infinite;
    animation: 1s linear 0s spin infinite;
}

@-webkit-keyframes spin { from { transform: rotate(0deg); } to { transform: rotate(359deg); } }
@keyframes spin { from { transform: rotate(0deg); } to { transform: rotate(359deg); } }
</style>


<script>
import { mapActions } from 'vuex';
import api from '../../api';
import Modal from '../Modal/modal-save.vue';
import { or, maxLength } from '@vuelidate/validators';
import useVuelidate from '@vuelidate/core';
import { reservedWords, isValidName } from '../../validators';
import UploadVectorForm from './upload-vector-form.vue';
import UploadRasterForm from './upload-raster-form.vue';

export default {
    components: {
        'modal': Modal,
        'upload-vector-form': UploadVectorForm,
        'upload-raster-form': UploadRasterForm
    },
    data: function () {
        return {
            name: '',
            description: '',
            dataChoice: 'vector',
            is_public: false,
            files: [],
            uploading: false,
            formData: undefined,
            formInvalid: false
        };
    },
    setup(){
        return{
            v$: useVuelidate()
        }
    },
    computed: {
        reservedWords: function () {
            return reservedWords.join(', ');
        }
    },
    methods: {
        ...mapActions({
            closeModal: 'closeModal',
            resolveModal: 'resolveModal',
            rejectModal: 'rejectModal',
            refreshUserToken: 'refreshUserToken',
            notify: 'displayNotification',
            updateGeoData: 'updateGeoData',
            updatePermissions: 'updateGeoDataPermissions'
        }),
        /**
         * Update the data with new name and description
         * @params {int} geoDataId - the id of the geo data to update
         * @returns {Promise} the api call promise, or a resolved promise if the name and
         * description are not modified
         */
        updateNewData: function (geoData) {
            if (this.name || this.description) {
                let data = {};
                data['name'] = this.name ? this.name : geoData.name;
                data['description'] = this.description ? this.description : geoData.description;
                return this.updateGeoData({ id: geoData.id, data: data });
            } else {
                return Promise.resolve();
            }
        },
        /**
         * Update the data permissions
         * @params {int} geoDataId - the id of the geo data
         * @returns {Promise} the api call promise
         */
        updateNewPermissions: function (geoDataId) {
            let perms = {
                is_public: this.is_public
            };
            return this.updatePermissions({ geoDataId: geoDataId, data: perms });
        },
        save: function () {
            this.uploading = true;
            this.refreshUserToken()  // refresh the token to make sure the connection will not expire during the upload
            .then(() => {  // upload the files
                if (this.dataChoice === 'vector') {
                    return api.uploadGeoData(this.formData);
                } else if (this.dataChoice === 'raster') {
                    return api.uploadRasterGeoData(this.formData);
                }
            })
            .catch((error) => {
                this.uploading = false;
                this.notify({ content: error.message || 'Upload failed' });
            })
            .then((resp) => {
                // update the metadata (name and description) and permissions after the files have been uploaded
                this.closeModal();
                let id = resp.data.geodata.id;
                Promise.all([this.updateNewData(resp.data.geodata), this.updateNewPermissions(id)])
                .then(() => this.resolveModal());
            });
        },
        invalidate: function (invalid) {
            this.formInvalid = invalid;
        },
        cancel: function () {
            this.rejectModal();
            this.closeModal();
        }
    },
    validations() {
        return {
            name: {
                nameValid: or(isValidName, maxLength(0))
            }
        }
    }
};
</script>
