<template>
  <div>
    <div class="form-group field-required">
      <label class="control-label">Files</label>
      <file-upload @update:files="files = $event" :disabled="disabled" :multiple="true" :class="{ 'is-invalid': v$.files.$invalid }">
      </file-upload>
      <div v-if="uploadMsg" class="alert"
          :class="{ 'alert-danger': uploadMsg.type === 'error', 'alert-warning': uploadMsg.type === 'warning' }">
        {{ uploadMsg.text }}
      </div>
    </div>
  </div>
</template>


<script>
import { minLength } from '@vuelidate/validators';
import FileUpload from '../FileUpload.vue';
import { useVuelidate } from '@vuelidate/core';


const splitExt = (filename) => {
    let extId = filename.lastIndexOf('.');
    let name = filename;
    let ext = '';
    if (extId > 0) {
        name = filename.substring(0, extId);
        ext = filename.slice(extId);
    }
    return { name: name, ext: ext };
};

const isZipFile = (file) => splitExt(file.name).ext.toLowerCase() === '.zip';

const getUniqueName = (files) => {
    let fileNames = files.map(f => splitExt(f.name).name);
    if (fileNames.length > 0) {
        return fileNames.reduce((acc, val) => (acc === val) ? acc : null);
    } else {
        return null;
    }
};

const isValidShapefile = (files) => {
    let fileExts = files.map(f => splitExt(f.name).ext.toLowerCase());
    return (fileExts.includes('.shp') && fileExts.includes('.shx') && fileExts.includes('.dbf'));
};

const hasProjFile = (files) => {
    let fileExts = files.map(f => splitExt(f.name).ext.toLowerCase());
    return (fileExts.includes('.prj'));
};

const validVectorFiles = (files) => {
    let fArray = Array.from(files);
    if (fArray.length == 1) {
        return true;
    }
    else if (fArray.length > 1 && getUniqueName(fArray) !== null && isValidShapefile(fArray)) {
        return true;
    }
    else {
        return false;
    }
};



export default {
    props: {
        disabled: {
            type: Boolean,
            default: false
        },
        formData: {
            type: FormData,
            default: new FormData()
        }
    },
    emits: ['update:formData', 'invalidate'],
    components: {
        'file-upload': FileUpload
    },
    data: function () {
        return {
            files: [],
            uploadMsg: {
                typte: null,
                text: ""
            }
        };
    },
    setup(){
        return{
            v$: useVuelidate()
        }
    },
    watch: {
        files: function (filesList) {
            let files = Array.from(filesList);
            this.uploadMsg = null;
            let name = getUniqueName(files);
            if (files.length === 0) {
                this.uploadMsg = { type: 'error', text: 'No file selected' };
            }
            else if (files.length > 1 && name === null) {
                this.uploadMsg = { type: 'error', text: 'Multiple different file names found' };
            }
            else if (files.length > 1 && isValidShapefile(files) === false) {
                this.uploadMsg = { type: 'error', text: 'The files .shp, .shx and .dbf are mandatory' };
            }
            else if (files.length > 1 && hasProjFile(files) === false) {
                this.uploadMsg = {
                    type: 'warning',
                    text: `No projection file "${name}.prj" found. The data will be assumed to be in WGS84 format.`
                };
            }
            let newFormData = new FormData();
            for (let f of files) {
                newFormData.append('file', f);
            }
            this.$emit('update:formData', newFormData);
        },
        'v$.$invalid': {
            handler: function (invalid) {
                this.$emit('invalidate', invalid);
            },
            deep: true
        }
    },
    validations() {
        return {
            files: {
                minLength: minLength(1),
                validVectorFiles
            }
        }
    },
    created: function () {
        this.$emit('invalidate', this.v$.$invalid);
    }
};
</script>
