<template>
  <div>
    <div class="form-group field-required">
      <label class="control-label">GeoTiff file</label>
      <file-upload @update:files="data.files = $event" :files="data.files" :disabled="disabled" :multiple="false" :file-type="'image/tiff'"
          :class="{ 'is-invalid': v$.data.files.$invalid }">
      </file-upload>
    </div>
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Start</th>
          <th>Stop</th>
          <th>Step</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input type="number" step="any" v-model.number="data.start" class="form-control form-control-sm"
                :class="{ 'is-invalid': v$.data.start.$invalid }">
          </td>
          <td>
            <input type="number" step="any" v-model.number="data.stop" class="form-control form-control-sm"
                :class="{ 'is-invalid': v$.data.stop.$invalid }">
          </td>
          <td>
            <input type="number" step="any" v-model.number="data.step" class="form-control form-control-sm"
                :class="{ 'is-invalid': v$.data.step.$invalid }">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>


<script>
import { required, minLength } from '@vuelidate/validators';
import { useVuelidate } from '@vuelidate/core';
import FileUpload from '../FileUpload.vue';

export default {
    props: {
        disabled: {
            type: Boolean,
            default: false
        }
    },
    emits: ['update:formData', 'invalidate'],
    components: {
        'file-upload': FileUpload
    },
    watch: {
        data: {
            handler: function (newData) {
                let formData = new FormData();
                for (let f of newData.files) {
                    formData.append('file', f);
                }
                let classes = [];
                if (newData.start !== null && newData.stop !== null && newData.step !== null) {
                    if (newData.start < newData.stop && newData.step > 0) {
                        for (let i = newData.start; i < newData.stop; i += newData.step) {
                            classes.push([i, i + newData.step, i]);
                        }
                    } else if (newData.start > newData.stop && newData.step < 0) {
                        for (let i = newData.start; i > newData.stop; i += newData.step) {
                            classes.push([i, i + newData.step, i]);
                        }
                    }
                }
                formData.append('classes', JSON.stringify(classes));
                this.$emit('update:formData', formData);
            },
            deep: true
        },
        'v$.$invalid': {
            handler: function (invalid) {
                this.$emit('invalidate', invalid);
            },
            deep: true
        }
    },
    data: function () {
        return {
            data: {
                files: [],
                start: null,
                stop: null,
                step: null
            }
        };
    },
    setup(){
        return{
            v$: useVuelidate()
        }
    },
    methods: {
    },
    validations() {
        return {
            data: {
                files: { minLength: minLength(1), required },
                start: { required },
                stop: {
                    required,
                    differentThanStart: (value, parentVm) => value !== parentVm.start
                },
                step: {
                    required,
                    stepOrder: (value, parentVm) => {
                        if (parentVm.start < parentVm.stop) {
                            return value > 0;
                        } else if (parentVm.start > parentVm.stop) {
                            return value < 0;
                        } else {
                            return false;
                        }
                    }
                }
            }
        }
    },
    created: function () {
        this.$emit('invalidate', this.v$.$invalid);
    }
};
</script>
