<template>
  <modal size="xl" :header="modalTitle" @success="save" @cancel="dismiss" :save-disabled="childInvalid || v$.name.$invalid">
    <div class="row">
      <div class="col-md-5 col-sm-12 form-inline">
        <field v-if="data.name" v-model="name"></field>
        <template v-else>
          <input class="form-control" type="text" v-model="name" placeholder="Name" style="font-size: initial;"
              :class="{ 'is-invalid': v$.name.$invalid }">
          <div class="invalid-feedback">
            The name should begin with an alphabetical character and contain alphanumerical characters or underscores.
            It should not be one of the <span class="text-help" :title="reservedWords">reserved words</span>.
          </div>
        </template>
      </div>
      <div class="col-md-7 col-sm-12">
        <form @submit.prevent class="form-group">
          <label class="control-label" for="data-description">Description</label>
          <textarea class="form-control" v-model="description" spellcheck="true"
              placeholder="Description" id="data-description">
          </textarea>
        </form>
      </div>
    </div>
    <component :is="modelEditor" ref="child" @save="data => { modelData = data }"
        @invalid="invalid => { childInvalid = invalid }"></component>
  </modal>
</template>


<script>
import { mapGetters, mapActions } from 'vuex';
import Modal from '../Modal/modal-save.vue';
import Field from '../Field.vue';
import ContinuousEditor from '../PreferenceModels/continuous-modal-editor.vue';
import GeoBufferEditor from '../PreferenceModels/geo-buffer-modal-editor.vue';
import { reservedWords, isValidName } from '../../validators';
import { useVuelidate } from '@vuelidate/core';

export default {
    components: {
        'modal': Modal,
        'field': Field,
        'continuous-editor': ContinuousEditor,
        'geo-buffer-editor': GeoBufferEditor
    },
    setup(){
        return{
            v$: useVuelidate()
        }
    },
    computed: {
        ...mapGetters({
            data: 'projectDataDetails'
        }),
        modelEditor: function () {
            if ('preference_model' in this.data) {
                if (this.data.preference_model.pref_type === 'continuous_rule') {
                    return 'continuous-editor';
                } else if (this.data.preference_model.pref_type === 'geo_buffer') {
                    return 'geo-buffer-editor';
                } else {
                    return null;
                }
            }
        },
        modalTitle: function () {
            if ('preference_model' in this.data) {
                if (this.data.preference_model.pref_type === 'continuous_rule') {
                    return 'Edit rules data';
                } else if (this.data.preference_model.pref_type === 'geo_buffer') {
                    return 'Edit buffer data';
                }
            }
        },
        reservedWords: function () {
            return reservedWords.join(', ');
        }
    },
    data: function () {
        return {
            name: '',
            description: '',
            modelData: {},
            childInvalid: false
        };
    },
    watch: {
        data: function (data) { this.setLocalData(data); }
    },
    methods: {
        ...mapActions({
            updateProjectData: 'updateProjectData',
            createProjectSharedData: 'createProjectSharedData',
            resolveModal: 'resolveModal',
            rejectModal: 'rejectModal',
            closeModal: 'closeModal'
        }),
        setLocalData: function (data) {
            this.name = data.name;
            this.description = data.description;
        },
        save: function () {
            if (this.$refs.child) {
                this.$refs.child.save();
            }
            let data = {
                name: this.name,
                description: this.description,
            };
            data = Object.assign(this.modelData, data);
            if (this.data.id === undefined) {
                data = Object.assign(data, { data_type: this.data.data_type });
                this.createProjectSharedData(data);
            } else {
                this.updateProjectData({ id: this.data.id, data: data });
            }
            this.resolveModal();
            this.closeModal();
        },
        dismiss: function () {
            this.rejectModal();
            this.closeModal();
        }
    },
    validations() {
        return {name: { isValidName }}
    },
    created: function () {
        this.setLocalData(this.data);
    }
};
</script>
